button {
	align-items: center;
	appearance: none;
	background-color: #fff;
	border: 1px solid #d5d8d8;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	font-size: .9rem;
	height: 40px;
	justify-content: center;
	outline: none;
	padding: 0 16px;
	transition: background .5s, border .5s, color .5s;
	user-select: none;
	white-space: nowrap;
}

button,
button > a {
	color: #3a4444;
	text-decoration: none;
}

button:hover {
	background-color: #f2f2f2;
}

button.green:not(.light):not(.lined) {
	position: relative;
	background-color: rgb(69, 198, 179);
	background-image: linear-gradient(145deg, rgba(69,198,179,1) 0%, rgba(68,211,136,1) 100%);
	border-color: transparent;
	box-shadow: 0 3px 3px 0 rgba(68,211,136,.3);
	z-index: 1;
}

button.green:not(.light):not(.lined)::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(65,171,154);
	background-image: linear-gradient(145deg, rgba(65,171,154,1) 0%, rgba(64,183,124,1) 100%);
	content: "";
	opacity: 0;
	transition: opacity .5s;
	z-index: -1;
}

button.green:not(.light):not(.lined):hover {
	background-color: transparent;
}

button.green:not(.light):not(.lined):hover::before {
	opacity: 1;
}

button.green:not(.light):not(.lined),
button.green:not(.light):not(.lined) > a {
	color: #fff;
}

button.green.light {
	background-color: #eefff6;
	border: 1px solid #eefff6;
	color: #35c379;
}

button.green.light:hover {
	background-color: #e0efe7;
	border-color: #35c379;
}

button.green.lined {
	background-color: transparent;
	border-color: #35c379;
}

button.green.lined,
button.green.lined > a {
	color: #35c379;
}

button.green.lined:hover {
	background-color: #e0efe7;
	border-color: #d5d8d8;
}

button.red.lined {
	background-color: transparent;
	border-color: #d20000;
	color: #d20000;
}

button.red.lined:hover {
	background-color: #faf2e6;
	border-color: #d5d8d8;
	color: #d20000;
}

button.white.lined {
	background-color: transparent;
	color: #fff;
}

button.white.lined:hover {
	background-color: #fff;
	color: #212121;
}

button[state="progress"],
button[state="progress"]:hover {
	position: relative;
	background-color: #ccc !important;
	background-image: none !important;
	border-color: #828989 !important;
	box-shadow: none !important;
	cursor: default;
}

button[state="progress"],
button[state="progress"] a,
button[state="progress"]::before {
	color: #212121 !important;
}

button[state="progress"]::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	background-color: #ccc !important;
	background-image: none !important;
	border-radius: 4px;
	content: "...";
	display: flex;
	justify-content: center;
	opacity: 1;
	z-index: 10;
}

input[type="text"] {
	appearance: none;
	border: none;
	height: 100%;
	padding: 0 15px;
}

input[type="checkbox"] {
	position: relative;
	cursor: pointer;
	margin: -9px 15px 0 0;
}

input[type="checkbox"]:before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background-color:#e9e9e9;
}

input[type="checkbox"]:checked:before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background-color: #35c379;
}

input[type="checkbox"]:checked:after {
	content: "";
	display: block;
	width: 7px;
	height: 13px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 2px;
	left: 6px;
}
