@font-face {
	font-family: 'Montserrat';
	src: url('../font/Montserrat/Montserrat-Regular.eot');
	src: url('../font/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/Montserrat/Montserrat-Regular.woff2') format('woff2'),
	url('../font/Montserrat/Montserrat-Regular.woff') format('woff'),
	url('../font/Montserrat/Montserrat-Regular.ttf') format('truetype'),
	url('../font/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../font/Montserrat/Montserrat-Bold.eot');
	src: url('../font/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/Montserrat/Montserrat-Bold.woff2') format('woff2'),
	url('../font/Montserrat/Montserrat-Bold.woff') format('woff'),
	url('../font/Montserrat/Montserrat-Bold.ttf') format('truetype'),
	url('../font/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'icon';
	src: url('../font/FontIcon/fonticon.eot');
	src: url('../font/FontIcon/fonticon.eot#iefix') format('embedded-opentype'),
	url('../font/FontIcon/fonticon.woff2') format('woff2'),
	url('../font/FontIcon/fonticon.woff') format('woff'),
	url('../font/FontIcon/fonticon.ttf') format('truetype'),
	url('../font/FontIcon/fonticon.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: 'icon';
		src: url('../font/FontIcon/fonticon.svg#icon') format('svg');
	}
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icon";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	/*margin-right: .2em;*/
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	/*margin-left: .2em;*/

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-up-open:before { content: '\e800'; } /* '' */
.icon-arrow-down-open:before { content: '\e801'; } /* '' */
.icon-arrow-left-open:before { content: '\e802'; } /* '' */
.icon-arrow-right-open:before { content: '\e803'; } /* '' */
.icon-arrow-up:before { content: '\e804'; } /* '' */
.icon-arrow-down:before { content: '\e805'; } /* '' */
.icon-arrow-left:before { content: '\e806'; } /* '' */
.icon-arrow-right:before { content: '\e807'; } /* '' */
.icon-arrow-up-triangle:before { content: '\e808'; } /* '' */
.icon-arrow-down-triangle:before { content: '\e809'; } /* '' */
.icon-arrow-left-triangle:before { content: '\e80a'; } /* '' */
.icon-arrow-right-triangle:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-close:before { content: '\e80e'; } /* '' */
.icon-close-circled:before { content: '\e80f'; } /* '' */
.icon-menu:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-youtube:before { content: '\e814'; } /* '' */
.icon-star-filled:before { content: '\e815'; } /* '' */
.icon-tickets:before { content: '\e816'; } /* '' */
.icon-blog:before { content: '\e817'; } /* '' */
.icon-chatting:before { content: '\e818'; } /* '' */
.icon-dashboard:before { content: '\e819'; } /* '' */
.icon-megaphone:before { content: '\e81a'; } /* '' */
.icon-recommendation:before { content: '\e81b'; } /* '' */
.icon-check-circled:before { content: '\e81c'; } /* '' */
.icon-down-circled:before { content: '\e81d'; } /* '' */
.icon-left-circled:before { content: '\e81e'; } /* '' */
.icon-right-circled:before { content: '\e81f'; } /* '' */
.icon-up-circled:before { content: '\e820'; } /* '' */
