@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

html, body, #app, .container, .wrapper {
	height: 100%;
	width: 100%;
}

html, body {
	font-family: "Kosugi", sans-serif;
	font-feature-settings: "palt";
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
	letter-spacing: .8px;
	line-height: 1.5;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.button-set {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.container {
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

/*@media (max-width: 1239px) {*/
/*	.container {*/
/*		width: 920px;*/
/*	}*/
/*}*/

/*@media (max-width: 959px) {*/
/*	.container {*/
/*		width: 720px;*/
/*	}*/
/*}*/

/*@media (max-width: 767px) {*/
/*	.container {*/
/*		width: 100%;*/
/*	}*/
/*}*/

.wrapper {
	position: relative;
}

.clickable {
	cursor: pointer;
}

.no-scrollbar {
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/**
 * Badge
 */
.badge {
	position: absolute;
	top: -5px;
	right: 0;
	align-items: center;
	background-color: #d20000;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #fff;
	display: flex;
	font-size: .8rem;
	height: 18px;
	justify-content: center;
	min-width: 18px;
}

/**
 * Tag
 */
.tag {
	align-items: center;
	background-color: #ccc;
	border-radius: .2em;
	cursor: pointer;
	display: flex;
	font-size: .8rem;
	font-weight: normal;
	justify-content: center;
	padding: .25rem .4em;
	user-select: none;
}

.tag:hover {
	background-color: #45C6B3;
	color: #fff;
}

/*
 * Typography
 */
.text-bold {
	font-weight: bold;
}

.text-green {
	color: #45C6B3;
}

/**
 * Flex
 */
[flex-align],
[flex-valign],
[flex-col-align] {
	display: flex;
}

[flex-col-align] {
	flex-direction: column;
}

[flex-align="between"],
[flex-col-align="between"] {
	justify-content: space-between;
}

[flex-align="center"] {
	justify-content: center;
}

[flex-align="even"] {
	justify-content: space-evenly;
}

[flex-align="left"] {
	justify-content: flex-start;
}

[flex-valign="center"] {
	align-items: center;
}

[flex-valign="stretch"] {
	align-items: stretch;
}
