<template>
	<div class="page">
		<div class="container">
			<div class="page-title">
				<h1>
					<p>MATCHKUNくんとは</p>
				</h1>
			</div>
			<div class="content">
				<div class="section">
<!--					<div class="section-title">-->
<!--						<h2>新しいパスワードを登録しました</h2>-->
<!--					</div>-->
					<div class="section-content">
						<p>
							企業・団体・フリーランスの方々が、自由に「できたらいいな」、「あったらいいな」を叶える場所です。
							組織の大きさにとらわれずに、お互いの強みをさらに強く、お互いの弱みは、得意とするパートナーがサポ
							ートしてくれるそんな出会いの場所それが「MATCHKUN」です。
						</p>
						<p v-if="!$store.state.user" flex-align="center" style="margin-top: 30px">
							<button class="green">
								<router-link :to="{ name: 'register' }">
									無料で登録（30秒）
								</router-link>
							</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'About',
	mounted() {
		console.log(this.$store.state.user)
	}
}
</script>

<style scoped>
.container {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 400px;
}

.page-title {
	color: #596161;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 30px;
}
</style>
