<template>
	<div v-if="user" id="accounts">
		<div class="wrapper">
			<mat-panel v-if="!isMobile" active-page="accounts" />
			<div class="content">
<!--				<mat-user-email-not-verified v-if="!user.is_email_verified" />-->
				<div class="content-inner">
					<div class="page-title">
						<h1>プロフィール編集</h1>
					</div>
					<div class="item">
						<div class="title-bar">
							<h2>個人プロフィール</h2>
							<button class="green lined">
								<router-link :to="{ name: 'account-edit' }">変更</router-link>
							</button>
						</div>
						<div class="row one-line">
							<div v-if="user.avatar" class="avatar" :style="{
								backgroundImage: 'url(' + avatarUrl + user.avatar + ')'
							}">
							</div>
							<div class="name">{{ user.name }}</div>
						</div>
						<div class="row">
							<div class="label">所属企業</div>
							<div class="text">{{ user.project.attributes.company_name }}</div>
						</div>
						<div class="row">
							<div class="label">自己紹介（最大500文字まで）</div>
							<div class="text"></div>
						</div>
						<div v-if="1 === 2" class="row">
							<div class="label">公開設定</div>
							<div class="text">{{ user.is_public ? '公開する' : '公開しない' }}</div>
						</div>
					</div>
					<div class="item">
						<div class="title-bar">
							<h2>登録中のメールアドレス</h2>
							<button class="green lined">
								<router-link :to="{ name: 'account-edit' }">変更</router-link>
							</button>
						</div>
						<div class="row">
							<div class="text">{{user.email}}</div>
						</div>
					</div>
					<div class="item">
						<div class="title-bar">
							<h2>パスワード</h2>
							<button class="green lined">
								<router-link :to="{ name: 'change-password' }">変更</router-link>
							</button>
						</div>
						<div class="row one-line">
							<div class="text">●●●●●●●●●●●</div>

						</div>
					</div>
					<div v-if="1 === 2" class="item">
						<div class="title-bar">
							<h2>ユーザー管理</h2>
						</div>
						<div class="members">
							<div class="heading">
								<div>名前</div>
								<div>メールアドレス</div>
								<div>登録日</div>
							</div>
						</div>
						<button class="green lined">
							<router-link :to="{ name: 'add-member' }">ユーザー追加</router-link>
						</button>
					</div>
<!--					<div class="item">-->
<!--						<div class="title-bar">-->
<!--							<h2>メール配信設定</h2>-->
<!--							<button class="green lined">-->
<!--								<router-link :to="{ name: 'notification-settings' }">変更</router-link>-->
<!--							</button>-->
<!--						</div>-->
<!--						<div class="row">-->
<!--							<div class="text">メールでの通知・受信をご希望する項目を選択してください。</div>-->
<!--						</div>-->
<!--					</div>-->
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { getUserData } from '../mixins/global';

export default {
	name: 'MyPage',
	data () {
		return {
			isMobile: false,
			project: null,
			user: null
		};
	},
	mounted() {
		this.isMobile = window.innerWidth <= 768;
		window.addEventListener('resize', () => {
			this.isMobile = window.innerWidth <= 768;
		});

		getUserData()
			.then(user => {
				this.user = user;
				this.project = user.project;
			})
			.catch(err => {
				console.log(err);
			});
	}
}
</script>

<style scoped>
#accounts > .wrapper {
	align-items: stretch;
	display: flex;
}

.content {
	flex-grow: 1;
}

.page-title {
	color: #596161;
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 40px;
}

.content-inner {
	margin: 0 auto;
	padding-top: 40px;
	width: 850px;
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 40px);
	}
}

.title-bar,
.one-line {
	align-items: center;
	display: flex;
}

.title-bar {
	border-left: 5px solid #3bd986;
	height: 50px;
	/*justify-content: space-between;*/
	margin-bottom: 20px;
}

.title-bar h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 30px;
}

.item,
.row {
	margin-bottom: 50px;
}

.avatar {
	background-color: #eaebeb;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 100px;
	margin-right: 30px;
	overflow: hidden;
	width: 100px;
}

.name {
	font-size: 1.5em;
}

.row .label {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}
.one-line .text {
	margin-right: 30px;
}

.members .heading {
	border-bottom: 1px solid #ccc;
	display: grid;
	font-size: 1.2em;
	grid-template-columns: 1fr 2fr 2fr;
	margin-bottom: 20px;
	padding: 0 20px 20px;
}
</style>
