<template>
	<div v-if="user" id="account-edit">
		<div class="wrapper">
			<mat-panel v-if="!isMobile"/>
			<div class="content">
<!--				<mat-user-email-not-verified v-if="!user.is_email_verified" />-->
				<div class="content-inner">
					<div class="page-title">
						<h1>プロフィール編集</h1>
					</div>
					<div class="item">
						<div class="title-bar">
							<h2>プロフィール写真</h2>
						</div>
						<div class="row one-line">
							<div class="avatar" :style="{
								backgroundImage: 'url(' + avatarUrl + user.avatar + ')'
							}"></div>
							<input type="file" ref="avatar-image-file" style="display: none"
								   @change="upload"
							>
							<button class="green lined" :state="uploading ? 'progress' : ''"
									@click="$refs['avatar-image-file'].click()"
							>アップロード</button>
						</div>
						<div class="row">
							<div class="label">氏名</div>
							<div class="text">
								<input type="text" v-model="user.name">
							</div>
						</div>
						<div class="row">
							<div class="label">所属企業</div>
							<div class="text">
								<input type="text" v-model="user.project.attributes.company_name">
							</div>
						</div>
						<div class="row">
							<div class="label">メールアドレス</div>
							<div class="text">
								<input type="text" v-model="user.email">
							</div>
						</div>
						<div class="row">
							<div class="label">役職</div>
							<div class="text">
								<input type="text" v-model="user.position">
							</div>
						</div>
						<div class="row">
							<div class="label">自己紹介（最大500文字まで）</div>
							<div class="text">
								<textarea rows="5" v-model="user.introduction"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="label">ミッション</div>
							<div class="text">
								<textarea rows="5" v-model="user.duty"></textarea>
							</div>
						</div>
						<div v-if="1 === 2" class="row">
							<div class="label">公開設定</div>
							<div class="text one-line">
								<input type="checkbox" id="is_public" v-model="user.is_public">
								<label for="is_public">プロフィールを公開する</label>
							</div>
						</div>
						<div class="row one-line">
							<button class="green" :style="{
								marginRight: '30px'
							}"
									@click="saveAccount"
							>
								変更を保存
							</button>
							<button class="lined"
								@click="$router.push({ name: 'accounts' })"
							>
								キャンセル
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<mat-modal v-if="message" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import { getUserData, saveUserData, uploadUserAvatar } from '../mixins/global';

export default {
	name: 'AccountEdit',
	data () {
		return {
			message: '',
			modal: {},
			savingInProgress: false,
			project: this.$store.state.project,
			uploading: false,
			user: null,
			isEmailChanged: false,
			isMobile: false,
			isUpdated: false
		};
	},
	mounted() {
		this.isMobile = window.innerWidth <= 768;
		window.addEventListener('resize', () => {
			this.isMobile = window.innerWidth <= 768;
		});

		getUserData()
			.then(user => {
				this.user = user;
			})
			.catch(err => {
				console.log(err);
			});
	},
	watch: {
		message (val) {
			if (val === '' && this.isUpdated) {
				if (this.isEmailChanged) {
					// Log user out
					this.$store.state.user = null;
					localStorage.clear();
					if (this.$router.currentRoute.name !== 'home') {
						this.$router.push({name: 'home'});
					}
				} else {
					this.$router.push({
						name: 'accounts'
					});
				}
			}
		}
	},
	methods: {
		saveAccount () {
			if (this.savingInProgress) return;
			let data = {};
			if (this.user.project.attributes.company_name && this.user.project.attributes.company_name.trim().length) data.company = this.user.project.attributes.company_name;
			if (this.user.email && this.user.email.trim().length) data.email = this.user.email;
			if (this.user.duty && this.user.duty.trim().length) data.duty = this.user.duty;
			if (this.user.introduction && this.user.introduction.trim().length) data.introduction = this.user.introduction;
			if (this.user.name && this.user.name.trim().length) data.name = this.user.name;
			if (this.user.position && this.user.position.trim().length) data.position = this.user.position;
			this.savingInProgress = true;

			saveUserData(data)
				.then(data => {
					this.isUpdated = true;
					let msg = '保存されました';
					if (data.isEmailChanged) {
						this.isEmailChanged = true;
						msg += '<br>新しいメールで承認する必要があります';
					}
					this.message = msg;
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.savingInProgress = false;
				});
		},

		upload (e) {
			if (!e.target.files.length) return;
			if (this.uploading) return;
			this.uploading = true;
			uploadUserAvatar(e.target.files[0])
				.then(uri => {
					this.user.avatar = uri;
					this.$store.state.user.avatar = uri;
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.uploading = false;
				});
		}
	}
}
</script>

<style scoped>
#account-edit > .wrapper {
	align-items: stretch;
	display: flex;
}

.content {
	flex-grow: 1;
}

.page-title {
	color: #596161;
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 40px;
}

.content-inner {
	margin: 0 auto;
	padding-top: 40px;
	width: 850px;
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}

.title-bar,
.one-line {
	align-items: center;
	display: flex;
}

.title-bar {
	/*border-left: 5px solid #3bd986;*/
	height: 50px;
	justify-content: space-between;
	/*margin-bottom: 20px;*/
}

.title-bar h2 {
	font-size: 1.2em;
	font-weight: bold;
	/*margin-left: 10px;*/
	margin-bottom: 20px;
}

.item,
.row {
	margin-bottom: 50px;
}

.avatar {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 100px;
	margin-right: 30px;
	overflow: hidden;
	width: 100px;
}

.name {
	font-size: 1.5em;
}

.row .label {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}
.one-line .text {
	margin-right: 30px;
}

.members .heading {
	border-bottom: 1px solid #ccc;
	display: grid;
	font-size: 1.2em;
	grid-template-columns: 1fr 2fr 2fr;
	margin-bottom: 20px;
	padding: 0 20px 20px;
}

input[type="text"] {
	border: 1px solid #D5D8D8;
	border-radius: 4px;
	height: 50px;
	outline: none;
	width: 50%;
}

input[type="text"]:focus {
	border-color: #35c379;
}

textarea {
	border: 1px solid #D5D8D8;
	border-radius: 4px;
	color: #2f3a3a;
	font-size: 1.2em;
	padding: 10px;
	width: 100%;
}
</style>
