<template>
	<div class="page">
		<div class="register">
			<mat-form
				:data="form"
			>
				<template v-slot:formTitle>
					<h2>パスワード変更</h2>
				</template>
				<template v-slot:supTitle>
					<p>6文字以上の半角英数字で入力してください。</p>
				</template>

				<template v-slot:extra>
					<div class="agreement">
						<div class="term-links">
							<router-link :to="{ name: 'privacy-policy' }">パスワードを忘れた方はこちら</router-link>
						</div>
					</div>
				</template>
			</mat-form>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import { updatePassword } from '../mixins/global';

export default {
	name: 'ChangePassword',
	data () {
		return {
			form: {
				groups: [
					{
						fields: [
							{
								isRequired: true,
								label: '現在のパスワード',
								name: 'current-password',
								placeholder: '入力してください',
								value: '',
								type: 'password'
							},
							{
								isRequired: true,
								label: '新しいパスワード',
								name: 'new-password1',
								placeholder: '入力してください',
								value: '',
								type: 'password'
							},
							{
								isRequired: true,
								label: '新しいパスワード(確認)',
								name: 'new-password2',
								placeholder: '入力してください',
								value: '',
								type: 'password'
							}
						],
						buttonSet: [
							{
								class: ['green'],
								click: this.submit,
								state: this.inProgress ? 'progress' : 'normal',
								text: '変更',
								type: 'button'
							},
							{
								class: ['lined'],
								click: {name: 'accounts'},
								text: 'キャンセル',
								type: 'link'
							}
						]
					}
				],
				submit: this.submit
			},
			inProgress: false,
			message: '',
			modal: {}
		};
	},
	methods: {
		submit () {
			let _this = this, errors = [];
			if (this.inProgress) return;

			if (this.form.groups[0].fields[0].value.length < 8 || this.form.groups[0].fields[0].value.length > 16) {
				errors.push('現在のパスワードの値: 値の長さは8~16文字でなければなりません');
			}

			if (
				this.form.groups[0].fields[1].value.length < 8
				|| this.form.groups[0].fields[1].value.length > 16
				|| this.form.groups[0].fields[2].value.length < 8
				|| this.form.groups[0].fields[2].value.length > 16
			) {
				errors.push('確認用パスワード: 値の長さは8〜255文字でなければなりません');
			} else {
				if (this.form.groups[0].fields[1].value !== this.form.groups[0].fields[2].value) {
					errors.push('パスワードが同じ値ではありません');
				} else if (this.form.groups[0].fields[0].value === this.form.groups[0].fields[1].value) {
					errors.push('現在のパスワードは新しいパスワードと同じです');
				}
			}

			if (errors.length) {
				this.message = errors.join('<br>');
				return;
			}

			this.inProgress = true;
			updatePassword({
				password: this.form.groups[0].fields[0].value,
				new_password1: this.form.groups[0].fields[1].value,
				new_password2: this.form.groups[0].fields[2].value
			}).then(() => {
				_this.$router.push({ name: 'accounts' });
			}).catch(errs => {
				console.log(errs);
				_this.message = errs.join('<br>');
			}).then(() => {
				_this.inProgress = false;
			});
		}
	}
}
</script>

<style scoped>
#register-page {
}

.register {
}

#register-page,
.register {
	display: flex;
	height: 100%;
}

.register {
	align-items: center;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	padding: 50px 0;
}

.agreement {
	margin-bottom: 30px;
}

.agreement a {
	color: #4b98f0;
}

.agreement .fine-print {
	font-size: .9em;
	margin: 50px 0;
}

@media (min-width: 768px) {
	.register {
		width: 500px;
	}
}

@media (max-width: 767px) {
	.register {
		width: 80%;
	}
}
</style>
