<template>
	<div class="page">
		<div class="container">
			<div class="page-title">
				<h1>お問合せ</h1>
			</div>
			<div class="page-subtitle">
				<p>オープンイノベーションプラットフォーム「AUBA」に関するお問い合わせは以下フォームへご記入のうえ、送信してください。</p>
				<p>通常2−3営業日にてご返信を差し上げます。</p>
			</div>
			<div v-if="!isSuccess" class="content">
				<div class="section">
					<div class="section-content">
						<mat-form :data="form" />
						<div class="notes">
							<p>
								<router-link :to="{name: 'terms-and-conditions'}">サービス利用規約</router-link>
								及び <router-link to="privacy-policy">個人情報の取り扱</router-link>
								いについて同意の上、ご登録ください。
							</p>
						</div>
						<div class="agreement">サービス利用規約及び個人情報の取り扱いに同意して</div>
						<div class="button-set">
							<button class="green" @click="submit">問い合わせを送信する</button>
						</div>
					</div>
				</div>
			</div>
			<div v-else class="content">
				<div class="section">
					<div class="section-content">
						<div class="agreement">
							<p>正常に送信されました</p>
						</div>
					</div>
				</div>
			</div>

			<mat-modal v-if="message.length" :data="modal" @close="message = ''">
				<template v-slot:content>
					<p v-html="message"></p>
				</template>
			</mat-modal>
		</div>
	</div>
</template>

<script>
import validator from 'validator';
import { sendMessageToCustomerService } from '../mixins/global';

export default {
	name: 'Contact',
	data () {
		return {
			form: {
				groups: [
					{
						fields: [
							{
								label: '会社名',
								isRequired: true,
								name: 'company',
								placeholder: '例：MATCHKUN 会社',
								type: 'text',
								value: '',
								width: '100%'
							},
							{
								label: '氏名',
								isRequired: true,
								name: 'name',
								placeholder: '例：アウバ 太郎',
								type: 'text',
								value: '',
								width: '100%'
							},
							{
								label: 'メールアドレス',
								isRequired: true,
								name: 'email',
								placeholder: 'user@email.com',
								type: 'email',
								value: '',
								width: '100%'
							},
							{
								label: '問い合わせ内容',
								isRequired: true,
								height: '200px',
								max: 500,
								name: 'message',
								type: 'textarea',
								value: '',
								width: '100%'
							}
						]
					}
				]
			},
			inProgress: false,
			isSuccess: false,
			message: '',
			modal: {},
			validator
		};
	},
	mounted() {
		this.validator = validator;
	},
	methods: {
		submit () {
			if (this.inProgress) return;
			let company = this.form.groups[0].fields[0].value.trim(),
				name = this.form.groups[0].fields[1].value.trim(),
				email = this.form.groups[0].fields[2].value.trim(),
				content = this.form.groups[0].fields[3].value.trim();

			if (!this.validator.isLength(company, {max: 100, min: 2})) return this.message = '会社名2文字より短くまたは16文字より長くすることはできません';
			if (!this.validator.isLength(name, {max: 16, min: 2})) return this.message = '氏名2文字より短くまたは16文字より長くすることはできません';
			if (!this.validator.isEmail(email)) return this.message = '無効な電子メールの形式';
			if (!this.validator.isLength(content, {max: 500, min: 20})) return this.message = '内容20文字より短くまたは500文字より長くすることはできません';

			this.inProgress = true;
			sendMessageToCustomerService(name, company, email, content)
				.then(() => {
					this.isSuccess = true;
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.inProgress = false;
				});
		}
	}
}
</script>

<style scoped>
.container {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 600px;
}

.page-title {
	color: #596161;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 30px;
}

.notes {
	background-color: #eaebeb;
	margin-top: 30px;
	padding: 20px;
}

.notes a {
	color: #33a09b;
}

.agreement {
	font-weight: bold;
	margin: 30px 0;
	text-align: center;
}

@media (max-width: 768px) {
	.container {
		width: 80%;
	}
}
</style>
