<template>
	<div id="favourites">
		<div class="wrapper">
			<mat-panel v-if="!isMobile" active-page="favourites" />
			<div class="content">
<!--				<mat-user-email-not-verified v-if="!user.is_email_verified" />-->
				<div class="page-title">
					<h1>お気に入り企業</h1>
				</div>
				<div v-if="favourites.length" class="content-inner">
					<div class="list">
						<mat-project-block v-for="(item, i) in favourites"
										   :key="i"
										   :data="item"
										   @remove-favourite="deleteFavourite"
						/>
					</div>
				</div>
				<div v-else-if="inProgress" class="no_result">
					Loading...
				</div>
				<div v-else class="no_result">
					No Favourites
				</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import {mapState} from 'vuex';
import { getFavourites, removeFavourite } from '../mixins/global';

export default {
	name: 'Favourites',
	data () {
		return {
			favourites: [],
			inProgress: false,
			isMobile: false,
			message: '',
			modal: {},
			page: 1
		};
	},
	computed: {
		...mapState({
			project: state => state.project,
			user: state => state.user
		})
	},
	mounted() {
		this.isMobile = window.innerWidth <= 768;
		window.addEventListener('resize', () => {
			this.isMobile = window.innerWidth <= 768;
		});

		this.refresh();
	},
	methods: {
		deleteFavourite (id) {
			removeFavourite(id)
				.then(() => {
					this.refresh();
					this.user.favourites = this.user.favourites.filter(e => e !== id);
					this.$store.state.user.favourites = this.user.favourites;
				})
				.catch(err => {
					this.message = err;
				});
		},

		refresh () {
			if (this.inProgress) return;

			this.inProgress = true;
			getFavourites(this.page)
				.then(data => {
					this.favourites = data;
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.inProgress = false;
				});
		}
	}
}
</script>

<style scoped>
#favourites > .wrapper {
	align-items: stretch;
	display: flex;
}

.content {
	flex-grow: 1;
}

.page-title {
	font-size: 2em;
	font-weight: bold;
	padding: 40px 40px 0;
}

.content-inner {
	margin: 0 auto;
	padding-top: 40px;
	width: 850px;
}

.no_result {
	align-items: center;
	background-color: #f0f0f0;
	border-radius: 4px;
	display: flex;
	height: 200px;
	justify-content: center;
	margin: 40px 40px 0;
}





@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}
</style>
