<template>
	<div id="home-page">
		<div class="hero-banner"
			 :style="{
				backgroundImage: `url(${heroBannerImage})`,
			 }"
		></div>

		<div class="search-section">
			<div class="wrapper">
				<mat-search />
<!--				<div v-if="!user" class="login-cover" @click="showLoginBox = true"></div>-->
			</div>
		</div>

		<div class="filter-section">
			<div class="container">

				<div class="tabs">
					<div class="titles">
						<div :class="['title', activeTab === i ? 'active' : '']"
							 v-for="(item, i) in industries"
							 @click="activeTab = i; subTabs = item.children"
						>
							<div class="text">{{item.label}}</div>
						</div>
					</div>
					<div class="panels">
						<div class="wrapper">
							<div :class="['panel', activeTab === i ? 'active' : '']"
								 v-for="(item, i) in industries"
							>
								<div class="tag"
									 v-for="child in item.children"
									@click="quickLinkIndustry(child.id)"
								>
									{{ child.label }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import MatSearch from '@/components/MatSearch';
import { getIndustries } from '../mixins/global';

export default {
	name: 'Home',
	components: {
		'mat-search': MatSearch
	},
	data () {
		return {
			activeTab: 0,
			heroBannerImage: 'https://matchkun-b13f2109-4e32-4e55-9e22-fbfbb952ccc4.s3-ap-northeast-1.amazonaws.com/home-hero-banner-6f530119-da0e-4922-892e-cc64edd19c4e.jpg',
			keywords: '',
			searchType: '',
			industries: [],
			showLoginBox: false,
			user: this.$store.state.user
		};
	},
	mounted() {
		getIndustries()
			.then(data => {
				this.industries = data;
			})
			.catch(err => {
				console.log(err);
			});
	},
	watch: {
		showLoginBox (val) {
			console.log(val);
		}
	},
	methods: {
		quickLinkIndustry (id) {
			this.$store.state.searchIndustry = [];
			if (this.$store.state.searchIndustry.indexOf(id) === -1) {
				this.$store.state.searchIndustry.push(id);
			}
			this.$router.push({name: 'search-projects'});
		}
	}
}
</script>

<style scoped>
.hero-banner {
	align-items: center;
	background-color: #2f3a3a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	display: flex;
	font-size: 2em;
	height: 300px;
	justify-content: center;
	transition: height .2s;
	width: 100%;
}

.search-section {
	padding: 64px 0;
}

.filter-section {
	margin-bottom: 64px;
}

.filter-section .container {
	width: 640px;
}

@media (max-width: 767px) {
	.search-section {
		padding: 20px 0 ;
	}

	.search > .wrapper {
		width: 100%;
	}

	.search-section .container {
		width: 80%;
	}


	.filter-section .container {
		width: 100%;
	}
}


.tabs {

}

.tabs .titles {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	user-select: none;
}

.tabs .title {
	position: relative;
	cursor: pointer;
	padding: 0 20px 5px;
}

.tabs .title:not(:last-child) {
	margin-right: 10px;
}

.tabs .title::after {
	position: absolute;
	bottom: -5px;
	left: 50%;
	background-color: #35c379;
	content: "";
	height: 3px;
	overflow: hidden;
	transform: translateX(-50%);
	width: 0;
}

.tabs .title .text {
	color: #828989;
	font-size: 1.2em;
	font-weight: bold;
}

.tabs .title:hover .text,
.tabs .title.active .text {
	color: #35c379;
}

.tabs .title.active::after {
	width: 100%;
}

.tabs .panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tabs .tag {
	align-items: center;
	background-color: #f2f2f2;
	border-radius: 34px;
	display: flex;
	font-size: 1.1em;
	font-weight: bold;
	height: 40px;
	justify-content: center;
	margin: 10px;
	padding: 0 30px;
	white-space: nowrap;
}

.tabs .tag,
.tabs .tag a {
	color: #828989;
	transition: background-color .5s, color .5s;
}

.tabs .tag:hover ,
.tabs .tag:hover a {
	background-color: #d5d8d8;
	color: #596161;
}

.tabs .panel:not(.active) {
	display: none;
}

.login-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	opacity: 0;
	width: 400px;
	z-index: 10;
}

@media (max-width: 767px) {
	.tabs .titles {
		justify-content: space-between;
		overflow-x: auto;
		padding: 0 20px;
	}

	.tabs .title {
		padding: 10px;
	}

	.tabs .title .text {
		font-size: .9em;
	}

	.tabs .tag {
		height: 30px;
		padding: 0 20px;
	}
}
</style>
