<template>
	<div id="login-page">
		<div class="container">
			<div class="login">
				<mat-form :data="form" />
			</div>
			<div class="ads">
				<div>写真</div>
				<div>広告欄</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import validator from 'validator';
import { login } from '../mixins/global';

export default {
	name: 'Login',
	data () {
		return {
			form: {
				title: 'ログイン',
				groups: [
					{
						fields: [
							{
								isRequired: true,
								label: 'メールアドレス',
								name: 'email',
								placeholder: 'tanaka.taro@eiicon.net',
								type: 'text',
								value: '',
								width: '100%'
							},
							{
								isRequired: true,
								label: 'ログインパスワード',
								name: 'password',
								placeholder: 'password',
								type: 'password',
								value: '',
								width: '100%'
							},
							{
								label: 'ログイン状態を維持',
								name: 'long-term-login',
								type: 'checkbox',
								value: false
							}
						],
						buttonSet: [
							{
								class: ['green'],
								click: this.submit,
								state: 'normal',
								text: 'ログイン',
								type: 'button'
							},
							{
								class: ['lined'],
								click: {name: 'register'},
								text: '新しいアカウントを作成する',
								type: 'link'
							}
						],
						links: [
							{
								to: 'forgot-password',
								text: 'パスワードを忘れました'
							}
						]
					}
				],
				submit: this.submit
			},
			inProgress: false,
			message: '',
			modal: {},
			previousPage: null,
			user: this.$store.state.user
		};
	},
	mounted() {
		// console.log(this.$route)
	},
	methods: {
		submit () {
			let _this = this;
			if (this.inProgress || this.form.groups[0].buttonSet[0].state === 'progress') return;

			if (this.form.groups[0].fields[0].value.trim() === '') {
				return this.message = 'メールアドレスは必須です';
			}

			if (!validator.isEmail(this.form.groups[0].fields[0].value)) {
				return this.message = '有効なメールアドレスを入力してください';
			}

			if (this.form.groups[0].fields[1].value === '') {
				return this.message = 'ログインパスワードは必須です';
			}

			if (!validator.isLength(this.form.groups[0].fields[1].value, {min: 8})) {
				return this.message = 'パスワードは8文字以上です';
			}

			this.inProgress = true;
			this.form.groups[0].buttonSet[0].state = 'progress';
			login({
				email: this.form.groups[0].fields[0].value,
				password: this.form.groups[0].fields[1].value,
				longterm: this.form.groups[0].fields[2].value
			})
				.then(() => {
					if (_this.$route.params.previousPath) {
						_this.$router.push({path: _this.$route.params.previousPath});
					} else {
						_this.$router.push({name: 'my-page'});
					}
				}).catch(err => {
				console.log(err)
					this.message = err;
				}).then(() => {
					this.inProgress = false;
					this.form.groups[0].buttonSet[0].state = 'normal';
				});
		}
	}
}
</script>

<style scoped>
#login-page > .container {
	padding: 0 30px;
	margin: 0 auto;
	width: 1000px;
}

#login-page > .container,
.login,
.ads {
	align-items: center;
	justify-content: center;
}

#login-page,
#login-page > .container,
.login,
.ads {
	display: flex;
}

#login-page,
.login,
.ads {
	height: 100%;
}

.login,
.ads {
	width: 50%;
}

.ads {
	background-color: red;
	color: #fff;
	flex-direction: column;
	font-size: 3em;
}

.login {
	padding: 80px 10% 80px 0;
}

@media (max-width: 767px) {
	#login-page > .container {
		display: block;
		width: 100%;
	}

	.login,
	.ads {
		height: auto;
		padding: 0;
		width: 100%;
	}

	.login {
		margin-bottom: 30px;
		padding: 0 20px;
	}

	.ads {
		height: 300px;
	}
}
</style>
