<template>
	<div v-if="user" id="messages">
		<div class="wrapper">
			<mat-panel v-if="!isMobile" active-page="messages" />
			<div class="content">
<!--				<mat-user-email-not-verified v-if="!user.is_email_verified" />-->
				<div class="page-title">
					<h1>メッセージ</h1>
				</div>
				<div class="content-inner">
					<div v-if="1 === 2" class="status">
						<div class="subtitle">
							先月メッセージに対する対応率
						</div>
						<div class="rate">
							企業対応率<span class="number">0</span>%
						</div>
						<div class="subtitle">
							企業対応率とは
						</div>
					</div>

					<div class="content">
						<mat-inbox />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import {getUserData} from "../mixins/global";

export default {
	name: 'Messages',
	data () {
		return {
			// tabs: [
			// 	{
			// 		id: 'all',
			// 		active: true,
			// 		event: 'inbox-all',
			// 		label: 'すべて',
			// 		tag: 0
			// 	},
			// 	{
			// 		id: 'exchange',
			// 		active: false,
			// 		event: 'inbox-exchange',
			// 		label: 'やりとり中',
			// 		tag: 0
			// 	},
			// 	{
			// 		id: 'interview',
			// 		active: false,
			// 		event: 'inbox-interview',
			// 		label: '面談設定済み',
			// 		tag: 0
			// 	},
			// 	{
			// 		id: 'negotiation',
			// 		active: false,
			// 		event: 'inbox-negotiation',
			// 		label: '商談中',
			// 		tag: 0
			// 	},
			// 	{
			// 		id: 'consideration',
			// 		active: false,
			// 		event: 'inbox-consideration',
			// 		label: '共創検討中',
			// 		tag: 0
			// 	},
			// 	{
			// 		id: 'archived',
			// 		active: false,
			// 		event: 'inbox-archived',
			// 		label: 'アーカイブ',
			// 		tag: 0
			// 	}
			// ],
			isMobile: false,
			user: null
		};
	},
	mounted() {
		this.isMobile = window.innerWidth <= 768;
		window.addEventListener('resize', () => {
			this.isMobile = window.innerWidth <= 768;
		});

		getUserData()
			.then(user => {
				this.user = user;
			})
			.catch(err => {
				console.log(err);
			});
	},
	methods: {
		// switchTab (id) {
		// 	this.activeTab = id;
		// 	this.tabs.forEach(tab => {
		// 		tab.active = tab.id === id;
		// 	});
		// }
	}
}
</script>

<style scoped>
#messages > .wrapper {
	align-items: stretch;
	display: flex;
}

.content {
	flex-grow: 1;
	height: 100%;
	margin-bottom: 30px;
}

.page-title {
	font-size: 2em;
	font-weight: bold;
	padding: 40px 40px 0;
}

.content-inner {
	height: 800px;
	margin: 0 auto;
	padding-top: 40px;
	width: 850px;
}

.status {
	border: 2px solid #eaebeb;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 20px;
}

.status .subtitle {
}

.status .rate {
	align-items: center;
	display: flex;
	font-size: 1.2em;
	font-weight: bold;
}

.status .number {
	color: #35c379;
	font-size: 3em;
	margin: 0 20px;
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}
</style>
