<template>
	<div v-if="user" id="my-page">
		<div class="wrapper">
			<mat-panel v-if="!isMobile" active-page="my-page" />
			<div class="content">
<!--				<mat-user-email-not-verified v-if="!user.is_email_verified" />-->
				<div class="page-title">
					<h1>ダッシュボード</h1>
				</div>
				<div class="content-inner">
					<div class="status-container">
						<div class="status">
							<div class="info">
								<div class="name">残チケット数</div>
								<div class="count">
									<span class="number">{{ user.tickets }}</span>
									<span class="unit">枚</span>
								</div>
							</div>
							<i class="icon icon-tickets"></i>
						</div>
					</div>

					<div class="profile-completion">
						<div class="title">
							<div class="percentage">
								<span class="text">PR入力率</span>
								<span class="number">{{completion}}</span>
								<span class="text">%</span>
<!--								<span v-if="isPublic" class="public-status">公開中</span>-->
<!--								<span v-else class="public-status private">非公開</span>-->
							</div>
							<div class="description">掲載情報を多く記載するほどレベルが上がり検索順位が上がります。</div>
						</div>
						<div class="sections">
							<div class="section">
								<div class="title">基本情報</div>
								<ul>
									<li :data-completed="typeof attributes.company_name !== 'undefined'">
										<router-link to="/project/edit/1">
											<i class="icon icon-check-circled"></i>
											会社名
										</router-link>
									</li>
									<li :data-completed="typeof attributes.url !== 'undefined'">
										<router-link to="/project/edit/1">
											<i class="icon icon-check-circled"></i>
											会社URL
										</router-link>
									</li>
									<li :data-completed="typeof attributes.capital !== 'undefined'">
										<router-link to="/project/edit/1">
											<i class="icon icon-check-circled"></i>
											資本金
										</router-link>
									</li>
									<li :data-completed="typeof attributes.employees !== 'undefined'">
										<router-link to="/project/edit/1">
											<i class="icon icon-check-circled"></i>
											メンバ一数
										</router-link>
									</li>
									<li
										:data-completed="
											typeof attributes.key_customers !== 'undefined'
											&& typeof attributes.business_overview !== 'undefined'
										"
									>
										<router-link to="/project/edit/1">
											<i class="icon icon-check-circled"></i>
											会社詳細
										</router-link>
									</li>
								</ul>
							</div>
							<div class="section">
								<div class="title">自社について</div>
								<ul>
									<li :data-completed="user.project && user.project.industry_ids.length > 0">
										<router-link to="/project/edit/3">
											<i class="icon icon-check-circled"></i>
											ビジネス領域
										</router-link>
									</li>
									<li :data-completed="user.project && user.project.types.length > 0">
										<router-link to="/project/edit/2">
											<i class="icon icon-check-circled"></i>
											自社区分
										</router-link>
									</li>
									<li :data-completed="typeof attributes.business_features !== 'undefined'">
										<router-link to="/project/edit/2">
											<i class="icon icon-check-circled"></i>
											やりたいこと
										</router-link>
									</li>
								</ul>
							</div>
						</div>
						<div class="tools">
							<div class="left">
								<button v-if="user.project" class="green lined">
									<router-link :to="{ path: user ? 'project/edit/1' : '' }">
										PR情報の編集
									</router-link>
								</button>
							</div>
							<div class="right">
<!--								<button class="lined">ページ閲覧</button>-->
								<button :class="[isPublic ? 'green' : 'red lined']"
										@click="toggleProjectPublic"
								>{{ isPublic ? '公開中' : '非公開' }}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import {mapState} from 'vuex';
import { getUserData, toggleProjectPublicity } from '../mixins/global';

export default {
	name: 'MyPage',
	data () {
		return {
			attributes: {},
			completion: 0,
			isMobile: false,
			isPublic: false,
			message: '',
			modal: {},
		};
	},
	computed: {
		...mapState({
			project: state => state.project,
			user: state => state.user
		})
	},
	mounted() {
		this.isMobile = window.innerWidth <= 768;
		window.addEventListener('resize', () => {
			this.isMobile = window.innerWidth <= 768;
		});

		getUserData()
			.then(user => {
				this.$store.state.user = user;
				this.$store.state.project = user.project;
				this.isPublic = user.project.is_public;
				this.attributes = user.project.attributes;
				this.updateCompletion();
				// console.log('user id %s (project %s)', user.id, user.project.id)
			})
			.catch(err => {
				console.log(err);
			});
	},
	methods: {
		toggleProjectPublic () {
			toggleProjectPublicity()
				.then(() => {
					this.isPublic = !this.isPublic;
				})
				.catch(err => {
					this.message = err;
				});
		},

		updateCompletion () {
			let count = 0;

			if (this.attributes.company_name) count ++;
			if (this.attributes.url) count ++
			if (this.attributes.capital) count ++
			if (this.attributes.employees) count ++
			if (this.attributes.key_customers) count ++
			if (this.attributes.business_overview) count ++
			if (this.attributes.business_features) count ++
			if (this.user.project.types.length) count ++
			if (this.user.project.industry_ids.length) count ++

			this.completion = Math.ceil(count / 9 * 100);
		}
	}
}
</script>

<style scoped>
#my-page > .wrapper {
	align-items: stretch;
	display: flex;
}

.content {
	flex-grow: 1;
}

.page-title {
	font-size: 2em;
	font-weight: bold;
	padding: 40px 40px 0;
}

.content-inner {
	margin: 0 auto;
	padding-top: 40px;
	width: 850px;
}

.status-container .status,
.status-container .status .icon {
	align-items: center;
}

.status-container,
.status-container .status,
.status-container .status .icon {
	display: flex;
}

.status-container .status .number,
.status-container .status .icon,
.status-container .status .unit {
	font-weight: bold;
}

.status-container .status {
	justify-content: space-between;
}

.status-container .status {
	border: 1px solid #eaebeb;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 20px;
	width: calc((100% - 20px / 3) / 3);
}

.status-container .status:not(:last-child) {
	margin-right: 20px;
}

.status-container .status .number {
	color: #35c379;
	font-size: 3em;
}

.status-container .status .icon {
	background-color: #35c379;
	border-radius: 50%;
	color: #fff;
	font-size: 2em;
	height: 60px;
	justify-content: center;
	width: 60px;
}

.status-container .status:hover .number {
	color: #44d388;
}

.status-container .status:hover .icon {
	background-color: #44d388;
}

.profile-completion > .title,
.profile-completion > .title .percentage,
.profile-completion .sections,
.profile-completion .tools,
.profile-completion .right {
	align-items: center;
	display: flex;
}

.profile-completion > .title,
.profile-completion .tools {
	justify-content: space-between;
}

.profile-completion {
	border: 1px solid #eaebeb;
	border-radius: 4px;
	margin: 30px 0;
}

.profile-completion > .title {
	border-bottom: 1px solid #eaebeb;
	height: 100px;
	padding: 0 20px;
}

.profile-completion > .title .percentage {
	font-size: 1.1em;
	font-weight: bold;
	white-space: nowrap;
}

/*.profile-completion > .title .number,*/
.profile-completion > .title .public-status {
	color: #44d388;
}

.profile-completion > .title .number {
	font-size: 3em;
	font-weight: normal;
	margin: 0 20px;
}

.profile-completion > .title .public-status {
	position: relative;
	margin-left: 40px;
}

.profile-completion > .title .public-status.private {
	color: #d20000;
}

.profile-completion > .title .description {
	color: #828989;
	padding-left: 20px;
}

.profile-completion .sections {
	align-items: flex-start;
	padding: 20px;
}

.profile-completion .section {
	width: calc(100% / 2);
}

.profile-completion .section .title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.profile-completion .section ul {}

.profile-completion .section li:not(:last-child) {
	margin-bottom: 20px;
}

.profile-completion .section li,
.profile-completion .section li a {
	color: #acb0b0;
}

.profile-completion .section li[data-completed="true"],
.profile-completion .section li[data-completed="true"] a {
	color: #44d388;
}

.profile-completion .tools {
	border-top: 1px solid #eaebeb;
	padding: 20px;
}

.profile-completion .right {
	justify-content: flex-end;
}

.profile-completion .right button:first-child {
	margin-right: 20px;
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}

	.status-container .status {
		width: calc((100% - 20px / 3) / 2);
	}
}

@media (max-width: 768px) {
	.status-container .status {
		width: calc(100% - 20px / 3);
	}
}
</style>
