<template>
	<div class="page">
		<div class="wrapper">
			<mat-panel v-if="!isMobile" active-page="notifications" />
			<div class="content">
				<div class="page-title">
					<h1>お知らせ</h1>
				</div>
				<div class="content-inner">
					<ul>
						<li>
							<div class="item" flex-valign="stretch">
								<div class="avatar">
									<img src="https://auba-production.s3.ap-northeast-1.amazonaws.com/organizations/23584/icon/681a11558d564eacfe2bd232bec2aae9d49a8079cf8b0d543be49f6b6968ddee.png" alt="">
								</div>
								<div class="brief" flex-col-align="between">
									<div class="subject">
										店で飲酒「2人以内」、2人グループは2人ずつ座ればいいの？　子連れは？　東京都
										がQ&A公表＜新型コロナ＞新型コロナウイルス対策として東京都が２１日から条件付きで容認した飲食店の酒
										類提供で、都は公式ウェブサイトで、条件の理由や当てはめ方を説明する「飲食店等に関する質問と回答」を
										公表した。主な条件の１つ「同一グループ２人以内」については、子どもは数えないなど、詳しい線引きを載
										せている。（デジタル編集部）
									</div>
									<div class="date">2021年6月22日 11時11分</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item" flex-valign="stretch">
								<div class="avatar">
									<img src="https://auba-production.s3.ap-northeast-1.amazonaws.com/organizations/23584/icon/681a11558d564eacfe2bd232bec2aae9d49a8079cf8b0d543be49f6b6968ddee.png" alt="">
								</div>
								<div class="brief" flex-col-align="between">
									<div class="subject">
										五輪の観客上限１万人にこだわった菅政権　感染拡大防止に重い責任　有識者の提言に背を向け流れつくる
										東京五輪の観客数について、政府や大会組織委員会などは５者協議で「上限１万人」と決めた。流れを作っ
										たのは、観客を入れた開催にこだわった菅政権。新型コロナウイルスの感染再拡大が懸念される中、有観客開
										催を主導した政府は、感染防止に重い責任を負う。もし、五輪を機に感染が拡大するような事態になれば、
										菅政権への厳しい批判は避けられない。（清水俊介、井上峻輔）
									</div>
									<div class="date">2021年6月22日 06時00分</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item" flex-valign="stretch">
								<div class="avatar">
									<img src="https://auba-production.s3.ap-northeast-1.amazonaws.com/organizations/23584/icon/681a11558d564eacfe2bd232bec2aae9d49a8079cf8b0d543be49f6b6968ddee.png" alt="">
								</div>
								<div class="brief" flex-col-align="between">
									<div class="subject">
										記述式・英語検定、断念へ　２５年以降の共通テスト大学入試の在り方を検討する文部科学省の有識者会議
										は２２日、２０２５年１月以降の大学入学共通テストにおける英語の民間検定試験と記述式問題の導入につ
										いて「実現は困難と言わざるを得ない」とする提言案を示した。文科省は提言がまとまり次第、今夏に導入
										断念を正式決定するとみられる。　これまでの会合では、「読む・聞く・書く・話す」の４技能を問う民間
										検定試験は会場の都市部偏在といった課題が解決できておらず、記述式は採点の正確性や
										公平性の担保が難しいとの意見が多かった。
									</div>
									<div class="date">2021年6月22日 11時17分 （共同通信）</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item" flex-valign="stretch">
								<div class="avatar">
									<img src="https://auba-production.s3.ap-northeast-1.amazonaws.com/organizations/23584/icon/681a11558d564eacfe2bd232bec2aae9d49a8079cf8b0d543be49f6b6968ddee.png" alt="">
								</div>
								<div class="brief" flex-col-align="between">
									<div class="subject">
										池袋乗用車暴走事故　飯塚被告「車の不具合、再起動で元に戻った」【詳報・被告人質問】東京・池袋で
										２０１９年４月、暴走した車に松永真菜まなさん＝当時（３１）＝と長女莉子りこちゃん＝当時（３）＝が
										はねられて死亡した事故の刑事裁判は２１日午後１時半から、東京地裁で始まった。自動車運転処罰法違反
										（過失致死傷）の罪に問われた旧通産省工業技術院の元院長飯塚幸三被告（９０）に対する被告人質問があ
										り、遺族の松永拓也さん（３４）らが直接、質問した。法廷の様子を詳報する。
									</div>
									<div class="date">2021年6月21日 15時39分</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item" flex-valign="stretch">
								<div class="avatar">
									<img src="https://auba-production.s3.ap-northeast-1.amazonaws.com/organizations/23584/icon/681a11558d564eacfe2bd232bec2aae9d49a8079cf8b0d543be49f6b6968ddee.png" alt="">
								</div>
								<div class="brief" flex-col-align="between">
									<div class="subject">
										コロナ支援で朝鮮大生ら「差別」　国連の報告者、日本政府に書簡国連で人権問題を扱う４人の特別報告
										者が、新型コロナウイルス禍で困窮する学生に最高２０万円を給付した日本政府の支援制度に絡み、朝鮮大
										学校（東京都小平市）の学生を対象から排除したことは「差別」だとして、ことし２月に是正を「強く求め
										る」とする書簡を日本政府に送っていたことが２２日分かった。外国人留学生に成績要件を課したことも「
										差別に相当する可能性」があると指摘していた。関係者が明らかにした。
									</div>
									<div class="date">2021年6月22日 11時06分 （共同通信）</div>
								</div>
							</div>
						</li>
					</ul>

					<mat-pagination :active="activePage" :total="totalPages"
						@change-page="changePage"
					/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Notifications',
	data () {
		return {
			activePage: 1,
			isMobile: false,
			totalPages: 20,
			user: this.$store.state.user
		};
	},
	mounted() {
		this.isMobile = window.innerWidth <= 768;
		window.addEventListener('resize', () => {
			this.isMobile = window.innerWidth <= 768;
		});
	},
	methods: {
		changePage (page) {
			this.activePage = page;
			console.log(page);
		}
	}
}
</script>

<style scoped>
.page > .wrapper {
	align-items: stretch;
	display: flex;
}

.content {
	flex-grow: 1;
}

.page-title {
	font-size: 2em;
	font-weight: bold;
	padding: 40px 40px 0;
}

.content-inner {
	margin: 0 auto;
	padding-top: 40px;
	width: 850px;
}



li {
	color: #828989;
	margin-bottom: 30px;
}

.avatar {
	border: 1px solid #eaebeb;
	border-radius: 4px;
	flex-shrink: 0;
	height: 80px;
	margin-right: 20px;
	padding: 10px;
	width: 80px;
}

.avatar img {
	display: block;
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.brief {
	flex-grow: 1;
	padding: 10px 0;
}

.subject {
	font-size: 1.1em;
}

.date {
	font-size: .9em;
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}
</style>
