<template>
	<div class="page">
		<div class="container">
			<div class="page-title">
				<h1>PRIVACY INFOMATION</h1>
				<h2>個人情報保護方針</h2>
			</div>
			<div class="content">
				<div class="section">
					<div class="section-content">
						<p>
							MATCHKUNくんとは
						</p>
						<p>
							企業・団体・フリーランスの方々が、自由に「できたらいいな」、「あったらいいな」を叶える場所です。組織の大きさ
							にとらわれずに、お互いの強みをさらに強く、お互いの弱みは、得意とするパートナーがサポートしてくれるそんな出会
							いの場所それが「MATCHKUN」です。
						</p>
<!--						<div class="para_title">第1条（定義）</div>-->
<!--						<p>-->
<!--							1.本サービスとは、当社が、オープンイノベーションを推進したい企業・組織等（以下「企業等」と-->
<!--							いいます。）と、かかる企業等とともに自らの技術やアイディア等の資源を活用することを希望す-->
<!--							る企業等との間の出会いを創出・支援することを目的として提供するプラットフォームサービス-->
<!--							「MATCHKUN」および事業を活性化する情報をお届けするメディアサービスを総称していい-->
<!--							ます。 会員は、「MATCHKUN」を利用する場合は、必然的にのサービス会員も兼ねること-->
<!--							になります。「MATCHKUN」のみのサービスを選択して会員になることはできませんが、-->
<!--							のみを利用する目的で本サービスの会員となることはできますサービスの詳細内容は第2条に定め-->
<!--							ます。-->
<!--						</p>-->
<!--						<p>-->
<!--							2.本サイトとは、当社が運営するWebサイト「MATCHKUN」およびを総称していいます。-->
<!--						</p>-->
<!--						<p>-->
<!--							3.企業会員とは、本規約に同意し本サービスに会員としてご登録されている企業等をいいます。-->
<!--						</p>-->
<!--						<p>-->
<!--							4.個人会員とは、本サービスに会員として登録されている個人をいいます。-->
<!--						</p>-->
<!--						<div class="para_title">第2条（本サービス）</div>-->
<!--						<p>-->
<!--							本サービスとは、当社が、オープンイノベーションを推進したい企業・組織等（以下「企業等」と-->
<!--							いいます。）と、かかる企業等とともに自らの技術やアイディア等の資源を活用することを希望す-->
<!--							る企業等との間の出会いを創出・支援することを目的として提供するプラットフォームサービス-->
<!--							「MATCHKUN」および事業を活性化する情報をお届けするメディアサービスを総称していい-->
<!--							ます。 会員は、「MATCHKUN」を利用する場合は、必然的にのサービス会員も兼ねること-->
<!--							になります。「MATCHKUN」のみのサービスを選択して会員になることはできませんが、-->
<!--							のみを利用する目的で本サービスの会員となることはできますサービスの詳細内容は第2条に定め-->
<!--							ます。-->
<!--						</p>-->
<!--						<div class="para_title">第3条 （会員登録等）</div>-->
<!--						<p>-->
<!--							本サービスとは、当社が、オープンイノベーションを推進したい企業・組織等（以下「企業等」と-->
<!--							いいます。）と、かかる企業等とともに自らの技術やアイディア等の資源を活用することを希望す-->
<!--							る企業等との間の出会いを創出・支援することを目的として提供するプラットフォームサービス-->
<!--							「MATCHKUN」および事業を活性化する情報をお届けするメディアサービスを総称していい-->
<!--							ます。 会員は、「MATCHKUN」を利用する場合は、必然的にのサービス会員も兼ねること-->
<!--							になります。「MATCHKUN」のみのサービスを選択して会員になることはできませんが、-->
<!--							のみを利用する目的で本サービスの会員となることはできますサービスの詳細内容は第2条に定め-->
<!--							ます。-->
<!--						</p>-->
<!--						<div class="para_title">第4条（サブスクリプションプランにおける利用料支払い）</div>-->
<!--						<p>-->
<!--							本サービスとは、当社が、オープンイノベーションを推進したい企業・組織等（以下「企業等」と-->
<!--							いいます。）と、かかる企業等とともに自らの技術やアイディア等の資源を活用することを希望す-->
<!--							る企業等との間の出会いを創出・支援することを目的として提供するプラットフォームサービス-->
<!--							「MATCHKUN」および事業を活性化する情報をお届けするメディアサービスを総称していい-->
<!--							ます。 会員は、「MATCHKUN」を利用する場合は、必然的にのサービス会員も兼ねること-->
<!--							になります。「MATCHKUN」のみのサービスを選択して会員になることはできませんが、-->
<!--							のみを利用する目的で本サービスの会員となることはできますサービスの詳細内容は第2条に定め-->
<!--							ます。-->
<!--						</p>-->
<!--						<div class="para_title">第5条 （IDおよびパスワード）</div>-->
<!--						<p>-->
<!--							本サービスとは、当社が、オープンイノベーションを推進したい企業・組織等（以下「企業等」と-->
<!--							いいます。）と、かかる企業等とともに自らの技術やアイディア等の資源を活用することを希望す-->
<!--							る企業等との間の出会いを創出・支援することを目的として提供するプラットフォームサービス-->
<!--							「MATCHKUN」および事業を活性化する情報をお届けするメディアサービスを総称していい-->
<!--							ます。 会員は、「MATCHKUN」を利用する場合は、必然的にのサービス会員も兼ねること-->
<!--							になります。「MATCHKUN」のみのサービスを選択して会員になることはできませんが、-->
<!--							のみを利用する目的で本サービスの会員となることはできますサービスの詳細内容は第2条に定め-->
<!--							ます。-->
<!--						</p>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'PrivacyPolicy'
}
</script>

<style scoped>
.container {
	width: 100%;
}

.page-title {
	background-color: #33a09b;
	color: #fff;
	font-size: 1.5em;
	padding: 30px 0;
	text-align: center;
}

.page-title h1 {
	text-align: center;
}

.page-title h2 {
	font-size: .6em;
}

.content {
	background-color: #f4f4f4;
	line-height: 1.4em;
	margin: 24px auto;
	padding: 50px;
	width: 80%;
}

.content p {
	margin-bottom: 20px;
	padding-left: 20px;
}

.para_title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 30px 0;
}
</style>
