<template>
	<div v-if="!projectLoaded" class="progress">
		<div class="text">
			会社情報を読んで、お待ちください...
		</div>
	</div>
	<div v-else id="project">
<!--		<div class="tabs">-->
<!--			<div class="container">-->
<!--				<div class="tab" data-active="true">自社特徴</div>-->
<!--				<div class="tab">提供リソース</div>-->
<!--				<div class="tab">解決したい課題</div>-->
<!--				<div class="tab">共創で実現したいこと</div>-->
<!--				<div class="tab">求めている条件</div>-->
<!--				<div class="tab">こんな企業と出会いたい</div>-->
<!--				<div class="tab">オープンイノベーション実績</div>-->
<!--				<div class="tab">企業情報</div>-->
<!--			</div>-->
<!--		</div>-->
		<div v-if="project" class="container">
			<div class="left">
				<div class="section intro">
					<div class="subtitle">
						<span class="text">{{ formatDate(project.updated_at) }}</span>
						<span class="text">更新</span>
					</div>
					<div class="company">
						<div class="image">
							<div class="image-holder"
								 :style="{
									backgroundImage: 'url(' + avatarUrl + project.avatar + ')'
								}"
							></div>
						</div>
						<div class="name">{{ project.attributes.company_name }}</div>
					</div>

					<div v-if="project.types.length" class="tags">
						<div class="tag" v-for="type in project.types">
							<router-link to="#">{{ type.label }}</router-link>
						</div>
					</div>
				</div>

				<div class="section">
					<h2>自社特徴</h2>
					<div class="content"
						 v-if="project.attributes.business_features"
						 v-html="project.attributes.business_features"
					></div>
					<div class="sub">
						<h2>提供リソース</h2>
						<div class="content"
							 v-if="project.attributes.provided_resources"
							 v-html="project.attributes.provided_resources"
						></div>
					</div>
				</div>

				<div class="section">
					<div class="sub">
						<h2>求めている条件</h2>
						<div class="content"
							 v-if="project.types"
						></div>
					</div>
				</div>

				<div class="section">
					<h2>オープンイノベーション実績</h2>
					<div class="content"
						 v-if="project.attributes.innovation_and_achievements"
						 v-html="project.attributes.innovation_and_achievements"
					></div>
				</div>

				<div class="section">
					<h2>企業情報</h2>
					<div class="content">
						<div class="list">
							<div class="item">
								<div class="key">企業名</div>
								<div class="value">{{ project.attributes.company_name }}</div>
							</div>
							<div class="item">
								<div class="key">事業内容</div>
								<div class="value">{{ project.attributes.business_overview }}</div>
							</div>
							<div class="item">
								<div class="key">代表者名</div>
								<div class="value">{{ project.members[0].name }}</div>
							</div>
							<div class="item">
								<div class="key">企業URL</div>
								<div class="value">
									<a :href="project.attributes.url">{{ project.attributes.url }}</a>
								</div>
							</div>
							<div class="item">
								<div class="key">主要顧客</div>
								<div class="value">{{ project.attributes.key_customers }}</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section">
					<div v-if="project.attributes.business_features" class="content"
						 v-html="project.attributes.business_features"
					>
					</div>
				</div>
				<div class="section">
					<h2>やりたいこと</h2>
					<div class="content"
						 v-if="project.attributes.cocreation_title"
						 v-html="project.attributes.cocreation_title"
					></div>
				</div>

			</div>

			<div class="right">
				<div v-if="user.project.id !== project.id" class="actions">
					<div v-if="project">
						<div v-if="user">
							<button v-if="user.id !== project.user_id" class="green" @click="openQuickMessage" style="margin-bottom: 20px">メッセージ</button>
						</div>
						<div v-else>
							<button class="green" @click="openQuickMessage" style="margin-bottom: 20px">メッセージ</button>
						</div>
					</div>
					<div v-if="user.project.id !== project.id">
						<button v-if="user.favourites.indexOf(project.id) > -1||  project.is_favourite" class="green light"
								:state="this.favouriteInProgress ? 'progress' : ''"
								@click="removeFromFavourite"
						>
							お気に入り中
						</button>
						<button v-else class="green"
								:state="this.favouriteInProgress ? 'progress' : ''"
								@click="addToFavourite"
						>
							<i class="icon icon-star-filled"></i>
							お気に入り
						</button>
					</div>
				</div>

				<div class="block">
					<div class="title">メンバー</div>
					<div class="inner-block">
						<div class="wrapper">
							<div class="title">本掲載に関する責任者</div>
							<div class="image"
								 :style="{
									backgroundImage: 'url(' + avatarUrl + project.members[0].avatar + ')'
								 }"
							></div>
							<div class="name">{{ project.members[0].name }}</div>
<!--							<div class="company">{{ project.member.company }}</div>-->
<!--							<div class="position">{{ project.member.position }}</div>-->
							<div class="introduction">
								<h6>自己紹介</h6>
								<div class="text">{{ project.members[0].introduction }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<quick-message v-if="user && project" v-show="showQuickMessage"
					   :project-id="project.id"
					   :owner-id="project.members[0].id"
					   @close="showQuickMessage = false" />

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import {mapState} from 'vuex';
import { addFavourite, getProjectData, getUserData, removeFavourite } from '../mixins/global';

export default {
	name: 'Project',
	data () {
		return {
			favouriteInProgress: false,
			projectLoaded: false,
			showQuickMessage: false,
			message: '',
			modal: {},
		};
	},
	computed: {
		...mapState({
			project: state => state.project,
			user: state => state.user
		})
	},
	mounted () {
		getProjectData(this.$route.params.id)
			.then(project => {
				if (!project) {
					this.$router.push({ name: 'not-found', params: { message: 'Project not found' } });
					return;
				}
				this.projectLoaded = true;
				this.$store.state.project = project;
				console.log('project id %s', project.id);

				getUserData()
					.then(user => {
						this.$store.state.user = user;
					})
					.catch(err => {
						console.log(err);
					});
			})
			.catch(function (err) {
				console.log(err);
			});
	},
	methods: {
		addToFavourite () {
			if (this.checkLogin()) {
				if (this.favouriteInProgress || !this.project) return;
				this.favouriteInProgress = true;
				addFavourite(this.project.id)
					.then(() => {
						this.project.is_favourite = true;
						this.user.favourites.push(this.project.id);
						this.$store.state.user.favourites = this.user.favourites;
					})
					.catch(err => {
						this.message = err;
					})
					.then(() => {
						this.favouriteInProgress = false;
					});
			}
		},

		checkLogin () {
			if (!this.user) {
				this.$router.push({
					name: 'login',
					params: {
						previousPath: this.$route.path
					}
				});
				return false;
			}
			return true;
		},

		formatDate (timestamp) {
			let d = new Date(timestamp),
				result = 'yyyy年mm月dd日';
			return result
				.replace('yyyy', d.getFullYear())
				.replace('mm', d.getMonth() + 1)
				.replace('dd', d.getDate());
		},

		openQuickMessage () {
			if (this.checkLogin()) {
				this.showQuickMessage = true;
			}
		},

		removeFromFavourite () {
			if (this.checkLogin()) {
				if (this.favouriteInProgress || !this.project) return;
				this.favouriteInProgress = true;
				removeFavourite(this.project.id)
					.then(() => {
						this.project.is_favourite = false;
						this.user.favourites = this.user.favourites.filter(e => e !== this.project.id);
						this.$store.state.user.favourites = this.user.favourites;
					})
					.catch(err => {
						this.message = err;
					})
					.then(() => {
						this.favouriteInProgress = false;
					});
			}
		}
	}
}
</script>

<style scoped>
#project {
	padding: 0 30px;
}

#project > .container,
.progress .text {
	align-items: flex-start;
	display: flex;
}

.progress {
	padding: 20px;
}

.progress .text {
	align-items: center;
	background-color: #f0f0f0;
	border-radius: 10px;
	height: 300px;
	justify-content: center;
}

.left {
	width: calc(100% - 320px);
}

.right {
	margin-top: 30px;
	margin-left: 60px;
	min-width: 320px;
	width: 320px;
}

.tab,
.tabs .container {
	align-items: center;
	display: flex;
}

.tabs {
	position: fixed;
	top: 65px;
	left: 0;
	right: 0;
	backdrop-filter: blur(20px);
	background-color: rgba(255,255,255,.5);
	border-bottom: 1px solid #e0efe7;
	height: 0;
	overflow: hidden;
	transition: height .2s;
	z-index: 1000;
}

.tabs[show="true"] {
	height: 50px;
}

.tabs .container {
	justify-content: space-between;
}

.tab {
	border-bottom: 3px solid transparent;
	font-size: .9em;
	height: 100%;
	justify-content: center;
	padding-top: 3px;
	text-align: center;
	user-select: none;
	white-space: nowrap;
}

.tab:hover {
	color: #35c379;
}

.tab[data-active="true"] {
	border-color: #35c379;
	color: #35c379;
}

.tab:not([data-active="true"]) {
	cursor: pointer;
}

.left {
	padding-top: 30px;
}

.section {
	margin: 30px 0;
	padding-bottom: 30px;
}

.section:not(:last-child) {
	border-bottom: 1px solid #eaebeb;
}

.section h1 {
	border-bottom: 1px solid #e0efe7;
	width: 100%;
}

.section h1 .label {
	position: relative;
	border-bottom: 3px solid #35c379;
	color: #35c379;
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px 20px;
}

.section h2 {
	color: #35c379;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 30px;
}

.section .subtitle {
	color: #999;
	margin: 30px 0 15px;
}

.section .subtitle .text:nth-child(2) {
	font-weight: bold;
}

.section .content {
	color: #2f3a3a;
	font-size: 1.2em;
	line-height: 2em;
	white-space: pre-line;
}

.section .sub {
	background-color: #eefff6;
	border-left: 5px solid #35c379;
	margin-top: 30px;
	padding: 20px;
}

.section .sub h2 {
	font-size: 1.8em;
}

.section h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.section .list .item {
	align-items: center;
	display: flex;
	font-size: .9em;
	padding: 10px 0;
}
.section .list .item:not(:last-child) {
	border-bottom: 1px solid #eaebeb;
}


.section .list .item .key {
	font-weight: bold;
	min-width: 150px;
	width: 150px;
}

.section .list .item .value {
	flex-grow: 1;
}

.section .intro {
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: justify;
}

.section .company {
	align-items: center;
	display: flex;
	margin-bottom: 20px;
}

.section .company .image {
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 50px;
	overflow: hidden;
	padding: 5px;
	width: 50px;
}

.section .company .image .image-holder {
	background-color: #eaebeb;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.section .company .name {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 20px;
}

.banner-image {
	margin-bottom: 20px;
}

.gallery {
	margin-bottom: 20px;
}

.gallery-inner {
	display: flex;
	height: 80px;
	overflow-y: auto;
	scroll-snap-type: both mandatory;
}

.gallery-img {
	cursor: pointer;
	height: 100%;
	scroll-snap-align: start;
}

.gallery-img.selected {
	border: 2px solid #35c379;
}

.gallery-img:not(:last-child) {
	margin-right: 10px;
}

.gallery-img img {
	display: block;
	height: 100%;
	width: auto;
}

.tags {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.tag,
.tag a {
	color: #828989;
}

.tag:hover,
.tag:hover a {
	background-color: #d5d8d8;
	color: #596161;
}

.tag {
	background-color: #f2f2f2;
	border-radius: 30px;
	line-height: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0 20px;
}

.right .inner-block .name,
.right .inner-block .company,
.right .inner-block .position {
	text-align: center;
	margin-bottom: 10px;
}

.right .actions {
	border: 1px solid #eaebeb;
	border-radius: 4px;
	padding: 30px;
}

.right .actions button {
	width: 100%;
}

.right .actions button:not(:last-child) {
	margin-bottom: 20px;
}

.right .actions button .icon {
	margin-right: 10px;
}

.right .block {}

.right .block > .title {
	font-weight: bold;
	margin: 30px 0;
}

.right .inner-block {
	border: 1px solid #eaebeb;
	border-radius: 4px;
	padding: 20px;
}

.right .inner-block .title {
	background-color: #eefff6;
	border-radius: 2px;
	color: #35c379;
	font-size: 11px;
	line-height: 24px;
	margin-bottom: 24px;
	text-align: center;
}

.right .inner-block .image {
	background-color: #f0f0f0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 80px;
	margin: 0 auto;
	margin-bottom: 10px;
	overflow: hidden;
	width: 80px;
}

.right .inner-block .name {
	font-size: 1.2em;
}

.right .inner-block .message,
.right .inner-block .mission,
.right .inner-block .introduction {
	margin-bottom: 20px;
}

.right .inner-block .message h6,
.right .inner-block .mission h6,
.right .inner-block .introduction h6 {
	font-weight: bold;
	margin-bottom: 10px;
}

.right .inner-block .message,
.right .inner-block .mission,
.right .inner-block .introduction {
	margin-bottom: 20px;
}

.right .inner-block .message .text,
.right .inner-block .mission .text,
.right .inner-block .introduction .text {
	font-size: .9em;
	line-height: 1.7em;
}

@media (max-width: 1000px) {
	.tabs {
		display: none;
	}
}
</style>
