<template>
	<div id="project-edit">
		<div class="inner-container">
			<step-indicator v-if="user" :active-step="2" :project-id="user.project.id" />

			<div class="step-title">
				<div class="line">
					<span class="name">ステップ２</span>
				</div>
				<div class="line">
					<h1>自社について</h1>
				</div>
				<div class="line">
					<h2>まずは、あなたがどのような企業か明確にしましょう。</h2>
				</div>
				<div class="line">
					<p>掲載順位や、コンタクトに寄与する重要なページです。ぜひご入力ください。</p>
				</div>
			</div>

			<mat-form :data="step" />
		</div>

		<div class="buttons">
			<div class="inner-container">
				<div class="left">
					<button v-if="user" class="lined" cancel>
						<router-link :to="`/project/${user.project.id}`">キャンセル</router-link>
					</button>
				</div>
				<div class="right">
<!--					<button class="lined" preview>プレビュー</button>-->
					<button class="lined" :state="saveInProgress ? 'progress' : ''" @click="save">更新する</button>
					<button class="green" :state="saveInProgress ? 'progress' : ''" @click="saveAndNext">更新して次へ</button>
				</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import MatProjectEditStepIndicator from '@/components/MatProjectEditStepIndicator';
import { getProjectTypes, getUserData, updateProjectData } from '../mixins/global';

export default {
	name: 'ProjectEdit2',
	components: {
		'step-indicator': MatProjectEditStepIndicator
	},
	data () {
		return {
			step: {
				groups: [
					{
						title: '自社特徴',
						fields: [
							{
								count: 0,
								height: '200px',
								label: '特徴や事業概要をご記載ください。アピールポイントなどを含めて記載いただくとより効果的です。',
								max: 500,
								name: 'business_features',
								placeholder: '・xxxの開発技術\n・xxxの特許（特許№xxx：xxxを、xxxさせるための技術）\n・xxx万人の顧客情報\n・xxxの貸し出し\n・xxxに関するxxxxxの情報',
								type: 'textarea',
								value: '',
								width: '100%'
							},
						]
					},
					{
						title: '提供リソース',
						fields: [
							{
								count: 0,
								height: '200px',
								label: '製品・技術・サービスや、資産・知財など提供可能なリソースをご記載ください。 なるべく具体的に記載いただくことでコンタクトの可能性が高まります。',
								max: 500,
								name: 'provided_resources',
								placeholder: '・自社特徴：xxxメディアの運営、xxxサービス、ビジョン\n・特徴等：xxxという思いから元xxxのエンジニアであった、xxxが創業。今後はxxx領域に注力していく。',
								type: 'textarea',
								value: '',
								width: '100%'
							},
						]
					},
					{
						title: 'オープンイノベーション実績',
						fields: [
							{
								count: 0,
								height: '200px',
								label: '実績についてご記載ください。実績に関する紹介ページや動画等がありましたらリンクを記載いただくとより伝',
								max: 500,
								name: 'innovation_and_achievements',
								placeholder: '入力してください',
								type: 'textarea',
								value: '',
								width: '100%'
							},
						]
					},
					{
						name: 'types',
						title: '自社区分',
						subtitle: '選択目安: 最大10個',
						fields: [],
						fieldsStyle: {
							display: 'flex',
							flexWrap: 'wrap'
						},
						fieldStyle: {
							width: 'var(--field-width)'
						}
					}
				]
			},
			message: '',
			modal: {},
			saveInProgress: false,
			uploadingAvatar: false,
			user: this.$store.state.user
		};
	},
	mounted() {
		let _this = this;
		getUserData()
			.then(user => {
				let project = user.project,
					attributes = project.attributes;
				_this.$store.state.user = user;
				_this.step.groups[0].fields[0].value = attributes.business_features ? attributes.business_features : '';
				_this.step.groups[1].fields[0].value = attributes.provided_resources ? attributes.provided_resources : '';
				_this.step.groups[2].fields[0].value = attributes.innovation_and_achievements ? attributes.innovation_and_achievements : '';

				getProjectTypes()
					.then(types => {
						let selected = this.user.project.types.map(each => each.id);
						types.forEach(each => {
							if (selected.indexOf(each.id) > -1) each.value = true;
						});
						_this.step.groups[3].fields = types;
					})
					.catch(err => {
						console.log(err);
					});
			})
			.catch(err => {
				console.log(err);
			});
	},
	watch: {
		'step.groups': {
			deep: true,
			immediate: true,
			handler (groups) {
				const selected = groups[3].fields.filter(each => each.value === true).length;
				if (selected > 10) return this.message = '自社区分最大10つ';
			}
		}
	},
	methods: {
		save (callback) {
			let errors = [];
			if (this.saveInProgress) return;

			if (this.step.groups[3].fields.filter(e => e.value).length > 10) {
				return this.message = '自社区分最大10つ';
			}

			let data = {
				business_features: this.step.groups[0].fields[0].value.trim(),
				provided_resources: this.step.groups[1].fields[0].value.trim(),
				innovation_and_achievements: this.step.groups[2].fields[0].value.trim(),
				types: this.step.groups[3].fields.filter(e => e.value).map(e => e.id)
			};
			this.saveInProgress = true;
			updateProjectData(this.user.project.id, data)
				.then(function () {
					if (typeof callback === 'function') callback();
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.saveInProgress = false;
				});
		},

		saveAndNext () {
			let _this = this;
			this.save(function () {
				_this.$router.push({path: '/project/edit/3'});
			});
		},
	}
}
</script>

<style scoped>
.form {
	--field-width: calc(100% / 3);
}

.inner-container {
	margin: 0 auto;
	width: 800px;
}

.step-title {
	color: #828989;
	line-height: 2em;
	margin-bottom: 30px;
}

.step-title .name,
.step-title h1 {
	background-image: linear-gradient(to right bottom,#3cc6b5, #3bd986);
}

.step-title .name {
	background-color: #35c379;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
}

.step-title h1 {
	font-size: 2.2em;
	font-weight: bold;
	margin: 20px 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.step-title h2 {
	color: #212121;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.buttons .inner-container,
.buttons .right {
	align-items: center;
	display: flex;
}

.buttons {
	position: sticky;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #d5d8d8;
	padding: 20px 0;
}

.buttons .inner-container {
	justify-content: space-between;
}

.buttons .right {
	justify-content: flex-end;
}

.buttons .right button:not(:first-child) {
	margin-left: 20px;
}

.field-group[name="types"] .fields {
	align-items: flex-start;
	display: flex !important;
	flex-wrap: wrap;
}

.field-group[name="types"] [data-type-field] {
	width: var(--field-width);
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}
</style>
