<template>
	<div id="project-edit">
		<div class="inner-container">
			<step-indicator v-if="user" :active-step="1" :project-id="user.project.id" />

			<div class="step-title">
				<div class="line">
					<span class="name">ステップ１</span>
				</div>
				<div class="line">
					<h1>基本情報</h1>
				</div>
				<div class="line">
					<h2>所属する法人の正確な情報を入力してください。</h2>
				</div>
				<div class="line">
					<p>法人情報は、信頼性を担保する項目です。</p>
					<p>自社ホームページ等を参考にし、入力できる範囲でしっかり項目を埋めましょう。</p>
				</div>
			</div>

			<mat-form
				:data="step"
				@avatar-upload="upload"
			></mat-form>
		</div>

		<div class="buttons">
			<div class="inner-container">
				<div class="left">
					<button v-if="user" class="lined" cancel>
						<router-link :to="`/project/${user.project.id}`">キャンセル</router-link>
					</button>
				</div>
				<div class="right">
<!--					<button class="lined" preview>プレビュー</button>-->
					<button class="lined" :state="saveInProgress ? 'progress' : ''" @click="save">更新する</button>
					<button class="green" :state="saveInProgress ? 'progress' : ''" @click="saveAndNext">更新して次へ</button>
				</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import MatProjectEditStepIndicator from '@/components/MatProjectEditStepIndicator';
import { getUserData, updateProjectData, uploadProjectAvatar } from '../mixins/global';

export default {
	name: 'ProjectEdit1',
	components: {
		'step-indicator': MatProjectEditStepIndicator
	},
	data () {
		return {
			step: {
				groups: [
					{
						title: '会社概要',
						fields: [
							{
								label: 'ロゴ画像',
								event: 'avatar-upload',
								height: 200,
								name: 'image',
								placeholder: '画像は1:1にしましょう',
								ref: 'project-image-image-upload-input',
								type: 'image',
								inProgress: false,
								value: '',
								width: 200
							},
							{
								isRequired: true,
								label: '会社名称',
								name: 'company_name',
								placeholder: '例：MATCHKUN株式会社',
								type: 'text',
								value: ''
							},
							// {
							// 	label: '法人名(かな)',
							// 	name: 'corporate_ame',
							// 	placeholder: '例：えいこんかぶしきかいしゃ',
							// 	type: 'text',
							// 	value: ''
							// },
							{
								isRequired: true,
								label: '代表者名',
								name: 'representative',
								placeholder: '例：峯尾 太郎',
								type: 'text',
								value: ''
							},
							// {
							// 	label: '設立年',
							// 	name: 'established_year',
							// 	placeholder: '例：1982',
							// 	max: new Date().getFullYear(),
							// 	min: new Date().getFullYear() - 150,
							// 	type: 'number',
							// 	value: ''
							// },
							// {
							// 	label: '住所',
							// 	name: 'address',
							// 	placeholder: '例：東京都千代田区丸の内2-4-1',
							// 	type: 'text',
							// 	value: ''
							// },
							{
								isRequired: true,
								label: '電話番号',
								name: 'phone',
								placeholder: '例：03621390000',
								type: 'text',
								value: ''
							},
							{
								isRequired: true,
								label: 'URL',
								name: 'url',
								placeholder: '例：http://matchkun.co.jp',
								type: 'text',
								value: ''
							},
							{
								label: 'メンバ一数',
								name: 'employees',
								type: 'select',
								value: '',
								values: [
									{ label: '選択してください', value: '' },
									{ label: '〜10人未満', value: '〜10人未満' },
									{ label: '10人〜100人未満', value: '10人〜100人未満' },
									{ label: '101人〜500人未満', value: '101人〜500人未満' },
									{ label: '501人以上', value: '501人以上' }
								]
							}
						]
					},
					// {
					// 	title: '従業員情報',
					// 	fields: [
					// 		{
					// 			label: '平均年齢',
					// 			name: 'average_age',
					// 			value: '',
					// 			values: [
					// 				{ label: '選択してください', value: '' },
					// 				{ label: '18', value: '18' },
					// 				{ label: '19', value: '19' },
					// 				{ label: '20', value: '20' },
					// 				{ label: '21', value: '21' },
					// 				{ label: '22', value: '22' },
					// 				{ label: '23', value: '23' },
					// 				{ label: '24', value: '24' },
					// 				{ label: '25', value: '25' },
					// 				{ label: '26', value: '26' },
					// 				{ label: '27', value: '27' },
					// 				{ label: '28', value: '28' },
					// 				{ label: '29', value: '29' },
					// 				{ label: '30', value: '30' },
					// 				{ label: '31', value: '31' },
					// 				{ label: '32', value: '32' },
					// 				{ label: '33', value: '33' },
					// 				{ label: '34', value: '34' },
					// 				{ label: '35', value: '35' },
					// 				{ label: '36', value: '36' },
					// 				{ label: '37', value: '37' },
					// 				{ label: '38', value: '38' },
					// 				{ label: '39', value: '39' },
					// 				{ label: '40', value: '40' },
					// 				{ label: '41', value: '41' },
					// 				{ label: '42', value: '42' },
					// 				{ label: '43', value: '43' },
					// 				{ label: '44', value: '44' },
					// 				{ label: '45', value: '45' },
					// 				{ label: '46', value: '46' },
					// 				{ label: '47', value: '47' },
					// 				{ label: '48', value: '48' },
					// 				{ label: '49', value: '49' },
					// 				{ label: '50', value: '50' },
					// 				{ label: '51', value: '51' },
					// 				{ label: '52', value: '52' },
					// 				{ label: '53', value: '53' },
					// 				{ label: '54', value: '54' },
					// 				{ label: '55', value: '55' },
					// 				{ label: '56', value: '56' },
					// 				{ label: '57', value: '57' },
					// 				{ label: '58', value: '58' },
					// 				{ label: '59', value: '59' },
					// 				{ label: '60', value: '60' },
					// 				{ label: '61', value: '61' },
					// 				{ label: '62', value: '62' },
					// 				{ label: '63', value: '63' },
					// 				{ label: '64', value: '64' },
					// 				{ label: '65', value: '65' },
					// 				{ label: '66', value: '66' },
					// 				{ label: '67', value: '67' },
					// 				{ label: '68', value: '68' },
					// 				{ label: '69', value: '69' },
					// 				{ label: '70', value: '70' },
					// 				{ label: '71', value: '71' },
					// 				{ label: '72', value: '72' },
					// 				{ label: '73', value: '73' },
					// 				{ label: '74', value: '74' },
					// 				{ label: '75', value: '75' },
					// 				{ label: '76', value: '76' },
					// 				{ label: '77', value: '77' },
					// 				{ label: '78', value: '78' },
					// 				{ label: '79', value: '79' },
					// 				{ label: '80', value: '80' },
					// 			],
					// 			type: 'select'
					// 		}
					// 	]
					// },
					{
						title: '資本情報',
						fields: [
							{
								label: '資本金',
								name: 'capital',
								type: 'select',
								value: '',
								values: [
									{ label: '選択してください', value: '' },
									{ label: '〜5百万円未満', value: '〜5百万円未満' },
									{ label: '5百万円〜1千万円未満', value: '5百万円〜1千万円未満' },
									{ label: '1千万円〜3千万円未満', value: '1千万円〜3千万円未満' },
									{ label: '3千万円〜1億円未満', value: '3千万円〜1億円未満' },
									{ label: '1億円〜3億円未満', value: '1億円〜3億円未満' },
									{ label: '3億円〜10億円未満', value: '3億円〜10億円未満' },
									{ label: '10億円以上', value: '10億円以上' }
								]
							},
							// {
							// 	label: '売上',
							// 	placeholder: '漢数字、「,」など入れず数値のみでご入力ください',
							// 	type: 'multiple',
							// 	values: [
							// 		{
							// 			max: new Date().getFullYear(),
							// 			min: new Date().getFullYear() - 150,
							// 			name: 'sales_year',
							// 			placeholder: '例：2000',
							// 			suffix: '年度',
							// 			type: 'number',
							// 			value: '',
							// 			width: '150px'
							// 		},
							// 		{
							// 			max: 100000000000000,
							// 			min: 0,
							// 			name: 'sales_amount',
							// 			placeholder: '例：1000000000',
							// 			suffix: '円',
							// 			type: 'number',
							// 			value: '',
							// 			width: '200px'
							// 		}
							// 	]
							// },
							// {
							// 	label: '上場区分',
							// 	name: 'is_listed',
							// 	type: 'select',
							// 	value: '',
							// 	values: [
							// 		{ label: '選択してください', value: '' },
							// 		{ label: '上場', value: '上場' },
							// 		{ label: '非上場', value: '非上場' }
							// 	]
							// },
							// {
							// 	label: '企業ステージ',
							// 	name: 'corporate_stage',
							// 	type: 'select',
							// 	value: '',
							// 	values: [
							// 		{ label: '選択してください', value: '' },
							// 		{ label: 'IPO', value: 'IPO' },
							// 		{ label: 'レイター', value: 'レイター' },
							// 		{ label: 'ミドル', value: 'ミドル' },
							// 		{ label: 'アーリー', value: 'アーリー' },
							// 		{ label: 'シード', value: 'シード' },
							// 		{ label: 'その他', value: 'その他' }
							// 	]
							// },
							// {
							// 	label: '外資区分',
							// 	name: 'foreign_capital_category',
							// 	type: 'select',
							// 	value: '',
							// 	values: [
							// 		{ label: '選択してください', value: '' },
							// 		{ label: '外資', value: '外資' },
							// 		{ label: '非外資', value: '非外資' }
							// 	]
							// }
						]
					},
					{
						title: '会社詳細',
						fields: [
							{
								count: 0,
								height: '100px',
								label: '主要顧客',
								max: 500,
								name: 'key_customers',
								placeholder: '例 : 日本マクドナルド株式会社/株式会社ビックカメラ/イオンリテール株式会社/パナソニック株式会社/三菱電機株式会社/任天堂株式会社など',
								type: 'textarea',
								value: '',
								width: '100%'
							},
							// {
							// 	count: 0,
							// 	height: '100px',
							// 	label: '株主',
							// 	max: 100,
							// 	name: 'shareholders',
							// 	placeholder: '例 :東急不動産ホールディングス株式会社100％出資',
							// 	type: 'textarea',
							// 	value: '',
							// 	width: '100%'
							// },
							{
								count: 0,
								height: '100px',
								label: '事業概要',
								max: 500,
								name: 'business_overview',
								placeholder: '例 : FAなどの自動機の標準部品を主に扱うFA事業、自動車や電子・電気機器などの金型部品を主に扱う金型部品事業、新たな流通事業として生産設備関連部品で構成されております。',
								type: 'textarea',
								value: '',
								width: '100%'
							}
						]
					}
				]
			},
			message: '',
			modal: {},
			saveInProgress: false,
			uploadingAvatar: false,
			user: this.$store.state.user
		};
	},
	mounted() {
		getUserData()
			.then(user => {
				let project = user.project,
					attributes = project.attributes;
				this.$store.state.user = user;
				this.step.groups[0].fields[0].value = this.baseUrl + project.avatar;
				this.step.groups[0].fields[1].value = attributes.company_name ? attributes.company_name : '';
				// this.step.groups[0].fields[2].value = attributes.legal_name ? attributes.legal_name : '';
				this.step.groups[0].fields[2].value = this.user ? this.user.name : '';
				// this.step.groups[0].fields[4].value = attributes.established_year ? attributes.established_year : '';
				// this.step.groups[0].fields[5].value = attributes.address ? attributes.address : '';
				this.step.groups[0].fields[3].value = attributes.phone ? attributes.phone : '';
				this.step.groups[0].fields[4].value = attributes.url ? attributes.url : '';
				this.step.groups[0].fields[5].value = attributes.employees ? attributes.employees : '';

				// this.step.groups[1].fields[0].value = attributes.employees ? attributes.employees : '';
				// this.step.groups[1].fields[1].value = attributes.average_age ? attributes.average_age : '';

				this.step.groups[1].fields[0].value = attributes.capital ? attributes.capital : '';
				// this.step.groups[2].fields[1].values[0].value = attributes.sales_year ? attributes.sales_year : '';
				// this.step.groups[2].fields[1].values[1].value = attributes.sales_amount ? attributes.sales_amount : '';
				// this.step.groups[2].fields[2].value = attributes.is_listed ? attributes.is_listed : '';
				// this.step.groups[2].fields[3].value = attributes.corporate_stage ? attributes.corporate_stage : '';
				// this.step.groups[2].fields[4].value = attributes.foreign_capital_category ? attributes.foreign_capital_category : '';

				this.step.groups[2].fields[0].value = attributes.key_customers ? attributes.key_customers : '';
				// this.step.groups[2].fields[1].value = attributes.shareholders ? attributes.shareholders : '';
				this.step.groups[2].fields[1].value = attributes.business_overview ? attributes.business_overview : '';
			})
			.catch(err => {
				console.log(err);
			});
	},
	methods: {
		save (callback) {
			let errors = [];
			if (this.saveInProgress) return;
			if (
				this.step.groups[0].fields[1].value.trim().length < 1
				|| this.step.groups[0].fields[1].value.trim().length > 50
			) {
				errors.push('Missing company name or company name is too long');
			}
			// if (
			// 	this.step.groups[0].fields[2].value.trim().length > 50
			// ) {
			// 	errors.push('Legal name is too long');
			// }
			if (
				this.step.groups[0].fields[2].value.trim().length < 1
				|| this.step.groups[0].fields[2].value.trim().length > 10
			) {
				errors.push('Representative name is required');
			}
			// if (
			// 	this.step.groups[0].fields[4].value.trim() !== '' &&
			// 	(
			// 		isNaN(parseInt(this.step.groups[0].fields[4].value))
			// 		|| parseInt(this.step.groups[0].fields[4].value) < 1000
			// 		|| parseInt(this.step.groups[0].fields[4].value) > 9999
			// 	)
			// ) {
			// 	errors.push('Invalid established year');
			// }
			// if (
			// 	this.step.groups[0].fields[5].value.trim() !== ''
			// 	&& this.step.groups[0].fields[5].value.trim().length > 100
			// ) {
			// 	errors.push('Address is too long');
			// }
			if (!/^\d{10,11}$/g.test(this.step.groups[0].fields[3].value)) {
				errors.push('Missing phone number or an invalid phone number');
			}
			if (
				!/^[a-z0-9]+\.[a-z]{1,20}|(\.[a-z]{1,20})$/gi.test(this.step.groups[0].fields[4].value.trim())
				&& !/^http(s{0,1}):\/\/[a-z0-9]+\.[a-z]{1,20}|(\.[a-z]{1,20})/gi.test(this.step.groups[0].fields[4].value.trim())
			) {
				errors.push('Missing URL or URL if invalid');
			}

			if (errors.length) {
				this.message = errors.join('<br>');
				return;
			}

			let data = {
				company_name: this.step.groups[0].fields[1].value.trim(),
				representive_name: this.step.groups[0].fields[2].value.trim(),
				phone: this.step.groups[0].fields[3].value.trim(),
				url: this.step.groups[0].fields[4].value.trim(),
			};

			// Legal name
			// if (this.step.groups[0].fields[2].value.trim().length) {
			// 	data.legal_name = this.step.groups[0].fields[2].value.trim();
			// }

			// Employees
			if (this.step.groups[0].fields[5].value.trim().length) {
				data.employees = this.step.groups[0].fields[5].value.trim();
			}

			// Established year
			// if (this.step.groups[0].fields[4].value.trim().length) {
			// 	data.established_year = this.step.groups[0].fields[4].value.trim();
			// }

			// Address
			// if (this.step.groups[0].fields[5].value.trim().length) {
			// 	data.address = this.step.groups[0].fields[5].value.trim();
			// }

			// Average age
			// if (this.step.groups[1].fields[1].value.trim().length) {
			// 	data.average_age = this.step.groups[1].fields[1].value.trim();
			// }

			// Capital
			if (this.step.groups[1].fields[0].value.trim().length) {
				data.capital = this.step.groups[1].fields[0].value.trim();
			}

			// Sales year
			// if (this.step.groups[2].fields[1].values[0].value.trim().length) {
			// 	data.sales_year = this.step.groups[2].fields[1].values[0].value.trim();
			// }

			// Sales amount
			// if (this.step.groups[2].fields[1].values[1].value.trim().length) {
			// 	data.sales_amount = this.step.groups[2].fields[1].values[1].value.trim();
			// }

			// Is listed
			// if (this.step.groups[2].fields[2].value.trim().length) {
			// 	data.is_listed = this.step.groups[2].fields[2].value.trim();
			// }

			// Corporate stage
			// if (this.step.groups[2].fields[3].value.trim().length) {
			// 	data.corporate_stage = this.step.groups[2].fields[3].value.trim();
			// }

			// Foreign capital category
			// if (this.step.groups[2].fields[4].value.trim().length) {
			// 	data.foreign_capital_category = this.step.groups[2].fields[4].value.trim();
			// }

			// Key customers
			if (this.step.groups[2].fields[0].value.trim().length) {
				data.key_customers = this.step.groups[2].fields[0].value.trim();
			}

			// Shareholders
			// if (this.step.groups[2].fields[1].value.trim().length) {
			// 	data.shareholders = this.step.groups[2].fields[1].value.trim();
			// }

			// Business overview
			if (this.step.groups[2].fields[1].value.trim().length) {
				data.business_overview = this.step.groups[2].fields[1].value.trim();
			}
			// console.log(data); return;
			this.saveInProgress = true;
			updateProjectData(this.user.project.id, data)
				.then(function () {
					if (typeof callback === 'function') callback();
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.saveInProgress = false;
				});
		},

		saveAndNext () {
			let _this = this;
			this.save(function () {
				_this.$router.push({path: '/project/edit/2'});
			});
		},

		upload (e) {
			if (!e.target.files.length) {
				this.step.groups[0].fields[0].inProgress = false;
				return;
			}
			if (this.step.groups[0].fields[0].inProgress) return;
			this.step.groups[0].fields[0].inProgress = true;
			uploadProjectAvatar(e.target.files[0])
				.then(uri => {
					this.step.groups[0].fields[0].value = this.baseUrl + uri;
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.step.groups[0].fields[0].inProgress = false;
				});
		}
	}
}
</script>

<style scoped>
.inner-container {
	margin: 0 auto;
	width: 800px;
}

.step-title {
	color: #828989;
	line-height: 2em;
	margin-bottom: 30px;
}

.step-title .name,
.step-title h1 {
	background-image: linear-gradient(to right bottom,#3cc6b5, #3bd986);
}

.step-title .name {
	background-color: #35c379;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
}

.step-title h1 {
	font-size: 2.2em;
	font-weight: bold;
	margin: 20px 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.step-title h2 {
	color: #212121;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.buttons .inner-container,
.buttons .right {
	align-items: center;
	display: flex;
}

.buttons {
	position: sticky;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #d5d8d8;
	padding: 20px 0;
}

.buttons .inner-container {
	justify-content: space-between;
}

.buttons .right {
	justify-content: flex-end;
}

.buttons .right button:not(:first-child) {
	margin-left: 20px;
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}
</style>
