<template>
	<div id="project-edit">
		<div class="inner-container">
			<step-indicator v-if="user" :active-step="3" :project-id="user.project.id" />

			<div class="step-title">
				<div class="line">
					<span class="name">ステップ3</span>
				</div>
				<div class="line">
					<h1>探したいタグ</h1>
				</div>
				<div class="line">
					<h2>パートナー企業に求めるタグを入力してください。</h2>
				</div>
				<div class="line">
					<p>探したいタグを"ビジネス領域"・"課題"よりご選択ください。</p>
					<p>タグをもとに、貴社ニーズに合致した企業を推薦します。</p>
				</div>
			</div>

			<mat-form :data="step" @show-industries="showIndustrySelect = true">
				<template v-slot:buttonInner>
					<div class="industry_list">
						<div class="industry_row" v-for="item in industriesTree">
							<div class="name">{{item.label1}}</div>
							<div class="name">{{item.label2}}</div>
							<div class="name">{{item.label3}}</div>
							<button class="lined" @click="removeIndustry(item.id)">削除</button>
						</div>
					</div>
				</template>
			</mat-form>

		</div>

		<div class="buttons">
			<div class="inner-container">
				<div class="left">
					<button v-if="user" class="lined" cancel>
						<router-link :to="`/project/${user.project.id}`">キャンセル</router-link>
					</button>
				</div>
				<div class="right">
					<!--					<button class="lined" preview>プレビュー</button>-->
					<button class="lined" :state="saveInProgress ? 'progress' : ''" @click="saveAll">更新する</button>
				</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>

		<industry-select :selected="selectedIndustries" v-model="showIndustrySelect" @update="saveIndustry" />
	</div>
</template>

<script>
import MatProjectEditStepIndicator from '@/components/MatProjectEditStepIndicator';
import IndustrySelect from '@/components/IndustrySelect';
import { getUserData, removeIndustry, updateIndustry, updateProjectData } from '../mixins/global';

export default {
	name: 'ProjectEdit2',
	components: {
		'industry-select': IndustrySelect,
		'step-indicator': MatProjectEditStepIndicator
	},
	data () {
		return {
			showIndustrySelect: false,
			selectedIndustries: [],
			step: {
				groups: [
					{
						title: '探したいビジネス領域・一緒に解決したい課題',
						fields: [
							{
								label: 'パートナー企業に求める特徴を選択してください。',
								type: 'button',
								event: 'show-industries',
								class: ['green', 'lined'],
								value: '選択してください'
							}
						]
					}
				]
			},
			industries: [],
			industriesTree: {},
			message: '',
			modal: {},
			saveInProgress: false,
			uploadingAvatar: false,
			user: null
		};
	},
	mounted() {
		let _this = this;
		getUserData()
			.then(user => {
				let project = user.project,
					attributes = project.attributes;
				this.user = user;
				console.log(user.project)
				this.selectedIndustries = project.industry_ids;
				this.industriesTree = project.industries_tree;
			})
			.catch(err => {
				console.log(err);
			});
	},
	methods: {
		save (callback) {
			if (this.saveInProgress) return;

			if (this.step.groups[3].fields.filter(e => e.value).length > 10) {
				return this.message = '自社区分最大10つ';
			}

			let data = {
				business_features: this.step.groups[0].fields[0].value.trim(),
				provided_resources: this.step.groups[1].fields[0].value.trim(),
				innovation_and_achievements: this.step.groups[2].fields[0].value.trim(),
				types: this.step.groups[3].fields.filter(e => e.value).map(e => e.id)
			};
			this.saveInProgress = true;
			updateProjectData(this.user.project.id, data)
				.then(function () {
					if (typeof callback === 'function') callback();
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.saveInProgress = false;
				});
		},

		saveAll () {
			if (this.saveInProgress) return;
			this.saveInProgress = true;
			let _id = setTimeout(() => {
				this.saveInProgress = false;
				this.$router.push({name: 'my-page'})
				this.message = '更新が完了しました';
				clearTimeout(_id);
			}, 1000);
		},

		saveIndustry (ids) {
			if (this.saveInProgress) return;
			this.saveInProgress = true;
			updateIndustry(ids)
				.then(data => {
					this.industriesTree = data;
					this.selectedIndustries = data.map(e => e.id);
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.saveInProgress = false;
				});
		},

		removeIndustry (id) {
			if (this.saveInProgress) return;
			this.saveInProgress = true;
			removeIndustry(id)
				.then(data => {
					this.industriesTree = this.industriesTree.filter(e => e.id !== id);
					this.selectedIndustries = this.selectedIndustries.filter(e => e !== id);
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.saveInProgress = false;
				});
		}
	}
}
</script>

<style scoped>
.form {
	--field-width: calc(100% / 3);
}

.inner-container {
	margin: 0 auto;
	width: 800px;
}

.step-title {
	color: #828989;
	line-height: 2em;
	margin-bottom: 30px;
}

.step-title .name,
.step-title h1 {
	background-image: linear-gradient(to right bottom,#3cc6b5, #3bd986);
}

.step-title .name {
	background-color: #35c379;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
}

.step-title h1 {
	font-size: 2.2em;
	font-weight: bold;
	margin: 20px 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.step-title h2 {
	color: #212121;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.buttons .inner-container,
.buttons .right {
	align-items: center;
	display: flex;
}

.buttons {
	position: sticky;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #d5d8d8;
	padding: 20px 0;
}

.buttons .inner-container {
	justify-content: space-between;
}

.buttons .right {
	justify-content: flex-end;
}

.buttons .right button:not(:first-child) {
	margin-left: 20px;
}

.field-group[name="types"] .fields {
	align-items: flex-start;
	display: flex !important;
	flex-wrap: wrap;
}

.field-group[name="types"] [data-type-field] {
	width: var(--field-width);
}

.industry_list {}

.industry_row {
	align-items: center;
	border: 1px solid #acb0b0;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 10px 20px;
}

.industry_row .name {
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc((100% - 100px) / 3);
}

.industry_row .name:nth-child(1),
.industry_row .name:nth-child(2) {
	position: relative;
}

.industry_row .name:nth-child(1)::after,
.industry_row .name:nth-child(2)::after {
	position: absolute;
	top: calc(50% - 6px);
	right: 10px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20viewBox%3D%220%200%208%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.589844%2010.59L5.16984%206L0.589844%201.41L1.99984%200L7.99984%206L1.99984%2012L0.589844%2010.59Z%22%20fill%3D%22%23ACB0B0%22%2F%3E%3C%2Fsvg%3E");
	background-size: 8px 12px;
	background-repeat: no-repeat;
	content: " ";
	height: 12px;
	width: 8px;
}

.industry_row button {}

.industry_row .name:nth-child(1),
.industry_row .name:nth-child(2) {}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}
</style>
