<template>
	<div id="register-page">
		<div class="register">
			<mat-form
				:data="form"
			>
				<template v-slot:supTitle>
					<p>
						MATCHKUNはオープンイノベーションに特化した<span class="text-green">基本無料</span>でご利用いただけるWEBプラットフォームです。
						登録には、法人格が必要です。(1社1アカウントまでとなります)
					</p>
				</template>

				<template v-slot:extra>
					<div class="agreement">
						<p class="fine-print">サービス利用規約及び個人情報の取り扱いについて同意の上、ご登録ください。 こちらに入力されたメールアドレス宛てに、MATCHKUNから新しい機能・おすすめ機能やイベントなどのご連絡をする事がございます。</p>
						<div class="term-links">
							<router-link :to="{name: 'terms-and-conditions'}">サービス利用規約</router-link> 及び
							<router-link :to="{name: 'privacy-policy'}">個人情報</router-link> の取り扱いに同意して
						</div>
					</div>
				</template>
			</mat-form>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import axios from 'axios';
import validator from 'validator';
import MatForm from '@/components/MatForm';
import MatModal from '@/components/MatModal';
import { register } from '../mixins/global';

export default {
	name: 'Register',
	components: {
		'mat-form': MatForm,
		'mat-modal': MatModal
	},
	data () {
		return {
			form: {
				supTitle: [
					'[30秒で法人登録（無料）]'
				],
				title: '会員登録',
				groups: [
					{
						fields: [
							{
								isRequired: true,
								label: '法人名・自治体名',
								name: 'company',
								placeholder: '例：MATCHKUN株式会社',
								value: '',
								type: 'text',
								width: '100%'
							},
							{
								isRequired: true,
								label: 'URL',
								name: 'url',
								placeholder: 'https//www.matchkun.net',
								value: '',
								type: 'text',
								width: '100%'
							},
							{
								isRequired: true,
								label: '電話番号',
								name: 'phone',
								placeholder: '0312345678',
								value: '',
								type: 'text',
								width: '100%'
							},
							{
								isRequired: true,
								label: '担当者氏名',
								name: 'name',
								placeholder: '例：田中 太郎',
								value: '',
								type: 'text',
								width: '100%'
							},
							{
								isRequired: true,
								label: '担当者メールアドレス',
								name: 'email',
								placeholder: 'tanaka.taro@matchkun.net',
								value: '',
								type: 'text',
								width: '100%'
							},
							{
								isRequired: true,
								label: 'ログインパスワード',
								name: 'password1',
								placeholder: 'password',
								value: '',
								type: 'password',
								width: '100%'
							},
							{
								isRequired: true,
								label: '確認パスワード',
								name: 'password2',
								placeholder: 'password',
								value: '',
								type: 'password',
								width: '100%'
							}
						],
						buttonSet: [
							{
								class: ['green'],
								click: this.submit,
								text: '登録',
								type: 'button'
							},
							{
								class: ['lined'],
								click: {name: 'login'},
								text: 'ログイン',
								type: 'link'
							}
						]
					}
				],
				submit: this.submit
			},
			inProgress: false,
			message: '',
			modal: {}
		};
	},
	methods: {
		submit () {
			console.log()
			if (this.inProgress) return;
			if (!validator.isLength(this.form.groups[0].fields[0].value, {min: 1})) {
				return this.message = '会社名名は必須項目です';
			}

			if (!validator.isURL(this.form.groups[0].fields[1].value)) {
				return this.message = 'URLは必須項目です';
			}

			// Clear all non-numeric characters
			this.form.groups[0].fields[2].value = this.form.groups[0].fields[2].value.replace(/\D+/g, '');
			if (
				!validator.isLength(this.form.groups[0].fields[2].value, {max: 11, min: 10})
				|| !validator.isNumeric(this.form.groups[0].fields[2].value, {no_symbols: true})
			) {
				return this.message = '電話番号は数字のみ使用できます';
			}

			// Clear all spaces
			this.form.groups[0].fields[2].value = this.form.groups[0].fields[2].value.replace(/\s+/g, '');
			if (!validator.isLength(this.form.groups[0].fields[3].value, {min: 1})) {
				return this.message = '担当者氏名は必須項目です';
			}

			if (!validator.isEmail(this.form.groups[0].fields[4].value)) {
				return this.message = '有効なメールアドレスを入力してください';
			}

			if (!validator.isLength(this.form.groups[0].fields[5].value, {min: 8})) {
				return this.message = 'パスワードは8文字以上です';
			}

			if (this.form.groups[0].fields[5].value !== this.form.groups[0].fields[6].value) {
				return this.message = 'ログインパスワードが一致しません';
			}

			this.inProgress = true;
			register({
				company: this.form.groups[0].fields[0].value,
				url: this.form.groups[0].fields[1].value,
				phone: this.form.groups[0].fields[2].value,
				name: this.form.groups[0].fields[3].value,
				email: this.form.groups[0].fields[4].value,
				password1: this.form.groups[0].fields[5].value,
				password2: this.form.groups[0].fields[6].value
			})
				.then(() => {
					this.$router.push({ name: 'register-success' });
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.inProgress = false;
				});
		}
	}
}
</script>

<style scoped>
#register-page {
	padding: 0 30px;
}

.register {
}

#register-page,
.register {
	display: flex;
	height: 100%;
}

.register {
	align-items: center;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	padding: 50px 0;
}

.agreement {
	margin-bottom: 30px;
}

.agreement a {
	color: #4b98f0;
}

.agreement .fine-print {
	font-size: .9em;
	margin: 50px 0;
}

@media (min-width: 768px) {
	.register {
		width: 500px;
	}
}

@media (max-width: 767px) {
	.register {
		width: 80%;
	}
}
</style>
