<template>
	<div class="page">
		<div v-if="requestSuccess"  class="container">
			<div class="page-title">
				<h1>パスワードを再設定</h1>
			</div>
			<div class="content">
				<div class="banner">
					<img :src="completeIconImage" alt="">
				</div>
				<div class="section">
					<div class="section-title">
						<h2>新しいパスワードを登録しました</h2>
					</div>
					<div class="section-content">
						<p>ログイン画面から新しいパスワードを使ってログインしてください</p>
						<p flex-align="center" style="margin-top: 30px">
							<button class="lined">
								<router-link :to="{ name: 'login' }">
									ログイン画面へ
								</router-link>
							</button>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div v-else class="container">
			<mat-form
				:data="form"
			>
				<template v-slot:formTitle>
					<h2>パスワードをリセット</h2>
				</template>
				<template v-slot:supTitle>
					<p>ご登録いただいているメールアドレスを入力の上、送信ボタンを押してください。</p>
				</template>
			</mat-form>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import completeIconImage from '@/assets/img/complete_icon.svg';
import { resetPasswordByToken } from '../mixins/global';

export default {
	name: 'ResetPassword',
	data () {
		return {
			completeIconImage: completeIconImage,
			form: {
				groups: [
					{
						fields: [
							{
								isRequired: true,
								label: '新しいパスワード',
								name: 'password1',
								placeholder: 'password',
								value: '',
								type: 'password',
								width: '100%'
							},
							{
								isRequired: true,
								label: '新しいパスワード（確認用）',
								name: 'password2',
								placeholder: 'password',
								value: '',
								type: 'password',
								width: '100%'
							}
						],
						buttonSet: [
							{
								class: ['green'],
								click: this.submit,
								text: '登録',
								type: 'button'
							}
						]
					}
				],
				submit: this.submit
			},
			inProgress: false,
			message: '',
			modal: {},
			requestSuccess: false
		};
	},
	methods: {
		submit () {
			let _this = this;
			if (this.inProgress) return;
			let password1 = this.form.groups[0].fields[0].value,
				password2 = this.form.groups[0].fields[1].value;
			if (password1.length < 8) return this.message = 'パスワードは8文字以上です';
			if (password2.length < 8) return this.message = 'パスワードは8文字以上です';
			if (password1 !== password2) return this.message = 'パスワードが一致しません';

			let data = {
				password1: password1,
				password2: password2,
				token: this.$route.params.token
			};
			this.inProgress = true;
			resetPasswordByToken(data)
				.then(() => {
					this.requestSuccess = true;
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.inProgress = false;
				});
		}
	}
}
</script>

<style scoped>
.container {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 400px;
}

.page-title {
	color: #596161;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 30px;
}

.section-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.content .banner {
	align-items: center;
	background-color: #eefff6;
	display: flex;
	height: 150px;
	justify-content: center;
	margin-bottom: 20px;
}

.content .banner img {
	width: 100px;
}
</style>
