<template>
	<div class="page">
		<div v-if="requestSuccess"  class="container">
			<div class="page-title">
				<h1>確認メールを再送信</h1>
			</div>
			<div class="content">
				<div class="banner">
					<img :src="forgotIconImage" alt="">
				</div>
				<div class="section">
					<div class="section-title">
						<h2>成功</h2>
					</div>
					<div class="section-content">
						<p>メールが送信されました</p>
						<p>確認メールを再送信するためのリンクをメールに送信しました。手順に従って再登録をしてください。</p>
					</div>
				</div>
			</div>
		</div>
		<div v-else class="container">
			<mat-form
				:data="form"
			>
				<template v-slot:formTitle>
					<h2>確認メールを再送信</h2>
				</template>
				<template v-slot:supTitle>
					<p>ご登録いただいているメールアドレスを入力の上、送信ボタンを押してください。</p>
				</template>
			</mat-form>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import forgotIconImage from '@/assets/img/forgot_icon.svg';
import { resendConfirmationEmail } from '../mixins/global';

export default {
	name: 'ResendConfirmation',
	data () {
		return {
			forgotIconImage: forgotIconImage,
			form: {
				groups: [
					{
						fields: [
							{
								isRequired: true,
								label: 'ご登録されているメールアドレス',
								name: 'email',
								placeholder: 'user@email.com',
								value: '',
								type: 'email',
								width: '100%'
							}
						],
						buttonSet: [
							{
								class: ['green'],
								click: this.submit,
								text: '送信',
								type: 'button'
							},
							{
								class: ['lined'],
								click: {name: 'login'},
								text: 'キャンセル',
								type: 'link'
							}
						]
					}
				],
				submit: this.submit
			},
			inProgress: false,
			message: '',
			modal: {},
			requestSuccess: false
		};
	},
	methods: {
		submit () {
			if (this.inProgress) return;
			let email = this.form.groups[0].fields[0].value.trim();
			if (!email.length) {
				return this.message = 'メールアドレスを入力してください';
			}

			if (!/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/gi.test(email)) {
				this.message = '有効なメールアドレスを入力してください';
			}

			this.inProgress = true;
			resendConfirmationEmail({ email: email })
				.then(() => {
					this.requestSuccess = true;
				}).catch(err => {
					this.message = err;
				}).then(() => {
					this.inProgress = false;
				});
		}
	}
}
</script>

<style scoped>
.page {}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 400px;
}

.page-title {
	color: #596161;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 30px;
}

.page-title h1 {}

.content {}

.content .banner {
	align-items: center;
	background-color: #eefff6;
	display: flex;
	height: 150px;
	justify-content: center;
	margin-bottom: 20px;
}

.content .banner img {
	width: 60px;
}

.section {}

.section-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.section-title h2 {}

.section-content {}

.section-content p {}

.container {
	align-items: center;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	padding: 50px 0;
}

@media (min-width: 768px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 767px) {
	.container {
		width: 80%;
	}
}
</style>
