<template>
	<div class="page">
		<div class="sidebar">
			<filters
				@keywords-search="doSearch"
				@filters-change="updateFilters"
				@type-change="updateType"
				:clear-types="typesToClear"
			/>
		</div>
		<div v-if="justStart || inProgress" class="progress">
			Please wait...
		</div>

		<div v-else class="result" ref="result">
			<div class="applied-filters">
				<div class="title">
					<h3>絞り込み条件 : すべて</h3>
					<span class="clear-filters" @click="clearFilters">条件をクリア</span>
				</div>
				<div class="filters">
					<div class="filter"
						 v-for="type in types"
						 v-if="type.value === true"
						 @click="removeBusinessType(type.id)"
					>
						<span class="text">{{type.label}}</span>
						<i class="icon icon-close"></i>
					</div>
				</div>
			</div>

			<div class="sort">
				<div class="summary">
					<div class="count">
						検索結果: {{total}}件
						<span v-if="startItem > 0">({{startItem}}-{{endItem}}件を表示)</span>
					</div>
				</div>
				<select name="sortby" v-model="orderBy">
					<option value="created">新着順</option>
					<option value="updated">更新順</option>
<!--					<option value="recommendation">オススメ</option>-->
<!--					<option value="response_rate">高返信率</option>-->
				</select>
			</div>

			<div class="project-list">
				<mat-project-block
					v-for="(item, i) in projects" :key="i"
					:data="item"
					@add-favourite="addFavourite"
					@remove-favourite="removeFavourite"
				/>
			</div>

			<mat-pagination :active="currentPage" :state="paginationState" :total="totalPages" @change-page="changePage" />
		</div>
	</div>
</template>

<script>
import { addFavourite, getProjectTypes, getUserData, removeFavourite, search } from '../mixins/global';

export default {
	name: 'SearchProjects',
	data () {
		return {
			keywords: this.$store.state.keywords,
			searchType: this.$store.state.searchType,
			currentPage: 1,
			inProgress: false,
			itemsPerPage: 10,
			justStart: true,
			orderBy: 'created',
			paginationState: false,
			projects: [],
			total: 0,
			totalPages: 0,
			types: {},
			typesToClear: [],
			startItem: 0,
			endItem: 0,
			user: null
		};
	},
	mounted() {
		getProjectTypes()
			.then(types => {
				types.forEach(type => {
					this.types[type.id] = type;
				});
				getUserData()
					.then(user => {
						this.user = user;
						this.doSearch();
					})
					.catch(err => {
						console.log(err);
					});
			})
			.catch(err => {
				console.log(err);
			});
	},
	watch: {
		'$store.state.businessTypes' (val) {
			this.doSearch();
		},
		orderBy () {
			this.currentPage = 1;
			this.doSearch();
		}
	},
	methods: {
		addFavourite (project_id) {
			addFavourite(project_id)
			.then(() => {
				this.user.favourites.push(project_id);
				this.$store.state.user.favourites = this.user.favourites;
				this.projects.forEach(item => {
					if (item.id === project_id) item.isFavourited = true;
				});
			})
			.catch(err => {
				console.log(err);
			});
		},

		clearFilters () {
			this.$store.state.keywords = '';
			this.currentPage = 1;
			this.$store.state.businessTypes = [];
			for (let id in this.types) {
				this.types[id].value = false;
				if (this.typesToClear.indexOf(id) === -1) {
					this.typesToClear.push(parseInt(id));
				}
			}
			this.doSearch();
		},

		changePage (page) {
			this.currentPage = page;
			this.doSearch();
		},

		doSearch () {
			if (this.inProgress) return;
			this.inProgress = true;
			this.justStart = false;

			let _this = this;
			search(
				this.$store.state.keywords,
				this.$store.state.searchType,
				this.$store.state.searchIndustry,
				this.$store.state.businessTypes,
				this.currentPage,
				this.orderBy
			)
				.then(data => {
					data.items.forEach(item => {
						item.isFavourited = this.user.favourites.indexOf(item.id) === -1 ? false : true;
						item.allowFavourited = _this.user.id === item.member.id ? false : true;
					});
					_this.projects = data.items;
					_this.total = data.total;
					_this.totalPages = Math.ceil(data.total / _this.itemsPerPage);
					_this.paginationState = true;

					if (data.total === 0) {
						_this.startItem = 0;
						_this.endItem = 0;
					} else {
						_this.startItem = (_this.currentPage - 1) * _this.itemsPerPage + 1;
						_this.endItem = data.total - _this.currentPage * _this.itemsPerPage > 0 ? _this.itemsPerPage : data.total;
					}

					document.querySelector('main').scroll(0, 0);
					_this.inProgress = false;
				})
				.catch(err => {
					console.log(err);
				})
				.then(() => {
					_this.inProgress = false;
				});
		},

		removeBusinessType (id) {
			if (this.inProgress) return;
			this.$store.state.businessTypes = this.$store.state.businessTypes.filter(e => e !== id);
			for (let id in this.types) {
				if (this.$store.state.businessTypes.indexOf(parseInt(id)) > -1) {
					this.types[id].value = true;
				} else {
					this.types[id].value = false;
				}
			}
			if (this.typesToClear.indexOf(id) === -1) {
				this.typesToClear.push(id);
			}
			this.doSearch();
		},

		removeFavourite (project_id) {
			removeFavourite(project_id)
				.then(() => {
					this.user.favourites = this.user.favourites.filter(e => e !== project_id);
					this.$store.state.user.favourites = this.user.favourites;
					this.projects.forEach(item => {
						if (item.id === project_id) item.isFavourited = false;
					});
				})
				.catch(err => {
					console.log(err);
				});
		},

		updateKeywords (keywords) {
			this.keywords = keywords;
			this.currentPage = 1;
			this.doSearch();
		},

		updateFilters () {
			if (this.inProgress) return;
			for (let id in this.types) {
				if (this.$store.state.businessTypes.indexOf(parseInt(id)) > -1) {
					this.types[id].value = true;
				} else {
					this.types[id].value = false;
				}
			}

			this.currentPage = 1;
			this.doSearch();
		},

		updateType (type) {
			if (this.inProgress) return;
			if (['', 'name', 'resource', 'require'].indexOf(type.trim().toLowerCase()) === -1) return;
			this.searchType = type.trim().toLowerCase();
			this.currentPage = 1;
			this.doSearch();
		}
	}
}
</script>

<style scoped>
.applied-filters .title,
.applied-filters .filters,
.applied-filters .filter,
.sort,
.sort .summary,
.progress {
	align-items: center;
	display: flex;
}

.applied-filters .title,
.sort {
	justify-content: space-between;
}

.page {
	align-items: stretch;
	display: flex;
}

.sidebar {
	border-right: 1px solid #eaebeb;
	width: 250px;
}

.result {
	margin: 0 auto;
	padding: 40px 20px;
	width: 800px;
}

.applied-filters {
	background-color: #fff;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 20px;
	z-index: 5000;
}

.applied-filters .title {
	margin-bottom: 10px;
}

.applied-filters .title h3 {
	color: #212121;
}

.clear-filters {
	color: #007aea;
	cursor: pointer;
	user-select: none;
}

.applied-filters .filters {
	flex-wrap: wrap;
}

.applied-filters .filter {
	background-color: #35c379;
	border-radius: 16px;
	color: #fff;
	cursor: pointer;
	font-size: .8em;
	height: 25px;
	justify-content: center;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 0 0 0 10px;
	transition: all .2s;
}

.applied-filters .filter .icon {
	transform: translateX(20px);
	transition: all .2s;
}

.applied-filters .filter:hover {
	padding-right: 5px;
}

.applied-filters .filter:hover .icon {
	transform: translateX(0);
	margin-left: 5px;
}

.sort {
	margin: 40px 0;
}

.sort h2 {
	font-size: 1.2em;
	font-weight: bold;
}

.sort .count {
	font-size: .9em;
	margin-left: 10px;
}

.sort select {
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
}

.progress {
	background-color: #f0f0f0;
	border-radius: 10px;
	height: 200px;
	justify-content: center;
	margin: 40px 40px 0;
	width: 100%;
}

@media (max-width: 1200px) {
	.result {
		width: 640px;
	}
}

@media (max-width: 960px) {
	.result {
		width: calc(100% - 40px);
	}
}
</style>
