<template>
	<div v-if="user" class="page">
		<div class="wrapper">
			<div class="search-filters"></div>
			<div class="content">
				<div class="page-title">
					<h1>Search Result</h1>
				</div>
				<div class="content-inner">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Search',
	data () {
		return {
			user: this.$store.state.user
		};
	},
	mounted() {
	}
}
</script>

<style scoped>
.page > .wrapper {
	align-items: stretch;
	display: flex;
}

.content {
	flex-grow: 1;
}

.page-title {
	font-size: 2em;
	font-weight: bold;
	padding: 40px 40px 0;
}

.content-inner {
	margin: 0 auto;
	padding-top: 40px;
	width: 850px;
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}
</style>
