<template>
	<div class="page">
		<div class="container">
			<div class="container">
				<div class="page-title">
					<h1>サービス規約（企業会員用）</h1>
				</div>
				<div class="content">
					<div class="section">
						<div class="section-content">
							<p>
								本規約は、お客様が、パーソルイノベーション株式会社カンパニー（以下、「当社」といいます。）
								が提供する「MATCHKUN」をご利用いただく上での合意事項となります。「MATCHKUN」に会員
								登録をされる場合には、第3条の規定に従い、ご登録と同時に、本規約にご同意いただいたものとみなしま
								す。また、ご登録前に「MATCHKUN」をご利用いただく場合には、実際にご利用されたことをもって
								本規約にご同意いただいたものとみなします。
							</p>
							<div class="para_title">第1条（定義）</div>
							<p>0000
								1.本サービスとは、当社が、オープンイノベーションを推進したい企業・組織等（以下「企業等」と
								いいます。）と、かかる企業等とともに自らの技術やアイディア等の資源を活用することを希望す
								る企業等との間の出会いを創出・支援することを目的として提供するプラットフォームサービス
								「MATCHKUN」および事業を活性化する情報をお届けするメディアサービスを総称していい
								ます。 会員は、「MATCHKUN」を利用する場合は、必然的にのサービス会員も兼ねること
								になります。「ＡＵＢＡ」のみのサービスを選択して会員になることはできませんが、
								のみを利用する目的で本サービスの会員となることはできますサービスの詳細内容は第2条に定め
								ます。
							</p>
							<p>
								2.本サイトとは、当社が運営するWebサイト「MATCHKUN」およびを総称していいます。
							</p>
							<p>
								3.企業会員とは、本規約に同意し本サービスに会員としてご登録されている企業等をいいます。
							</p>
							<p>
								4.個人会員とは、本サービスに会員として登録されている個人をいいます。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'TermsAndConditions'
}
</script>

<style scoped>
.container {
	width: 100%;
}

.page-title {
	background-color: #33a09b;
	color: #fff;
	font-size: 1.5em;
	padding: 30px 0;
	text-align: center;
}

.page-title h1 {
}

.page-title h2 {
	font-size: .6em;
}

.content {
	background-color: #f4f4f4;
	line-height: 1.4em;
	margin: 24px auto;
	padding: 50px;
	width: 80%;
}

.content p {
	margin-bottom: 20px;
	padding-left: 20px;
}

.para_title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 30px 0;
}
</style>
