<template>
	<div class="page">
		<div class="wrapper">
			<mat-panel v-if="!isMobile" active-page="tickets" />
			<div v-if="user" class="content">
<!--				<mat-user-email-not-verified v-if="!user.is_email_verified" />-->
				<div class="page-title">
					<h1>プラン / メッセージチケット</h1>
				</div>
				<div class="content-inner">
					<div class="box">
						<div class="box-title">チケット管理</div>
						<div class="box-content">
							<div class="drawer" flex-align="between" flex-valign="center">
								<div class="count" flex-valign="center">
									残りチケット
									<span class="num">1</span>
									<span class="unit">枚</span>
								</div>
								<div class="info">
									<mat-tooltip tip="メッセージを送信する際に必要です。">
										チケットとは
									</mat-tooltip>
								</div>
							</div>
							<div class="drawer" flex-align="left">
								<div class="ticket">
									<div class="ticket-type">月初ログインチケット</div>
									<div class="ticket-content">
										<div class="ticket-details">
											<div class="ticket-expiry">残り 5時間</div>
											<div class="ticket-note">2021年03月01日00時59分まで有効</div>
										</div>
										<div class="ticket-balance">
											<i class="icon icon-tickets"></i>
											<span class="number">1</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div v-if="false" class="box">
						<div class="box-title">プラン</div>
						<div class="box-content">
							<div class="drawer" flex-align="even" flex-valign="stretch">
								<div class="ticket-option">
									<div class="title">まずは共創実績をつくりたい</div>
									<div class="details">
										<div class="level">エントリー</div>
										<div class="price" flex-valign="center">
											<span class="number">¥60,000</span>/月
										</div>
										<div class="price-explain">メッセージチケット(8枚/30日)</div>
										<div class="support">オンラインコンサル LITE</div>
										<div class="minimum">最低契約期間：90日〜</div>
										<button class="green">申し込み</button>
									</div>
								</div>
								<div class="ticket-option">
									<div class="ribbon">人気</div>
									<div class="title">継続的に共創実績をつくりたい</div>
									<div class="details">
										<div class="level">ベーシック</div>
										<div class="price" flex-valign="center">
											<span class="number">¥100,000</span>/月
										</div>
										<div class="price-explain">メッセージチケット(15枚/30日)</div>
										<div class="support">オンラインコンサル BASIC</div>
										<div class="minimum">最低契約期間：90日〜</div>
										<button class="green">申し込み</button>
									</div>
								</div>
								<div class="ticket-option">
									<div class="title">チーム全体で共創にコミットしたい</div>
									<div class="details">
										<div class="level">アンリミテッド</div>
										<div class="price" flex-valign="center">
											<span class="number">¥500,000</span>/月
										</div>
										<div class="price-explain">メッセージチケット(無制限)</div>
										<div class="support">オンラインコンサル PRO</div>
										<div class="minimum">最低契約期間：90日〜</div>
										<button class="green">申し込み</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { getUserData } from '@/mixins/global';

export default {
	name: 'Tickets',
	data () {
		return {
			isMobile: false,
			user: this.$store.state.user
		};
	},
	mounted() {
		this.isMobile = window.innerWidth <= 768;
		window.addEventListener('resize', () => {
			this.isMobile = window.innerWidth <= 768;
		});

		getUserData()
		.then(user => {
			this.user = user;
		})
		.catch(err => {
			console.log(err);
		});
	}
}
</script>

<style scoped>
.page > .wrapper {
	align-items: stretch;
	display: flex;
}

.content {
	flex-grow: 1;
}

.page-title {
	font-size: 2em;
	font-weight: bold;
	padding: 40px 40px 0;
}

.content-inner {
	margin: 0 auto;
	padding-top: 40px;
	width: 850px;
}





.tooltip {
	color: #007aea;
}

.box {
	margin-bottom: 50px;
}

.box .drawer .count .num {
	color: #35c379;
	font-size: 3em;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 10px;
}

.box-title {
	border-left: 5px solid #35c379;
	font-size: 1.3em;
	margin-bottom: 20px;
	padding-left: 10px;
}

.box-content {
	border: 1px solid #eaebeb;
	border-radius: 4px;
}

.drawer {
	padding: 30px;
}

.drawer.flex {
	align-items: center;
	display: flex;
}

.drawer:not(:last-child) {
	border-bottom: 1px solid #eaebeb;
}






.ticket {
	background-color: #f8f7ed;
	border-radius: 4px;
	color: #2f3a3a;
	padding: 20px;
	user-select: none;
	width: 240px;
}

.ticket-type {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 20px;
}

.ticket-content {
	align-items: flex-end;
	display: flex;
}

.ticket-expiry {
	color: #d20000;
	font-size: .8em;
	margin-bottom: 5px;
}

.ticket-note {
	color: #828989;
	font-size: .7em;
}

.ticket-balance {
	align-items: center;
	background-color: #35c379;
	border-radius: 27px;
	color: #fff;
	display: flex;
	font-size: .9em;
	height: 27px;
	justify-content: center;
	margin-left: 20px;
	padding: 0 15px;
}

.ticket-balance .number {
	margin-left: 5px;
}

.ticket-option {
	position: relative;
	background-color: #f5f5f5;
	border-radius: 6px;
	font-size: .9em;
	overflow: hidden;
	width: calc(100% / 3);
}

.ticket-option:not(:last-child) {
	margin-right: 10px;
}

.ticket-option .ribbon {
	position: absolute;
	top: 0;
	right: -30px;
	background-color: #fbaa41;
	color: #fff;
	line-height: 35px;
	text-align: center;
	transform: rotateZ(45deg);
	width: 100px;
}

.ticket-option .title {
	background-color: #d5d8d8;
	font-weight: bold;
	line-height: 35px;
	text-align: center;
}

.ticket-option:nth-child(2) .title {
	background-color: #91b2c1;
}

.ticket-option:nth-child(3) .title {
	background-color: #efd4ad;
}

.ticket-option .details {
	padding: 30px 30px 10px;
}

.ticket-option .level,
.ticket-option .price,
.ticket-option .price-explain,
.ticket-option .support,
.ticket-option .minimum {
	margin-bottom: 10px;
	text-align: center;
	white-space: nowrap;
}

.ticket-option .price,
.ticket-option .price-explain {
	background-image: linear-gradient(to right bottom,#3cc6b5,#3bd986);
	color: #35c379;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.ticket-option .support,
.ticket-option .price-explain {
	font-weight: bold;
}

.ticket-option .price .number {
	font-size: 3em;
	font-weight: bold;
}

.ticket-option .level {
	font-size: 1.1em;
	font-weight: bold;
}

.ticket-option button {
	width: 100%;
}

.info >>> .tip {
	left: initial;
	right: 0;
	font-size: 1em;
	transform: none;
}

@media (max-width: 1200px) {
	.content-inner {
		width: calc(100% - 80px);
	}
}
</style>
