<template>
	<div v-if="show" class="industry">
		<div class="wrapper">
			<div class="mask" @click="close"></div>
			<div class="box">
				<div class="title">
					探したいビジネス領域・一緒に解決したい課題
				</div>
				<div class="cols">
					<div class="col">
						<div class="row"
							 v-for="item in level1"
							 @click="level2 = item.children; level3 = []"
						>
							<div class="label">{{item.label}}</div>
							<div v-if="item.children.length" class="count">{{item.children.length}}</div>
						</div>
					</div>
					<div class="col">
						<div class="row"
							 v-for="item in level2"
							 @click="level3 = item.children"
						>
							<div class="label">{{item.label}}</div>
							<div v-if="item.children.length" class="count">{{item.children.length}}</div>
						</div>
					</div>
					<div class="col">
						<div class="row" v-for="item in level3">
							<label class="label">
								<input type="checkbox"
									   :checked="selectedId.indexOf(item.id) > -1"
									   @change="toggleSelection($event.target, item.id)"
								>
								{{item.label}}
							</label>
						</div>
					</div>
				</div>
				<div class="hint">
					大カテゴリを選択してください
					<div v-if="message !== ''" class="message">{{message}}</div>
				</div>
				<div class="button-set">
					<button class="lined" @click="close">キャンセル</button>
					<button class="green lined" @click="save">選択する</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { getIndustries } from '../mixins/global';

export default {
	name: 'IndustrySelect',
	props: {
		selected: {
			default: [],
			type: Array
		},
		value: {
			default: false,
			type: Boolean
		}
	},
	data () {
		return {
			level1: [],
			level2: [],
			level3: [],
			message: '',
			selectedId: [],
			show: false
		};
	},
	mounted() {
		getIndustries()
			.then(data => {
				this.level1 = data;
			})
			.catch(err => {
				console.log(err);
			});
	},
	watch: {
		selected (val) {
			this.selectedId = val;
		},
		show (val) {
			this.$emit('input', val);
			this.show = val;
		},

		value (val) {
			this.show = val;
		}
	},
	methods: {
		close () {
			this.show = false;
			this.level2 = [];
			this.level3 = [];
			this.selectedId = this.selected;
		},

		save () {
			this.close();
			this.$emit('update', this.selectedId);
		},

		toggleSelection (el, id) {
			let checked = el.checked, count = this.selectedId.length;
			if (count >= 10) {
				// this.selectedId = this.selectedId.filter(each => each !== id);
				el.checked = false;
				this.message = '10件以上は登録できません';
			} else {
				this.message = '';
			}

			if (checked && count < 10) {
				if (this.selectedId.indexOf(id) === -1) this.selectedId.push(id);
			} else {
				this.selectedId = this.selectedId.filter(each => each !== id);
			}
		}
	}
}
</script>

<style scoped>
.industry {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50000000000;
}

.mask {
	background-color: rgba(0,0,0,.5);
	height: 100%;
	width: 100%;
	z-index: 1;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
	padding: 30px;
	transform: translate(-50%,-50%);
	width: 1000px;
	z-index: 2;
}

.title {
	align-items: center;
	color: #2f3a3a;
	display: flex;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 30px;
}

.title::before {
	background: linear-gradient(to right bottom,#3cc6b5,#3bd986);
	content: "";
	display: block;
	height: 40px;
	margin-right: 10px;
	width: 8px;
}

.cols {
	align-items: stretch;
	display: flex;
	height: 400px;
	width: 100%;
}

.col {
	position: relative;
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 100%;
	overflow-y: auto;
	width: calc(100% / 3);
}

.col:not(:last-child) {
	margin-right: 20px;
}

.col:nth-child(2)::before,
.col:nth-child(3)::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	background-color: #f0f0f0;
	color: #acb0b0;
	display: flex;
	font-size: .9em;
	justify-content: center;
	padding: 10px;
	text-align: center;
	z-index: -1;
}

.col:nth-child(2)::before {
	content: "大カテゴリを選択してください";
}

.col:nth-child(3)::before {
	content: "小カテゴリを選択してください";
}

.row {
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #eaebeb;
	cursor: pointer;
	display: flex;
	padding: 10px 10px;
}

.row:hover {
	background-color: #fafafa;
}

.label {
	flex-grow: 1;
}

.col:nth-child(3) .label {
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

.count {
	background-color: #35c379;
	border-radius: 50%;
	color: #fff;
	line-height: 26px;
	text-align: center;
	width: 26px;
}

.hint {
	padding: 30px 0;
	text-align: center;
}

.button-set {
	justify-content: center;
}

.button-set button:not(:last-child) {
	margin-right: 30px;
}

.message {
	color: #d20000;
	margin-top: 10px;
}

@media (max-width: 1200px) {
	.box {
		width: 90%;
	}
}
</style>
