<template>
	<div class="filters">
		<div class="section keyword">
			<div class="label">キーワード</div>
			<div class="keyword-container">
				<input type="text" v-model="$store.state.keywords" @keyup.enter="$emit('keywords-search')">
				<select class="search-type" v-model="$store.state.searchType">
					<option value="">すべて</option>
					<option value="name">企業名</option>
					<option value="resource">リソース</option>
					<option value="require">ニーズ</option>
				</select>
			</div>
		</div>
		<div class="section" :expanded="section.expanded"
			 v-for="section in filters"
			 :style="{
				'--list-height': (section.items.length * 40 + 40) + 'px'
			 }"
		>
			<div class="title"
				 @click="section.expanded = !section.expanded"
			>
				<div class="wrapper">
					<h3>{{section.title}}</h3>
					<i class="icon icon-down-circled"></i>
				</div>
			</div>
			<div class="conditions">
				<ul>
					<li class="checkbox">
						<input type="checkbox" :id="section.name + '-all'" v-model="section.allSelected"
							   @change="allCheckboxChanged(section)"
						>
						<label :for="section.name + '-all'">すべて選択</label>
					</li>
					<li class="checkbox"
						v-for="item in section.items"
					>
						<input type="checkbox" :id="item.name" v-model="item.value"
							   @change="checkboxChanged(section)"
						>
						<label :for="item.name">{{item.label}}</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
import { getProjectTypes } from '../mixins/global';
import {mapState} from 'vuex';

export default {
	name: 'MatFilters',
	props: {
		clearTypes: {
			default: [],
			type: Array
		}
	},
	data () {
		return {
			filters: [
				{
					name: 'types',
					title: '企業の特徴',
					allSelected: false,
					expanded: true,
					items: []
				},

				{
					name: 'characteristics',
					title: '企業区分',
					allSelected: false,
					expanded: true,
					items: []
				}
			],
			selectedTypes: []
		};
	},
	mounted() {
		let _this = this;
		getProjectTypes()
			.then(types => {
				_this.filters[0].items = types.splice(0, 7);
				_this.filters[1].items = types;
			})
			.catch(err => {
				console.log(err);
			});
	},
	watch: {
		clearTypes: {
			deep: true,
			handler (val) {
				console.log(val)
				this.filters.forEach(filter => {
					let count = 0;
					filter.items.forEach(item => {
						if (val.indexOf(item.id) > -1) {
							count ++;
							item.value = false;
						}
					});
					if (count === filter.items.length) {
						filter.allSelected = false;
					}
				});
			}
		},

		filters: {
			deep: true,
			immediately: true,
			handler (filters) {
				let selected = [];
				filters.forEach(filter => {
					filter.items.forEach(item => {
						if (item.value === true && selected.indexOf(item.id) === -1) {
							selected.push(item);
						}
					});
				});
				this.selectedTypes = selected;
				this.$emit('types-change', selected);
			}
		}
	},
	methods: {
		allCheckboxChanged (section) {
			this.$store.state.businessTypes = [];
			section.items.forEach(item => {
				if (section.allSelected) {
					this.$store.state.businessTypes.push(item.id);
				}
				item.value = section.allSelected;
			});
			this.$emit('filters-change');
		},

		checkboxChanged (section) {
			let count = 0;
			section.items.forEach(item => {
				if (item.value) {
					count ++;
					if (this.$store.state.businessTypes.indexOf(item.id) === -1) {
						this.$store.state.businessTypes.push(item.id);
					}
				} else {
					this.$store.state.businessTypes = this.$store.state.businessTypes.filter(e => e !== item.id);
				}
			});
			section.allSelected = count === section.items.length;
			this.$emit('filters-change');
		}
	}
}
</script>

<style scoped>
.section .title .wrapper,
.section .title h3,
li.checkbox {
	align-items: center;
	display: flex;
}

.section {
	--list-height: 0;
}

.section .title {
	border-bottom: 1px solid #eaebeb;
	color: #596161;
	cursor: pointer;
	height: 50px;
	padding-right: 10px;
}

.section .title .wrapper {
	justify-content: space-between;
}

.section .title h3 {
	font-size: 1.2em;
	height: 100%;
}

.section .title h3::before {
	background-color: #ccc;
	content: "";
	height: 100%;
	margin-right: 10px;
	transition: background-color .5s;
	width: 10px;
}

.section[expanded="true"] .title h3::before {
	background-color: #3bd986;
	/*background-image: linear-gradient(to right bottom,#3cc6b5,#3bd986);*/
}

.section .title .icon {
	color: #acb0b0;
	font-size: 1.25em;
	transform: rotateZ(0);
	transition: color .5s, transform .5s;
}

.section[expanded="true"] .title .icon {
	color: #35c379;
	transform: rotateZ(180deg);
}

.conditions ul {
	height: 0;
	overflow: hidden;
	padding-top: 0;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 0;
	transition: height .5s, padding .5s;
}

.section[expanded="true"] .conditions ul {
	height: var(--list-height);
	padding-top: 20px;
	padding-bottom: 30px;
}

li.checkbox:not(:last-child) {
	margin-bottom: 15px;
}

.section.keyword {
	padding: 20px;
}

.section.keyword .label {
	margin-bottom: 5px;
}

.keyword-container {
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: flex;
	height: 50px;
	padding: 0 8px;
}

.keyword-container input {
	flex-grow: 1;
	outline: none;
	padding: 0 10px 0 5px;
	width: calc(100% - 130px);
}

.keyword-container .search-type {
	background-color: #f0f0f0;
	border: none;
	border-radius: 4px;
	height: 35px;
	padding: 0 5px;
	width: 80px;
}
</style>
