<template>
	<div class="form">
		<div class="title">
			<slot name="formTitle"></slot>
		</div>
		<div class="sup-title">
			<slot name="supTitle"></slot>
		</div>
		<div class="title"
			 v-if="data.title"
		>
			<h2>{{ data.title }}</h2>
		</div>
		<div class="field-group"
			 :name="group.name"
			 v-if="data.groups"
			 v-for="group in data.groups"
		>
			<div v-if="group.title" class="field-group-title">
				<h4>{{ group.title }}</h4>
			</div>
			<div class="fields" :style="group.fieldsStyle">
				<div v-if="group.fields" v-for="field in group.fields" class="field" :style="group.fieldStyle">
					<div v-if="field.type === 'button'" class="button-wrapper">
						<p v-if="field.label">{{field.label}}</p>
						<slot name="buttonInner"></slot>
						<button @click="$emit(field.event, $event)" v-if="field.class" :class="field.class">{{field.value}}</button>
						<button @click="$emit(field.event, $event)" v-else class="green">{{field.value}}</button>
					</div>
					<div v-else-if="field.type === 'checkbox'" class="checkbox">
						<input :id="field.name" type="checkbox" v-model="field.value">
						<label :for="field.name" :is-required="field.isRequired">{{ field.label }}</label>
					</div>
					<div v-else class="field">
						<div  v-if="field.label" class="label">
							<label :for="field.name"
								   :is-required="field.isRequired"
							>{{ field.label }}</label>
						</div>
						<div v-if="field.type === 'image'" class="image-uploader-container">
							<div v-if="field.placeholder" :is-required="field.isRequired" class="field-description">{{ field.placeholder }}</div>
							<div class="image-uploader">
								<div v-if="field.value" class="field-image"
									 :style="{
									backgroundImage: 'url(' + field.value + ')',
									height: `${field.height ? field.height : 150}px`,
									width: `${field.width ? field.width : 150}px`
								 }"
								></div>
								<div class="button-set">
									<input :ref="field.ref" type="file" style="display: none"
										   @change="$emit(field.event, $event)"
									>
									<button v-if="field.inProgress" class="green lined" state="progress">
										アップロード
									</button>
									<button v-else class="green lined" @click="selectFileToUpload(field)">
										アップロード
									</button>
								</div>
							</div>
						</div>
						<div v-else-if="field.type === 'select'" class="select"
							 :style="{ width: field.width ? field.width : '50%' }"
						>
							<select :name="field.name" v-model="field.value">
								<option v-for="option in field.values"
										:selected="field.value === option.value"
										@change="field.value = option.value"
								>{{ option.label }}</option>
							</select>
						</div>
						<div v-else-if="field.type === 'textarea'" class="textarea"
							 :style="{
							height: field.height ? field.height : 'auto',
							width: field.width ? field.width : '50%'
						 }"
						>
						<textarea :name="field.name"
								  :placeholder="field.placeholder"
								  v-model="field.value"
								  @input="field.count = field.value.length"
						>
						</textarea>
							<div v-if="field.max || field.min" class="prompt">
								<div v-if="field.max" class="max" :data-error="field.count > field.max">
									{{ `${field.count > field.max ? field.value.length + '字' : field.max + '字以内推奨'}` }}
								</div>
								<div v-if="field.min" class="min" :data-error="field.count < field.min">
									{{ `${field.count < field.min ? field.value.length + '字' : field.min + '字以上推奨'}` }}
								</div>
							</div>
						</div>
						<div v-else-if="field.type === 'multiple'" class="multiple">
							<div class="input"
								 :data-prefix="each.prefix"
								 :style="{ width: each.width ? each.width : '50%' }"
								 v-for="each in field.values"
							>
								<input :id="each.name"
									   :max="each.max"
									   :min="each.min"
									   :name="each.name"
									   :type="each.type"
									   :placeholder="each.placeholder"
									   v-model="each.value"
									   @keypress.enter="data.submit"
								>
							</div>
						</div>
						<div v-else class="input" :style="{ width: field.width ? field.width : '50%' }">
							<input :id="field.name"
								   :max="field.max"
								   :min="field.min"
								   :name="field.name"
								   :type="field.type"
								   :placeholder="field.placeholder"
								   v-model="field.value"
								   @keypress.enter="data.submit"
							>
						</div>
					</div>
				</div>
				<slot class="field" name="extra"></slot>
				<div class="field" v-if="group.buttonSet">
					<div class="button-set">
						<button v-if="button.type !== 'link'"
								v-for="button in group.buttonSet"
								:class="button.class"
								:state="button.state"
								@click="button.click"
						>{{ button.text }}</button>
						<button v-else :class="button.class">
							<router-link :to="button.click">{{ button.text }}</router-link>
						</button>
					</div>
				</div>
				<div class="field"
					 v-if="group.links"
				>
					<div class="link-set">
						<router-link v-for="(link, i) in group.links"
									 :key="i"
									 :to="link.to"
						>{{ link.text }}</router-link>
					</div>
				</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
export default {
	name: 'MatForm',
	props: {
		data: {
			default: {},
			type: Object
		}
	},
	data () {
		return {
			message: '',
			modal: {}
		};
	},
	methods: {
		selectFileToUpload (field) {
			if (!field.inProgress && field.ref && this.$refs[field.ref] && this.$refs[field.ref].length) {
				this.$refs[field.ref][0].click();
			}
		}
	}
}
</script>

<style>
.form {
	width: 100%;
}

.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form input[type="text"],
.form input[type="url"],
.form select,
.form textarea {
	background-color: transparent;
	border: none;
	height: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	width: 100%;
}

.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form input[type="text"],
.form input[type="url"],
.form textarea {
	appearance: none;
}

.form textarea {
	resize: none;
}

.form .sup-title,
.form .title {
	margin-bottom: 30px;
}

.form .title {
	font-size: 2em;
	font-weight: bold;
}

.form .field-group-title {
	border-left: 5px solid #35c379;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 40px;
	padding: 5px 10px;
}

.form .field-group-title h2 {
}

.form .field:not(:last-child) {
	margin-bottom: 20px;
}

.form .field,
.form .field-group:not(:last-child) {
	margin-bottom: 30px;
}

.form .input,
.form .select,
.form .textarea {
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	display: inline-block;
	height: 50px;
	padding: 0 20px;
}

.form .field.checkbox {
	align-items: center;
	display: flex;
}

.form .textarea {
	--max-limit-text: "";
	--min-limit-text: "";
	padding: 10px;
}

.form .textarea {
	position: relative;
	margin-bottom: 40px;
}

.form .textarea .prompt {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	align-items: center;
	color: #acb0b0;
	display: flex;
	font-size: .9em;
	justify-content: flex-end;
}

.form .textarea .prompt .max[data-error="true"],
.form .textarea .prompt .min[data-error="true"] {
	color: #d20000;
}

.form .textarea .prompt .min {
	margin-left: 20px;
}

.form textarea {
	overflow-x: hidden;
}

.form .multiple {
	align-items: center;
	display: flex;
}

.form .textarea[max-limit]::after {
	content: var(--max-limit-text);
}

.form .textarea[min-limit]::after {
	content: var(--min-limit-text);
}

.form .multiple .input:not(:first-child) {
	margin-left: 20px;
}

.form .multiple .input[data-prefix] {
	position: relative;
	margin-left: 60px;
}

.form .multiple .input[data-prefix]::before {
	position: absolute;
	top: calc(50% - 10px);
	left: -45px;
	color: #212121;
	content: attr(data-prefix);
	font-size: 1em;
}

.form .label {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 20px;
}

.form label[is-required="true"] {
	position: relative;
}

.form label[is-required="true"]::before {
	position: absolute;
	top: 50%;
	right: -40px;
	color: #d20000;
	content: "必須";
	font-size: .8em;
	transform: translateY(-50%);
}

.form .link-set {
	font-weight: bold;
}

.form .link-set,
.form .link-set a {
	color: #4b98f0;
}

.form .image-uploader {
	align-items: center;
	display: flex;
}

.form .image-uploader .field-image {
	position: relative;
	background-color: #e0efe7;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #828989;
	margin: 10px 30px 0 0;
	overflow: hidden;
}

.form .image-uploader img {
	display: block;
	height: 100%;
	width: 100%;
}

.form .button-wrapper {}

.form .button-wrapper p {
	margin-bottom: 10px;
}
</style>
