<template>
	<footer>
		<div class="container">
			<div class="logo">
				<router-link :to="{ name: 'home' }">
					MATCHKUN<!-- 文字 logo -->
				</router-link>
			</div>
			<div class="columns">
				<div class="column"
					 v-for="column in columns"
				>
					<div v-if="column.title" class="title">{{ column.title }}</div>
					<ul v-if="column.items.length">
						<li v-for="item in column.items">
							<router-link v-if="item.name" :to="{ name: item.name }">{{ item.text }}</router-link>
							<router-link v-if="item.path" :to="{ path: item.path }">{{ item.text }}</router-link>
							<router-link v-if="item.fullPath" :to="{ fullPath: item.fullPath }">{{ item.text }}</router-link>
						</li>
					</ul>
				</div>
			</div>
			<div class="bottom">
				<div class="inquiry">
<!--					<span class="text">お問い合わせはこらと紐付けてください</span>-->
					<button class="green lined">
						<router-link :to="{name: 'contact'}">お問い合わせ</router-link>
					</button>
				</div>
				<div class="social-media">
					<span class="copyright">
						&copy;matchkun company
					</span>
					<i class="icon icon-twitter"></i>
					<i class="icon icon-facebook"></i>
					<i class="icon icon-youtube"></i>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'MatFooter',
	data () {
		return {
			columns: [
				{
					items: [
						{
							text: 'MATCHKUNとは',
							name: 'about'
						},
						{
							text: 'お問い合わせ',
							path: 'contact'
						}
					]
				},
				{
					title: 'ABOUT US',
					items: [
						{
							text: '私たちについて',
							path: 'home'
						},
						{
							text: 'サービスについて',
							path: 'home'
						},
						{
							text: '成功事例',
							path: 'home'
						},
						{
							text: '運営会社',
							path: 'home'
						},
						{
							text: 'プライバシーポリシー',
							path: 'home'
						}
					]
				}
			]
		};
	}
}
</script>

<style scoped>
footer {
	background-color: #2f3a3a;
	padding: 0 30px;
}

footer .social-media,
footer .inquiry {
	align-items: center;
}

footer .inquiry .text,
footer .social-media {
	color: #d5d8d8;
}

footer .columns,
footer .bottom,
footer .social-media,
footer .inquiry {
	display: flex;
}

footer .logo a {
	text-decoration: none;
}

footer > .container {
	padding: 52px 0 32px;
}

footer .logo {
	font-family: Montserrat;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 32px;
}

footer .logo a {
	color: #fff;
}

footer .logo img {
	display: block;
	height: 100%;
	width: auto;
}

footer .column {
	width: 30%;
}

footer .column .title {
	color: #fff;
	font-size: 1.1em;
	margin-bottom: 17px;
}

footer .columns li:not(:last-child) {
	margin-bottom: 20px;
}

footer .columns li a {
	color: #d5d8d8;
	font-size: .9em;
}

footer .column:not(:last-child) {
	margin-right: 20px;
}

footer .bottom {
	border-top: 1px solid #596161;
	flex-direction: row-reverse;
	height: 100px;
	justify-content: space-between;
	margin-top: 40px;
}

footer .copyright,
footer .icon-twitter,
footer .icon-facebook {
	margin-right: 30px;
}

footer .social-media .icon {
	font-size: 1.7em;
}

footer .inquiry .text {
	margin-right: 2em;
}

@media (max-width: 767px) {
	footer > .container {
		padding: 30px;
	}

	footer .logo {
		margin-bottom: 30px;
	}

	footer .columns {
		flex-wrap: wrap;
		margin-bottom: 50px;
	}

	footer .column:nth-child(1) {
		margin-right: 0;
		margin-bottom: 30px;
		width: 100%;
	}

	footer .column:nth-child(2) {
		margin-right: 10px;
	}

	footer .column:nth-child(2),
	footer .column:nth-child(3) {
		width: calc(50% - 5px);
	}

	footer .columns li[data-v-e1189cca]:not(:last-child) {
		margin-bottom: 10px;
	}

	footer .bottom {
		display: block;
		font-size: .9em;
		margin-top: 0;
		margin-bottom: 20px;
		padding-top: 20px;
	}

	footer .bottom .inquiry {
		margin-bottom: 20px;
	}
}
</style>
