<template>
	<header>
		<div class="logo">
			<router-link :to="{ name: 'home' }">
				MATCHKUN
			</router-link>
		</div>
		<div class="nav">
			<div class="user-menu">
				<div class="quick-links">
					<router-link v-if="user" :to="{ name: 'favourites' }" class="favourite-count">
						<i class="icon icon-star-filled"></i>
						<div v-if="user.favourites.length" class="badge">
							{{ user.favourites.length }}
						</div>
					</router-link>
					<router-link :to="{ name: 'about' }">MATCHKUNについて</router-link>
					<router-link v-if="user" :to="{ name: 'search-projects' }">PR一覧</router-link>
					<router-link v-if="user" :to="{ name: 'messages' }">メッセージ</router-link>
					<router-link v-if="user" :to="{ name: 'my-page' }">ダッシュボード</router-link>
				</div>

				<div class="button-set">
					<div v-if="user" class="user-info"
						 :show="showUserMenu"
					>
						<div class="wrapper">
							<div class="info-bar" ref="info-bar"
								 @click="showUserMenu = !showUserMenu"
							>
								<div class="avatar">
									<img :src="user.avatar" alt="">
								</div>
								<div class="name">{{ user.name }}</div>
								<i class="icon icon-arrow-down-open"></i>
							</div>
							<ul class="user-dropdown">
								<li>
									<router-link :to="{ name: 'accounts' }" @click="showUserMenu = false">
										プロフィール編集
									</router-link>
								</li>


								<li @click="exit(); showUserMenu = false">ログアウト</li>

								<li class="social">
									<a class="item" target="_blank">
										<i class="icon icon-facebook"></i>
									</a>
									<a class="item" target="_blank">
										<i class="icon icon-twitter"></i>
									</a>
									<a class="item" target="_blank">
										<i class="icon icon-youtube"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<button v-if="!user" type="button" class="green goto-register register">
						<router-link :to="{ name: 'register' }">会員登録</router-link>
					</button>
					<button v-if="!user" type="button" class="goto-login login">
						<router-link :to="{ name: 'login' }">ログイン</router-link>
					</button>
					<div class="mobile-menu-toggle">
						<i class="icon icon-search"></i>
						<i class="icon icon-menu" @click="showSideMenu = true"></i>
					</div>
				</div>
			</div>
		</div>

		<mat-side-menu :show="showSideMenu" @close="showSideMenu = false" :user-data="user" @exit="exit" />
	</header>
</template>

<script>
import {mapState} from 'vuex';
import {logout} from '../mixins/global';

export default {
	name: 'MatHeader',
	data () {
		return {
			isMobileView: false,
			showSideMenu: false,
			showUserMenu: false
		};
	},
	computed: {
		...mapState({
			project: state => state.project,
			user: state => state.user
		})
	},
	mounted() {
		document.addEventListener('click', e => {
			if (this.$refs['info-bar']) {
				if (!this.$refs['info-bar'].contains(e.target)) {
					this.showUserMenu = false;
				}
			}
		});

		this.isMobileView = window.innerWidth <= 768;
		window.addEventListener('resize', () => {
			this.isMobileView = window.innerWidth <= 768;
		});
	},
	methods: {
		exit () {
			logout();
			this.$store.state.user = null;
			if (this.$router.currentRoute.name !== 'home') {
				this.$router.push({name: 'home'});
			}
		}
	}
}
</script>

<style scoped>
header {
	position: relative;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.05);
	justify-content: space-between;
	user-select: none;
	z-index: 10000000;
}

header,
header .logo,
header .nav,
header .user-menu,
header .nav .button-set,
header .info-bar,
header .mobile-menu-toggle {
	align-items: center;
	display: flex;
}

header .logo,
header .mobile-menu-toggle {
	cursor: pointer;
}

header .logo a,
header .quick-links a,
header .mobile-menu-toggle {
	color: #3a4444;
}

header .nav,
header .nav .button-set {
	justify-content: flex-end;
}

header .logo a,
header .quick-links a {
	text-decoration: none;
}

header .quick-links {
	font-size: .9em;
	font-weight: bold;
}

header .quick-links a {
	margin-right: 30px;
}

header .quick-links .favourite-count {
	position: relative;
	font-size: 1.5em;
}

header .logo {
	justify-content: center;
}

header .logo {
	font-family: Montserrat;
	font-size: 1.4em;
	font-weight: bold;
	margin-right: 50px;
}

header .logo img {
	display: block;
	height: 100%;
	width: auto;
}

header .nav {
	flex-grow: 1;
}

header button.register {
	margin-right: 2em;
}

header .mobile-menu-toggle {
	color: #3a4444;
	font-size: 1.5em;
}

header .mobile-menu-toggle .icon {
	margin-left: 10px;
}

header .user-info .avatar {
	border-radius: 50%;
	height: 40px;
	overflow: hidden;
	width: 40px;
}

header .user-info .avatar img {
	display: block;
	width: 100%;
}

header .user-info .info-bar {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
}

header .user-menu .info-bar .name {
	font-weight: bold;
	margin: 0 10px;
}

header .user-info .info-bar .icon {
	cursor: pointer;
}

header .user-info ul {
	position: absolute;
	top: calc(100% + 20px);
	right: 0;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.3), 0 10px 15px 0 rgba(0,0,0,.2);
	opacity: 0;
	transition: opacity .5s, visibility .5s;
	visibility: hidden;
	z-index: -999;
}

header .user-info ul::before {
	position: absolute;
	top: -15px;
	left: 50%;
	border-style: solid;
	border-width: 0 10px 15px 10px;
	border-color: transparent transparent #fff transparent;
	content: "";
	height: 0;
	transform: translateX(-50%);
	width: 0;
}

header .user-info .icon-arrow-down-open {
	transform: rotateX(0);
	transition: transform .5s;
}

header .user-info[show="true"] ul {
	opacity: 1;
	transition: opacity .5s, visibility 0s;
	visibility: visible;
	z-index: 1000;
}

header .user-info[show="true"] .icon-arrow-down-open {
	transform: rotateX(180deg);
}

header .user-info li {
	cursor: pointer;
	line-height: 50px;
	padding: 0 20px;
	transition: background-color .5s;
	white-space: nowrap;
}

header .user-info li:not(:last-child) {
	border-bottom: 1px solid #f2f2f2;
}

header .user-info li:hover,
header .user-info li:hover a {
	/*color: #4b98f0;*/
}

header .user-dropdown a {
	color: #212121;
}

header .social .item {
	color: #ccc;
	font-size: 1.25em;
}

header .social .item:not(:last-child) {
	margin-right: 10px;
}

@media (min-width: 768px) {
	header {
		height: 65px;
		padding: 0 30px;
	}

	header .mobile-menu-toggle {
		display: none;
	}
}

@media (max-width: 767px) {
	header {
		height: 50px;
		padding: 0 10px;
	}

	header .user-info,
	header .quick-links,
	header .nav .button-set button {
		display: none;
	}
}
</style>
