<template>
	<div v-if="user" class="inbox">
		<div class="panel_switcher">
			<div class="list_panel" :active="activePanel == 'list'" @click="switchPanel('list')">List</div>
			<div class="chat_panel" :active="activePanel == 'chat'" @click="switchPanel('chat')">Chat</div>
		</div>
		<div class="list_wrapper" ref="list_wrapper">
			<div class="list">
				<div class="item" v-for="item in list"
					 :active="item.project_id === projectId"
				>
					<div class="avatar"
						 @click="$router.push({name: 'project', params: {id: item.project_id}})"
						 :style="{
							backgroundImage: 'url(' + avatarUrl + item.company_avatar + ')'
						}"
					></div>
					<div class="info" @click="listSelected(item)">
						<div class="name">
							<div class="company">{{item.company_name}}</div>
							<div v-if="item.sender_id !== user.id">
								<div v-if="!item.is_read" class="status">
									<span v-if="item.project_id === projectId" :style="{backgroundColor: '#2f3a3a', color: '#fff'}">未読</span>
									<span v-else :style="{backgroundColor: '#2f3a3a'}">未読</span>
								</div>
								<div v-else class="status">
									<span v-if="item.project_id === projectId" :style="{backgroundColor: '#fff'}">既読</span>
									<span v-else :style="{backgroundColor: '#35c379'}">既読</span>
								</div>
							</div>
						</div>
						<div class="timeago">{{item.created_at | formatDateTime}}</div>
						<div class="brief">{{item.content | truncate(40)}}</div>
					</div>
				</div>
			</div>
			<div class="chat">
				<div class="content" ref="chat-content">
					<div class="item"
						 v-for="item in messages"
						 :is-self="item.sender_id === user.id"
					>
						<div v-if="item.sender_id === user.id" class="timestamp">{{item.created_at | formatDateTime}}</div>
						<div v-else class="avatar"
							 @click="$router.push({name: 'project', params: {id: item.project_id}})"
							 :style="{
								backgroundImage: 'url(' + avatarUrl + item.sender_avatar + ')'
							}"
						></div>
						<div class="text">{{item.content}}</div>
						<div v-if="item.sender_id !== user.id" class="timestamp">{{item.created_at | formatDateTime}}</div>
					</div>
				</div>
				<div v-if="projectId !== null" class="input">
					<textarea v-model="currentMessage"></textarea>
					<button v-if="currentMessage.trim() === ''"
							class="green"
							state="progress"
					>メッセージを送る</button>
					<button v-else class="green" @click="send">メッセージを送る</button>
				</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import { getMessageList, getMessages, getUserData, sendMessage } from '../mixins/global';

export default {
	name: 'MatInbox',
	data () {
		return {
			activePanel: 'list',
			anotherId: null,
			currentMessage: '',
			inProgress: false,
			list: [],
			listTimer: 0,
			message: '',
			messages: [],
			messageTimer: 0,
			modal: {},
			projectId: null,
			user: null
		};
	},
	mounted() {
		this.listTimer ++;

		getUserData()
			.then(user => {
				this.user = user;
				this.loadList();
			})
			.catch(err => {
				console.log(err);
			});

		// let list_interval_id = setInterval(() => {
		// 	this.listTimer ++;
		// }, 600 * 1000);
		//
		// let message_interval_id = setInterval(() => {
		// 	if (this.anotherId) {
		// 		this.messageTimer ++;
		// 	}
		// }, 60 * 1000);
	},
	watch: {
		listTimer (val) {
			// console.log('List timer: %s', val);
			this.loadList();
		},

		messageTimer (val) {
			// console.log('Message timer: %s', val);
			this.loadMessages();
		}
	},
	methods: {
		listSelected (item) {
			this.projectId = item.project_id;
			// item.is_read = true;
			if (this.user.id === item.sender_id) {
				this.anotherId = item.receiver_id;
			} else {
				this.anotherId = item.sender_id;
			}
			this.messageTimer ++;
		},

		loadList () {
			if (this.inProgress) return;
			this.inProgress = true;

			getMessageList()
				.then(data => {
					this.list = data;
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.inProgress = false;
				});
		},

		loadMessages () {
			if (this.inProgress) return;
			this.inProgress = true;

			getMessages(this.anotherId)
				.then(data => {
					this.messages = data;
					this.scrollMessagesToEnd();

					let current_item_id = this.list.filter(item => item.project_id === this.projectId)[0].id;
					data.forEach(message => {
						this.list.forEach(item => {
							if (item.id === message.id) {
								item.is_read = 1;
							}
						});
					});
					this.switchPanel('chat');
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.inProgress = false;
				});
		},

		send () {
			if (!this.projectId) {
				return this.message = '対象企業の選択をしてください';
			}
			if (this.currentMessage.trim().length > 500) {
				return this.message = '内容 1 文字より短くまたは 500 文字より長くすることはできません';
			}
			if (this.inProgress) return;
			this.inProgress = true;

			sendMessage(this.anotherId, this.projectId, this.currentMessage.trim())
				.then(data => {
					this.messages = data;
					this.currentMessage = '';
					getMessages(this.anotherId)
						.then(data => {
							this.messages = data;
							this.scrollMessagesToEnd();

							// Mark the active list as unread
							// this.list.forEach(item => {
							// 	if (item.project_id === this.projectId) {
							// 		item.is_read = 0;
							// 	}
							// });
						})
						.catch(err => {
							this.message = err;
						})
						.then(() => {
							this.inProgress = false;
						});
				})
				.catch(err => {
					this.message = err;
				})
				.then(() => {
					this.inProgress = false;
				});
		},

		scrollMessagesToEnd () {
			if (this.$refs['chat-content']) {
				let tmp_id = setTimeout(() => {
					this.$refs['chat-content'].scrollTo(0, this.$refs['chat-content'].scrollHeight)
					clearTimeout(tmp_id);
				}, 10);
			}
		},

		switchPanel (name) {
			switch (name) {
				case 'list':
					this.activePanel = 'list';
					this.$refs['list_wrapper'].scrollLeft = 0;
					break;
				case 'chat':
					this.activePanel = 'chat';
					this.$refs['list_wrapper'].scrollLeft = 99999;
					break;
			}
		}
	}
}
</script>

<style scoped>
.inbox,
.list_wrapper,
.panel_switcher,
.list_panel,
.chat_panel,
.list .item,
.avatar,
.info,
.chat,
.chat .input,
.chat .item {
	align-items: center;
	display: flex;
}

.company,
.status {
	margin-bottom: 5px;
}

.list_wrapper,
.list .item,
.info,
.chat .input {
	align-items: flex-start;
}

.chat .content,
.chat .input textarea {
	flex-grow: 1;
}

.list,
.chat {
	flex-shrink: 0;
	vertical-align: top;
	width: 50%;
}

.inbox {
	border: 1px solid #eaebeb;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.panel_switcher {
	align-items: stretch;
	border-bottom: 1px solid #ccc;
	height: 50px;
	width: 100%;
}

.list_panel,
.chat_panel {
	justify-content: center;
	width: 50%;
}

.list_panel[active="true"],
.chat_panel[active="true"] {
	background-color: #3bd986;
	color: #fff;
}

.list_panel:not([active="true"]),
.chat_panel:not([active="true"]) {
	cursor: pointer;
}

.list_wrapper {
	height: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;
	width: 100%;
}

.list_wrapper ul {
	height: 640px;
}

.list_wrapper .item .avatar:hover {
	box-shadow: 0 0 0 5px #3bd986;
	cursor: pointer;
}

.list_wrapper .item .info:hover {
	background-color: #eaebeb;
	cursor: pointer;
}

.list_wrapper .item[active="true"] {
	background-color: #35c379;
	color: #fff;
	cursor: pointer;
}

.avatar {
	background-color: #ccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 50px;
	justify-content: center;
	margin-top: 5px;
	margin-left: 10px;
	overflow: hidden;
	width: 50px;
}

.avatar img {
	display: block;
	height: 100%;
	width: auto;
}

.info {
	padding: 5px 20px;
	width: calc(100% - 60px);
}

.company {
	font-weight: bold;
}

.status span {
	background-color: #2f3a3a;
	border-radius: 5px;
	color: #eaebeb;
	font-size: .8em;
	padding: 3px 8px;
}

.list_wrapper .item[active="true"] .status span {
	color: #35c379;
	border: 1px solid #fff;
}

.info {
	flex-wrap: wrap;
}

.info .name {
	width: calc(100% - 100px);
}

.timeago {
	text-align: right;
	white-space: nowrap;
	width: 100px;
}

.brief {
	border-top: 1px solid #eaebeb;
	color: #acb0b0;
	padding: 5px 0;
	white-space: pre-wrap;
	width: 100%;
	word-break: break-all;
}

.list_wrapper .item[active="true"] .brief {
	color: #fff;
}

.chat {
	border-left: 1px solid #eaebeb;
	flex-direction: column;
	height: 100%;
}

.chat .content {
	height: 440px;
	overflow-y: auto;
}

.chat .input {
	background-color: #eaebeb;
	height: 200px;
	padding: 20px;
	width: 100%;
}

.chat .input button {
	margin-left: 20px;
}

.chat .input textarea {
	border: 1px solid #acb0b0;
	border-radius: 4px;
	height: 100%;
	outline: none;
	padding: 15px;
	resize: none;
}

.chat .content {
	padding: 10px;
	scroll-behavior: smooth;
	width: 100%;
}

.chat .item {
	align-items: flex-end;
	margin-bottom: 20px;
}

.chat .avatar {
	background-color: #f0f0f0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 35px;
	margin-right: 10px;
	min-height: 35px;
	min-width: 35px;
	width: 35px;
}

.chat .avatar img {
	display: block;
	height: 100%;
	width: 100%;
}

.chat .text {
	background-color: #eaebeb;
	border-radius: 10px;
	font-size: .9em;
	flex-grow: 1;
	margin-right: 10px;
	padding: 10px;
	white-space: pre-wrap;
	/*width: calc(100% - 45px - 60px);*/
	word-break: break-all;
}

.chat .timestamp {
	color: #828989;
	font-size: .8em;
	text-align: center;
	white-space: nowrap;
	/*width: 60px;*/
}

.chat .item[is-self="true"] .text {
	background-color: #35c379;
	background-image: linear-gradient(145deg, rgba(65,171,154,1) 0%, rgba(64,183,124,1) 100%);
	color: #fff;
	flex-grow: 1;
	margin-left: 10px;
	/*width: calc(100% - 50px);*/
}

@media (max-width: 768px) {
	.info {
		flex-direction: column;
	}

	.info .name {
		width: 100%;
	}

	.list_wrapper {
		position: relative;
		overflow: hidden;
	}

	.list,
	.chat {
		/*position: absolute;*/
		width: 100%;
	}
}
</style>
