<template>
	<div class="modal">
		<div class="wrapper">
			<div class="mask" @click="$emit('close')"></div>
			<div class="inner-wrapper">
				<i class="icon icon-close" @click="$emit('close')"></i>
				<div v-if="data.title" class="title">{{ data.title }}</div>
				<div class="content">
					<slot name="content"></slot>
				</div>
				<div class="button-set">
					<button class="lined" @click="$emit('close')">{{ text.close }}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatModal',
	props: {
		data: {
			default: {},
			type: Object
		}
	},
	data () {
		return {
			text: {
				close: '閉じる'
			}
		};
	}
}
</script>

<style>
.modal {
	position: fixed;
	background-color: transparent;
	z-index: 100000000;
}

.modal .mask,
.modal .inner-wrapper,
.modal .icon-close {
	position: absolute;
}

.modal,
.modal .mask {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal .mask {
	position: absolute;
	background-color: rgba(0,0,0,.5);
	z-index: 0;
}

.modal .inner-wrapper {
	position: relative;
	top: 50%;
	left: 50%;
	background-color: #fff;
	border-radius: 5px;
	padding: 40px;
	transform: translate(-50%,-50%);
	z-index: 10;
}

.modal .icon-close {
	top: 10px;
	right: 15px;
	cursor: pointer;
	font-size: 1.5em;
	transform: rotateZ(0);
}

.modal .title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 20px;
}

.modal .content {
	margin-bottom: 40px;
}

.modal .button-set {
	justify-content: flex-end;
}

@media (min-width: 768px) {
	.modal .inner-wrapper {
		max-width: 600px;
		min-width: 400px;
	}

	.modal .icon-close:hover {
		transform: rotateZ(360deg);
		transition: transform .5s;
	}
}
</style>
