<template>
	<div v-if="data" class="block">
		<div class="wrapper">
			<div class="details">
				<div class="intro" v-if="data.attributes.business_overview">
					{{data.attributes.business_overview}}
				</div>
				<div class="brief">
					<div v-if="data.avatar" class="avatar" :style="{
						backgroundImage: 'url(' + avatarUrl + data.avatar + ')'
					}"></div>
					<div class="quick-actions">
						<div class="name">
							<h3 v-if="data.attributes.company_name">{{data.attributes.company_name}}</h3>
							<div v-if="data.allowFavourited">
								<button class="green light"
										v-if="data.isFavourited"
										@click="$emit('remove-favourite', data.id)"
								>お気に入り中</button>
								<button v-else class="green lined"
										@click="$emit('add-favourite', data.id)"
								>
									<i class="icon-star"></i>
									お気に入り
								</button>
							</div>
						</div>
<!--						<div class="tags" v-if="data.types.length">-->
<!--							<div class="tag" v-for="t in data.types">-->
<!--								{{t.label}}-->
<!--							</div>-->
<!--						</div>-->
						<div class="tags" v-if="data.industries_tree.length">
							<div class="tag" v-for="item in data.industries_tree">
								{{item.label3}}
							</div>
						</div>
					</div>
				</div>
				<div class="divisions">
					<div class="division about">
						<h3>事業内容</h3>
						<div class="text">
							{{data.attributes.business_features ? data.attributes.business_features : '' | truncate(50)}}
						</div>
					</div>
					<div class="division resource">
						<h3>やりたいこと</h3>
						<div class="text">
							{{data.attributes.provided_resources ? data.attributes.provided_resources : '' | truncate(50)}}
						</div>
					</div>
				</div>
				<div v-if="data.attributes.representive_name" class="representative">
					<div v-if="data.member" class="avatar"
						 :style="{
							backgroundImage: 'url(' + avatarUrl + data.member.avatar + ')'
						 }"
					></div>
					<div class="person">
						<div class="name">
							<span class="label" v-if="data.attributes.representive_name">
								{{data.attributes.representive_name | truncate(50)}}
							</span>
							<span class="position" v-if="data.attributes.representive_position">
								{{data.attributes.representive_position | truncate(50)}}
							</span>
						</div>
						<div class="description" v-if="data.attributes.representive_introduction">
							{{data.attributes.representive_introduction | truncate(50)}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="view-more">
			<router-link :to="'/project/' + data.id">詳細を見る</router-link>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatProjectBlock',
	props: ['data']
}
</script>

<style scoped>
.block .brief,
.block .avatar,
.block .quick-actions .name,
.block .quick-actions .tags,
.block .divisions,
.block .representative .avatar,
.block .representative {
	align-items: center;
	display: flex;
}

.block .quick-actions,
.block .quick-actions .name h3 {
	flex-grow: 1;
}

.block {
	border: 1px solid #eaebeb;
	border-radius: 10px;
	color: #596161;
	margin-bottom: 30px;
}

.block .brief {
	align-items: flex-start;
	margin-bottom: 10px;
}

.block .brief .avatar {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #eaebeb;
	border-radius: 4px;
	height: 80px;
	justify-content: center;
	margin-top: 10px;
	min-width: 80px;
	overflow: hidden;
	width: 80px;
}

.block .quick-actions {
	margin-left: 10px;
}

.block .quick-actions .name {
	color: #828989;
	font-weight: bold;
	justify-content: space-between;
	margin-bottom: 10px;
}

.block .quick-actions .name h3,
.block .representative .person {
	flex-grow: 1;
}

.block .quick-actions .tags {
	flex-wrap: wrap;
}

.block .quick-actions .tag {
	background-color: #f2f2f2;
	border-radius: 16px;
	height: 24px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 0 15px;
}

.block .quick-actions .tag,
.block .quick-actions .tag:hover {
	color: #828989;
}

.block > .wrapper {
	padding: 30px;
}

.block .intro {
	font-weight: bold;
	margin-bottom: 10px;
}

.block .divisions {
	align-items: flex-start;
	padding-bottom: 20px;
}

.block .division {
	font-size: .9em;
	width: 50%;
}

.block .division:first-child {
	margin-right: 10px;
}

.block .division h3 {
	font-weight: bold;
	margin-bottom: 10px;
}

.block .representative {
	align-items: flex-start;
	border-top: 1px solid #eaebeb;
	padding-top: 10px;

}

.block .representative .avatar {
	background-color: #f0f0f0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 60px;
	justify-content: center;
	margin-right: 30px;
	min-height: 60px;
	min-width: 60px;
	overflow: hidden;
	width: 60px;
}

.block .representative .avatar img {
	display: block;
	height: 100%;
	width: auto;
}

.block .representative .person .description {
	margin-top: 10px;
}

.block .representative .person .name {
	font-size: 1.2em;
	font-weight: bold;
	margin-right: 20px;
}

.block .representative .person .company,
.block .representative .person .position {
	font-size: .6em;
	font-weight: normal;
}

.view-more {
	background-color: #3bd986;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	user-select: none;
}

.view-more a {
	color: #fff;
	display: block;
	text-align: center;
}
</style>
