<template>
	<div class="pagination">
		<div class="container">
			<div class="item prev" v-show="active !== 1"
				 @click="$emit('change-page', active - 1)"
			>前へ</div>
			<div v-if="page !== '...' && active !== page" class="item"
				 v-for="page in pages"
				 @click="$emit('change-page', page)"
			>{{ page }}</div>
			<div v-else-if="page !== '...' && active === page" class="item active">{{ page }}</div>
			<div v-else class="ellipsis">...</div>
			<div class="item next" v-show="active !== total && total > 0"
				 @click="$emit('change-page', active + 1)"
			>次へ</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatPagination',
	props: {
		active: {
			default: 1,
			type: Number
		},
		state: false,
		total: {
			default: 1,
			type: Number
		}
	},
	data () {
		return {
			max: 10,
			pages: []
		};
	},
	watch : {
		active: {
			immediate: true,
			handler () {
				this.organisePages();
			}
		},
		state: {
			immediate: true,
			handler () {
				this.organisePages();
			}
		}
	},
	methods: {
		organisePages () {
			this.pages = [];
			if (this.total > this.max) {
				if (this.active <= 3) {
					for (let i = 1; i <= 5; i ++) {
						this.pages.push(i);
					}
					this.pages.push('...');
				} else if (this.active <= this.total - 3) {
					this.pages.push('...');
					for (let i = this.active - 2; i <= this.active + 2; i ++) {
						this.pages.push(i);
					}
					this.pages.push('...');
				} else {
					this.pages.push('...');
					for (let i = this.total - 5; i <= this.total; i ++) {
						this.pages.push(i);
					}
				}
			} else {
				for (let i = 1; i <= this.total; i ++) {
					this.pages.push(i);
				}
			}
		}
	}
}
</script>

<style scoped>
.container,
.item {
	align-items: center;
	display: flex;
	justify-content: center;
}

.pagination {
	margin: 40px 0;
	user-select: none;
}

.container {}

.ellipsis {
	margin: 0 5px;
}

.item {
	border-radius: 5px;
	cursor: pointer;
	height: 35px;
	padding: 0 .971em;
}

.item:not(:last-child):not(.prev):not(.next) {
	margin-right: 5px;
}

.item:not(.prev):not(.next):not(.active) {
	border: 1px solid #eaebeb;
	color: #828989;
}

.item.prev,
.item.next,
.item.active {
	background-color: #3bd986;
	border: 1px solid #3bd986;
	color: #fff;
}

.item.active {
	cursor: default;
}

.item.prev {
	margin-right: 10px;
}

.item.next {
	margin-left: 10px;
}
</style>
