<template>
	<div class="panel">
		<div v-if="user" class="avatar-container">
			<div class="avatar-inner">
				<div v-if="user.avatar" class="avatar" :style="{
					backgroundImage: 'url(' + avatarUrl + user.avatar + ')'
				}">
				</div>
				<div class="name">{{ user.name }}</div>
			</div>
		</div>
		<div class="menu-container">
			<ul>
				<li :class="[item.active ? 'active' : '']"
					v-for="(item, name) in menu"
				>
					<span v-if="item.active" class="label">{{ item.label }}</span>
					<router-link v-else :to="{ name: name }">{{ item.label }}</router-link>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatPanel',
	props: ['activePage'],
	data () {
		return {
			menu: {
				'my-page': {
					active: false,
					label: 'ダッシュボード'
				},
				'messages': {
					active: false,
					label: 'メッセージ'
				},
				'favourites': {
					active: false,
					label: 'お気に入り企業'
				},
				'tickets': {
					active: false,
					label: 'チケット購入'
				},
				'notifications': {
					active: false,
					label: 'お知らせ'
				},
				'accounts': {
					active: false,
					label: 'プロフィール編集'
				}
			},
			user: this.$store.state.user
		};
	},
	watch: {
		activePage: {
			immediate: true,
			handler (value) {
				for (let name in this.menu) {
					this.menu[name].active = name === value;
				}
			}
		}
	}
}
</script>

<style scoped>
.panel {
	border-right: 1px solid #f0f0f0;
	width: 220px;
}

.avatar-container,
.menu-container li {
	align-items: center;
	display: flex;
}

.avatar-container {
	height: 200px;
	justify-content: center;
}

.avatar {
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	padding: 10px;
	width: 100px;
}

.avatar-inner .name {
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

.menu-container {
	border-top: 1px solid #f0f0f0;
	padding: 40px 20px;
	user-select: none;
}

.menu-container .icon {
	color: #ccc;
	font-size: 1.3em;
	margin-right: 10px;
}

.menu-container li:hover,
.menu-container li:hover .icon,
.menu-container li.active,
.menu-container li.active .icon {
	color: #35c379;
}

.menu-container li,
.menu-container li a {
	color: #212121;
}

.menu-container li {
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;
}

.menu-container li:not(:last-child) {
	margin-bottom: 20px;
}

.others {
	font-size: .9em;
	margin-bottom: 40px;
	padding: 0 20px;
	user-select: none;
}

.others h4 {
	color: #ccc;
}

.others h4,
.others li:not(:last-child) {
	margin-bottom: 15px;
}

.others li {
	cursor: pointer;
}

.others li:hover {
	color: #35c379;
}
</style>
