<template>
	<div class="step-indicator">
		<div class="item" :active="activeStep == step"
			 v-for="(label, step) in steps"
		>
			<router-link v-if="activeStep != step" class="link"
						 :to="'/project/edit/' + step"
			>
				<div class="number">{{ step }}</div>
				<div class="label">{{ label }}</div>
			</router-link>
			<div v-else class="non-link">
				<div class="number">{{ step }}</div>
				<div class="label">{{ label }}</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatProjectEditStepIndicator',
	props: ['activeStep', 'projectId'],
	data () {
		return {
			steps: {
				1: '基本情報',
				2: '自社について',
				// 3: '共創イメージ',
				// 4: '自社タグ',
				3: '探したいタグ'
			}
		};
	}
}
</script>

<style scoped>
.step-indicator,
.step-indicator .item,
.step-indicator .link,
.step-indicator .non-link,
.step-indicator .number {
	align-items: center;
	display: flex;
	justify-content: center;
}

.step-indicator {
	justify-content: center;
	margin: 50px 0;
}

.step-indicator .item,
.step-indicator .link,
.step-indicator .non-link {
	flex-direction: column;
}

.step-indicator .item:not(:last-child) {
	margin-right: 85px;
}

.step-indicator .number {
	border-radius: 50px;
	font-size: 1.3em;
	height: 48px;
	width: 48px;
}

.step-indicator .item:not([active="true"]) .number {
	background-color: #f2f2f2;
	color: #acb0b0;
	box-shadow: 0 0 0 1px #d5d8d8;
}
.step-indicator .item[active="true"] .number {
	background-color: #35c379;
	background-image: linear-gradient(to right bottom,#3cc6b5, #3bd986);
	color: #fff;
}

.step-indicator .item:not(:last-child) .number {
	position: relative;
}

.step-indicator .item:not(:last-child) .number::after {
	position: absolute;
	top: 24px;
	right: -150%;
	background-color: #acb0b0;
	content: "";
	height: 1px;
	width: 40px;
}

.step-indicator .label {
	margin-top: 15px;
}

.step-indicator .item:not([active="true"]) .label {
	color: #acb0b0;
}

.step-indicator .item[active="true"] .label {
	color: #35c379;
}
</style>
