<template>
	<div id="side-menu" :show="show">
		<div class="wrapper">
			<div class="mask" @click="$emit('close')"></div>
			<div class="menu" ref="menu">
				<i class="icon icon-close" @click="$emit('close')"></i>
				<div v-if="userData" class="user-info">
					<div class="avatar">
						<img :src="userData.avatar" alt="">
					</div>
					<div class="name">{{ userData.name }}</div>
				</div>

				<div class="upper">
					<div v-if="userData" class="section">
						<div class="label">企業管理</div>
						<div class="links">
							<div class="link" @click="goto({name: 'my-page'})">
								ダッシュボード
							</div>
							<div class="link" @click="goto({name: 'messages'})">
								メッセージ
							</div>
							<div class="link" @click="goto({name: 'favourites'})">
								お気に入り企業
							</div>
							<div class="link" @click="goto({name: 'tickets'})">
								チケット購入
							</div>
						</div>
					</div>
					<div v-if="userData" class="section">
						<div class="label" @click="goto({name: 'search'})">
							企業一覧
						</div>
					</div>
					<div v-else class="user-info">
						<button type="button" class="green goto-register register"
								@click="goto({name: 'register'})"
						>
							会員登録
						</button>
						<span class="login-link" @click="goto({name: 'login'})">
							ログイン
						</span>
					</div>
				</div>

				<div class="lower">
					<div class="link" @click="goto({name: 'notifications'})">
						お知らせ
					</div>
					<div class="link" @click="goto({name: 'about'})">
						MATCHKUNとは
					</div>
					<div class="link" @click="goto({name: 'contact'})">
						お問い合わせ
					</div>
					<div class="link" v-if="userData">
						<span @click="$emit('exit')">ログアウト</span>
					</div>
					<div class="link social">
						<a class="item" target="_blank">
							<i class="icon icon-facebook"></i>
						</a>
						<a class="item" target="_blank">
							<i class="icon icon-twitter"></i>
						</a>
						<a class="item" target="_blank">
							<i class="icon icon-youtube"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatSideMenu',
	props: ['show', 'userData'],
	methods: {
		goto (route) {
			this.$router.push(route);
			this.$emit('close');
		}
	}
}
</script>

<style scoped>
#side-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	transition: visibility .2s, z-index .2s;
	visibility: hidden;
	width: 100%;
	z-index: -1;
}

#side-menu[show="true"] {
	transition: visibility 0s;
	visibility: visible;
	z-index: 10000;
}

#side-menu .mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(0);
	background-color: transparent;
	transition: background-color .2s;
	z-index: 1;
}

#side-menu[show="true"] .mask {
	backdrop-filter: blur(15px);
	background-color: rgba(0,0,0,.5);
}

#side-menu .menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	transform: translateX(100%);
	transition: transform .2s ease-out;
	width: 260px;
	z-index: 2;
}

#side-menu[show="true"] .menu {
	transform: translateX(0);
}

.icon-close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	font-size: 2em;
}

.user-info {
	align-items: center;
	background-color: #ccc;
	display: flex;
	justify-content: flex-start;
	padding: 20px;
}
.user-info .login-link {
	color: #fff;
	margin-left: 20px;
}

.user-info .avatar {
	background-color: #fff;
	/*box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.1);*/
	border-radius: 50%;
	height: 70px;
	margin-right: 10px;
	overflow: hidden;
	width: 70px;
}

.user-info .name {
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}

.section {
	padding: 20px;
}

.section:last-child {
	padding-top: 0;
}

.link {
	align-items: center;
	display: flex;
	font-size: .9em;
	font-weight: bold;
	height: 50px;
	padding: 0 20px;
}

.upper {
	border-bottom: 1px solid #ccc;
}

.lower {
	color: #999;
	font-size: 12px;
}

.lower .link {
	height: 30px;
}

.social .item {
	font-size: 20px;
}

.social .item:not(:last-child) {
	margin-right: 15px;
}

</style>
