<template>
	<div class="search">
		<div class="wrapper">
			<div class="category-select">
				<div class="wrapper">
					<select class="select" v-model="$store.state.searchType">
						<option value="">すべて</option>
						<option value="name">企業名</option>
						<option value="resource">リソース</option>
						<option value="require">ニーズ</option>
					</select>
					<i class="icon icon-arrow-down-triangle"></i>
				</div>
			</div>
			<input class="search-input" type="text" autocomplete="off"
				   placeholder="キーワードを入力"
				   v-model="$store.state.keywords"
				   @keyup.enter="redirectSearch"
			>
			<i class="icon icon-search" @click="redirectSearch"></i>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatSearch',
	props: {
		type: {
			default: '',
			type: String
		}
	},
	data () {
		return {
			keywords: this.$store.state.keywords,
			searchType: this.$store.state.searchType,
			categorySelect: [
				{
					label: 'すべて',
					selected: false,
					value: ''
				},
				{
					label: '企業名',
					selected: true,
					value: 'name'
				},
				{
					label: 'リソース',
					selected: false,
					value: 'resource'
				},
				{
					label: 'ニーズ',
					selected: false,
					value: 'require'
				}
			]
		};
	},
	watch: {
		keywords (val) {
			val = val.trim();
			this.$store.state.keywords = val;
		},

		searchType (val) {
			val = val.trim();
			this.$store.state.searchType = val;
		}
	},
	methods: {
		redirectSearch () {
			this.$router.push({
				name: 'search-projects',
				// params: {
				// 	keywords: this.keywords.trim(),
				// 	type: this.searchType
				// }
			});
		},
	}
}
</script>

<style scoped>
.search {
	align-items: center;
	display: flex;
	justify-content: center;
}

.search > .wrapper {
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: flex;
	height: 40px;
	padding: 3px;
	width: 400px;
}

.category-select .select,
.search-input {
	border: none;
}

.category-select .select,
.search .icon-search {
	cursor: pointer;
}

.category-select {
	height: 100%;
}

.category-select .icon {
	position: absolute;
	top: 2px;
	right: 6px;
	color: #acb0b0;
	font-size: 1.3em;
	pointer-events: none;
	transition: color .5s;
}

.category-select .select {
	appearance: none;
	background-color: #f2f2f2;
	border-radius: 4px;
	font-size: .9em;
	height: 100%;
	outline: none;
	padding: 0 40px 0 15px;
}

.search-input {
	flex-grow: 1;
	font-size: 1em;
	line-height: 1.5em;
	outline: none;
	padding: 0 10px;
	width: 200px;
}

.search .icon-search {
	color: #acb0b0;
	font-size: 1.5em;
	margin-right: 5px;
	transform: translateY(-2px);
	transition: color .5s;
}

@media (min-width: 768px) {
	.search .icon-search:hover,
	.category-select:hover .icon {
		color: #3a4444;
	}
}

@media (max-width: 767px) {
	.search > .wrapper {
		width: 80%;
	}

	.search-input {
		width: calc(100% - 20px - 21px);
	}
}
</style>
