<template>
	<div class="tabs">
		<div class="tab-container">
			<div class="tab"
				 v-for="(item, i) in items"
				 :active="item.active"
				 :ref="i"
				 @click="$emit('switch-tab', item.id)"
			>
				<div class="label">{{ item.label }}</div>
				<div class="tag">{{ item.tag }}</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatTabs',
	props: ['items']
}
</script>

<style scoped>
.tabs {
	--indicator-height: 3px;
	--indicator-width: 0;
	--tab-width: auto;
	border-bottom: 1px solid #eaebeb;
	user-select: none;
}

.tab,
.tag,
.tab-container {
	display: flex;
}

.tab,
.tag {
	align-items: center;
	justify-content: center;
}

.tab-container {
	align-items: stretch;
	justify-content: space-between;
}

.tab {
	flex-grow: 1;
	padding: 10px 0;
}

.tab[active] {
	border-bottom: 3px solid #35c379;
	color: #35c379;
}

.tab:not([active]) {
	color: #828989;
	cursor: pointer;
}

.tab:not([active]):hover {
	color: #212121;
}

.tag {
	border-radius: 16px;
	font-size: .7em;
	height: auto;
	margin-left: 5px;
	min-width: 30px;
	padding: 1px 5px;
}

.tag,
.tag:hover {
	background-color: #ccc;
	color: #fff;
	cursor: default;
}

@media (max-width: 1200px) {
	.tab-container {
		width: calc(100% - 40px);
	}
}
</style>
