<template>
	<div class="tooltip">
		<div class="wrapper">
			<div class="label" @click="show = !show">
				<slot></slot>
			</div>
			<div class="tip" :show="show" @click="show = false">{{ tip }}</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MatTooltip',
	props: ['tip'],
	data () {
		return {
			show: false
		};
	},
	methods: {
		showTooltip () {
			console.log(1);
		}
	}
}
</script>

<style scoped>
.label {
	cursor: pointer;
	user-select: none;
}

.tip {
	position: absolute;
	top: -30px;
	left: 50%;
	background-color: #f2f2f2;
	border-radius: 4px;
	color: #828989;
	cursor: pointer;
	font-size: .7rem;
	line-height: 25px;
	opacity: 0;
	padding: 0 10px;
	transform: translateX(-50%);
	transition: opacity .2s, z-index .2s;
	user-select: none;
	white-space: nowrap;
	z-index: -10;
}

.tip[show="true"] {
	opacity: 1;
	transition: opacity .2s, z-index 0s;
	z-index: 100;
}
</style>
