<template>
	<div class="email_verification_required">
		メール未認証です。ご登録のメールアドレスより認証を行ってください。
		<button v-if="inProgress" class="white lined">送信中...</button>
		<button v-else-if="timeLeft" class="white lined">もう一度送信 ({{Math.ceil(timeLeft / 1000)}}秒)</button>
		<button v-else class="white lined" @click="send">認証メールを再送する</button>
	</div>
</template>

<script>
import {resendConfirmationEmail} from '../mixins/global';

export default {
	name: 'MatUserEmailNotVerified',
	data () {
		return {
			inProgress: false,
			timeLeft: 0
		};
	},
	methods: {
		async send () {
			try {
				await resendConfirmationEmail();
				this.inProgress = false;
			} catch (err) {
				console.log(err);
			}

			let interval_id = setInterval(() => {
				if (this.timeLeft <= 0) {
					clearInterval(interval_id);
					return;
				}
				this.timeLeft -= 100;
			}, 100);
		}
	}
}
</script>

<style scoped>
.email_verification_required {
	align-items: center;
	background-color: #35c379;
	color: #fff;
	display: flex;
	height: 60px;
	justify-content: space-between;
	padding: 0 20px;
}
</style>
