<template>
	<div v-if="user && projectId" class="quick-message">
		<div class="mask" @click="$emit('close')">
			<i class="icon icon-close-circled"></i>
		</div>
		<div class="box">
			<div class="container">
				<div class="sender">
					<textarea v-model="currentMessage"></textarea>
					<div class="actions">
						<button class="green" state="progress"
							v-if="currentMessage.trim() === '' || currentMessage.trim().length > 500"
						>メッセージを送信</button>
						<button v-else class="green" @click="send">メッセージを送信</button>
						<button v-if="1 === 2" class="lined">下書き保存</button>
						<button class="lined" @click="$emit('close')">閉じる</button>
						<span class="remaining-tickets">残りチケット枚数 {{user.tickets}} 枚</span>
					</div>
				</div>
				<div class="templates">
					<div class="title">テンプレートから選択</div>
					<tab-box :items="templates" box-height="calc(100% - 50px)" @template-chosen="prefillMessage" />
				</div>
			</div>
		</div>

		<mat-modal v-if="message.length" :data="modal" @close="message = ''">
			<template v-slot:content>
				<p v-html="message"></p>
			</template>
		</mat-modal>
	</div>
</template>

<script>
import {mapState} from 'vuex';
import { sendMessage } from '../mixins/global';

export default {
	name: 'QuickMessage',
	props: ['projectId', 'ownerId'],
	data () {
		return {
			inProgress: false,
			currentMessage: '',
			templates: [
				{
					title: 'まずは共創・協業に向けて自社の紹介をさせてほしい',
					content: "●●株式会社の●●と申します。\n" +
						"弊社は設立●●年の●●メーカーとなり、●●に関する製造・開発を手掛けております。\n" +
						"現在、「●●で●●な社会課題を解決する」をテーマに●●の実現に向けて共創パートナーを探索しております。\n" +
						"URL：××××\n" +
						"貴社のPRページ記載の●●事業において、\n" +
						"弊社事業の●●と掛け合わせることで新たに●●な商品開発が可能ではないかと考えています。\n" +
						"つきましては、貴社をご訪問の上、\n" +
						"共創イメージのすり合わせ、ディスカッションの機会をいただければと思うのですが、\n" +
						"下記日程でご都合のよろしい日はございますでしょうか？\n" +
						"当日は、●●の責任者をしております私が伺います。\n" +
						"〈訪問候補日時〉\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"上記以外でも、○○様のご都合のよい日時を折り返しご指示いただければ幸いに存じます。\n" +
						"オンライン面談やお電話、メールベースをご希望の場合は遠慮なくおっしゃってください。\n" +
						"ご検討の程、何卒よろしくお願いいたします。\n" +
						"署名",
					button: {
						event: 'template-chosen',
						text: 'この定型文を利用する'
					}
				},
				{
					title: '具体的な共創イメージがあり面談を申し込みたい',
					content: "●●株式会社の●●と申します。\n" +
						"弊社は設立●●年の●●メーカーとなり、●●に関する製造・開発を手掛けております。\n" +
						"現在、「●●で●●な社会課題を解決する」をテーマに●●の実現に向けて共創パートナーを探索しております。\n" +
						"URL：××××\n" +
						"貴社のPRページ記載の●●事業において、\n" +
						"弊社事業の●●と掛け合わせることで新たに●●な商品開発が可能ではないかと考えています。\n" +
						"つきましては、貴社をご訪問の上、\n" +
						"共創イメージのすり合わせ、ディスカッションの機会をいただければと思うのですが、\n" +
						"下記日程でご都合のよろしい日はございますでしょうか？\n" +
						"当日は、●●の責任者をしております私が伺います。\n" +
						"〈訪問候補日時〉\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"上記以外でも、○○様のご都合のよい日時を折り返しご指示いただければ幸いに存じます。\n" +
						"オンライン面談やお電話、メールベースをご希望の場合は遠慮なくおっしゃってください。\n" +
						"ご検討の程、何卒よろしくお願いいたします。\n" +
						"署名",
					button: {
						event: 'template-chosen',
						text: 'この定型文を利用する'
					}
				},
				{
					title: '具体的な共創イメージがあり面談を申し込みたい',
					content: "●●株式会社の●●と申します。\n" +
						"弊社は設立●●年の●●メーカーとなり、●●に関する製造・開発を手掛けております。\n" +
						"現在、「●●で●●な社会課題を解決する」をテーマに●●の実現に向けて共創パートナーを探索しております。\n" +
						"URL：××××\n" +
						"貴社PRページを拝見し、\n" +
						"●●事業で展開されている●●について弊社事業との親和性を感じており、\n" +
						"拝見した内容をより詳しくお伺いできればと考えております。\n" +
						"下記日程でご都合のよろしい日はございますでしょうか？\n" +
						"当日は、●●の責任者をしております私が伺います。\n" +
						"〈訪問候補日時〉\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"・○○月○○日（○）00:00-00:00\n" +
						"上記以外でも、○○様のご都合のよい日時を折り返しご指示いただければ幸いに存じます。\n" +
						"オンライン面談やお電話、メールベースをご希望の場合は遠慮なくおっしゃってください。\n" +
						"ご検討の程、何卒よろしくお願いいたします。\n" +
						"署名",
					button: {
						event: 'template-chosen',
						text: 'この定型文を利用する'
					}
				},
			],
			modal: {},
			message: ''
		};
	},
	computed: {
		...mapState({
			project: state => state.project,
			user: state => state.user
		})
	},
	methods: {
		prefillMessage (template) {
			this.currentMessage = template.content;
		},

		send () {
			if (this.inProgress) return;

			let _this = this,
				message = this.currentMessage.trim();
			if (!message.length) {
				this.message = '無効なメッセージ。 値の長さは1～500文字の間でなければなりません。';
				return;
			}

			this.inProgress = true;
			sendMessage(this.ownerId, this.projectId, message)
				.then(() => {
					_this.currentMessage = '';
					_this.$emit('close');
				})
				.catch(err => {
					_this.message = err;
				})
				.then(() => {
					_this.inProgress = false;
				});
		}
	}
}
</script>

<style scoped>
.sender,
.templates {
	height: 100%;
	width: 50%;
}

.container,
.actions,
.tab-boxes .title {
	display: flex;
}

.quick-message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 10000000;
}

.container {
	align-items: stretch;
	padding: 30px;
}

.mask {
	position: relative;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
	height: 50%;
}

.mask .icon {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 1.5em;
	color: rgba(255,255,255,.5);
}

.sender {
	margin-right: 15px;
}

.box {
	background-color: #fff;
	height: 50%;
}

textarea {
	border: 1px solid #acb0b0;
	border-radius: 4px;
	font-size: 1.3em;
	height: calc(100% - 70px);
	line-break: auto;
	line-height: 1.5em;
	margin-bottom: 20px;
	padding: 20px;
	resize: none;
	white-space: pre-wrap;
	width: 100%;
}

.actions {
	align-items: center;
	/*justify-content: space-between;*/
}

.actions > *:not(:last-child) {
	margin-right: 10px;
}

.templates {
	margin-left: 15px;
}

.templates > .title {
	font-size: 1.4em;
	margin-bottom: 20px;
}

.remaining-tickets {
	color: #828989;
}
</style>
