<template>
	<div class="tab-box" ref="box">
		<div class="tab-box-wrapper">
			<div class="tab-box-item"
				 v-for="(item, i) in items"
				 :active="active === i"
			>
				<div class="tab-box-head"
					 @click="toggleActive(i)"
				>
					{{item.title}}
					<i class="icon icon-arrow-down-open"></i>
				</div>
				<div class="tab-box-body">
					<div class="tab-box-content">
						{{item.content}}
					</div>
					<div v-if="item.button" class="tab-box-buttons">
						<button class="green lined" @click="$emit(item.button.event, item)">
							{{item.button.text}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'TabBox',
	props: {
		boxHeight: {
			default: '100%',
			type: String
		},

		items: {
			default: [],
			type: Array,
			validator (val) {
				return val.length > 0;
			}
		}
	},
	data () {
		return {
			active: -1
		};
	},
	mounted() {
		if (this.$refs['box']) {
			this.$refs['box'].style.setProperty('--box-height', this.boxHeight);
		}
	},
	methods: {
		toggleActive (i) {
			if (this.active === i) {
				this.active = -1;
				return;
			}

			let height = this.$refs['box'].getBoundingClientRect().height;
			this.$refs['box'].querySelectorAll('.tab-box-head').forEach(head => {
				height -= head.getBoundingClientRect().height;
			});
			this.$refs['box'].style.setProperty('--body-height', height + 'px');
			this.active = i;
		}
	}
}
</script>

<style scoped>
.tab-box {
	--body-height: 0;
	--box-height: 100%;
	height: var(--box-height);
}

.tab-box-wrapper {
	border: 1px solid #eaebeb;
	border-radius: 4px;
	color: #2f3a3a;
}

.tab-box-item {}

.tab-box-item:not([active="true"]):last-child .tab-box-head {
	border-bottom: none;
}

.tab-box-head {
	position: relative;
	border-bottom: 1px solid #eaebeb;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	line-height: 50px;
	padding-left: 20px;
	user-select: none;
}

.tab-box-head .icon {
	position: absolute;
	top: 1px;
	right: 20px;
	transition: transform .2s;
}

.tab-box-item[active="true"] .tab-box-head .icon {
	transform: rotateZ(180deg);
}

.tab-box-body {
	padding: 0 20px;
	height: 0;
	overflow: hidden;
}

.tab-box-item[active="true"] .tab-box-body {
	border-bottom: 1px solid #eaebeb;
	height: var(--body-height);
	padding: 20px;
}

.tab-box-content {
	height: calc(100% - 60px);
	line-height: 1.6em;
	opacity: .8;
	overflow-y: auto;
}

.tab-box-buttons {
	margin-top: 20px;
}

button {}
</style>
