<template>
	<div id="app">
		<mat-header :user="user"/>
		<main>
			<div class="container">
				<router-view/>
			</div>
			<mat-footer/>
		</main>
	</div>
</template>

<script>
import MatFooter from '@/components/MatFooter';
import MatHeader from '@/components/MatHeader';
import { getUserData } from './mixins/global';

export default {
	name: 'App',
	components: {
		'mat-footer': MatFooter,
		'mat-header': MatHeader
	},
	data () {
		return {
			currentRoute: this.$route,
			ignoredPages: ['home', 'login', 'register', 'register-confirm'],
			user: this.$store.state.user
		};
	},
	// watch: {
	// 	'$route': function (to, from) {
	// 		document.querySelector('main').scrollTop = 0;
	// 	}
	// },
	mounted() {
		getUserData()
			.then(user => {
				this.$store.state.user = user;
			})
			.catch(err => {
				console.log(err);
			});
	}
}
</script>

<style>
#app {
	height: 100%;
	width: 100%;
	grid-template-rows: 65px auto;
}

#app,
main {
	/*display: flex;*/
	/*flex-direction: column;*/
	display: grid;
}

main,
main > .container {
	flex-grow: 1;
}

#app,
main,
main > .container {
	width: 100%;
}

main {
	grid-template-rows: auto 1fr;
	/*height: calc(100% - 65px);*/
	height: 100%;
	overflow-y: auto;
	/*scroll-behavior: smooth;*/
}

@media (max-width: 767px) {
	#app {
		grid-template-rows: 50px auto;
	}
}
</style>
